{% include "_include/key-value__item--chat.html" %}

{% set list = [

	{
		key   : "Орган сертификации",
		value : "Ассоциация «СЦ НАСТХОЛ»"
	},
	{
		key   : "Испытательная лаборатория",
		value : "Лаборатория  «СЦ НАСТХОЛ»"
	},
	{
		key   : "Адрес проведения испытания",
		value : "141101, РОССИЯ, Московская область, Щелковский район, город Щелково, улица&nbsp;Заводская, дом&nbsp;14, лит.&nbsp;А <br>(здание испытательного комплекса и&nbsp;центральной заводской лаборатории)"
	}

]%}

{% include "_include/key-value__item.html" %}

{% include "_include/expert-group.html" %}