			<div class="list-card">

{% set list = [

	{
		name  : "Насос центробежный консольный",
		param : [
			{
				key   : "Марки",
				links : ["НКВ","НК","ТКА","ТКАв","НКв","ТКАм"]
			},
			{
				key   : "Технические условия",
				value : "ТУ 3631-042-00217610-2012"
			},
			{
				key   : "Материал",
				list : [
					'"С": 25Л, 20ГМЛ',
					'"Х": 20Х5МЛ, 20Х13Л, 15Х14НЛ',
					'"Н": 12Х18Н9ТЛ, 12Х18Н12М3ТЛ'
				]
			},
			{
				key   : "Перекачиваемая среда <br>и температура жидкости,&nbsp;°С",
				value : "Подача от 12 до 1500м³/ч, напор от 125 до 800м, нефть, сжиженные углеводородные газы и нефтепродукты с температурой от минус 80 до +400°С, плотностью не более 1800&nbsp;кг/м³"
			},
			{
				key   : "Дополнительные технические характеристики",
				value : "УХЛ, У, Т категории  размещения 1,2,3 и 4 по ГОСТ 15150. Срок службы 20&nbsp;лет. Тип ОН2, согласно СТО IIOGT S.10.1&nbsp;–&nbsp;2020."
			}
		]
	},
	{
		name  : "Насос центробежный двухопорный",
		param : [
			{
				key   : "Марки",
				links : ["НТ","ТСД"]
			},
			{
				key   : "Технические условия",
				value : "ТУ 51-0303-29-2005"
			},
			{
				key   : "Материал",
				list : [
					'"С": 25Л, 20ГМЛ',
					'"Х": 20Х5МЛ, 20Х13Л, 15Х14НЛ',
					'"Н": 12Х18Н9ТЛ, 12Х18Н12М3ТЛ'
				]
			},
			{
				key   : "Перекачиваемая среда <br>и температура жидкости,&nbsp;°С",
				value : "Подача от 63 до 1500м³/ч, напор от 40  до 370м, нефть, сжиженные углеводородные газы и нефтепродукты с температурой от минус 80 до +420°С, плотностью не более 1200&nbsp;кг/м³"
			},
			{
				key   : "Дополнительные технические характеристики",
				value : "УХЛ, У, Т категории  размещения 1,2,3 и 4 по ГОСТ 15150. Срок службы 20&nbsp;лет. Тип ВВ2, ВВ5, согласно СТО IIOGT S.10.1&nbsp;–&nbsp;2020."
			}
		]
	}

] %}

{% for item in list %}

				<article class="list-card__item">

					<h2 class="list-card__name">
						{{ item.name }}
					</h2>

					<table class="table-mini">

	{% for tr in item.param %}

						<tr>

							<th>
								{{ tr.key | safe }}:
							</th>

							<td>

		{% if tr.value %}

								{{ tr.value | safe }}

		{% endif %}


		{% if tr.links %}

			{% for a in tr.links %}

								<a href="/" class="link" target="_blank">{{ a }}</a>{% if loop.last !== true and tr.links.length > 1 %},{% endif %}

			{% endfor %}

		{% endif %}


		{% if tr.list %}

								<ul>

			{% for li in tr.list %}

									<li>
										{{ li }}{% if loop.last !== true %};{% endif %}
									</li>

			{% endfor %}

								</ul>

		{% endif %}

							</td>

						</tr>

	{% endfor %}

					</table>

				</article>

{% endfor %}

			</div>