			<div class="list-card">

{% set list = [

	{
		name  : "Коснольный центробежный насос OH1, OH2",
		param : [
			{
				key   : "Материал",
				list : [
					'"С": 25Л, 20ГМЛ',
					'"Х": 20Х5МЛ, 20Х13Л, 15Х14НЛ',
					'"Н": 12Х18Н9ТЛ, 12Х18Н12М3ТЛ'
				]
			},
			{
				key   : "Перекачиваемая среда",
				list : [
					"нефть",
					"сжиженные углеводородные газы",
					"нефтепродукты"
				]
			},
			{
				key   : "Технические характеристики:",
				list : [
					"подача от 12 до 1500м³/ч",
					"напор от 125  до 800м",
					"температура от -80 до +400°С",
					"плотность не более 1800 кг/м³"
				]
			}
		]
	},
	{
		name  : "Одноступенчатый / двухступенчатый центробежный  BB1 / BB2",
		param : [
			{
				key   : "Материал",
				list : [
					'"С": 25Л, 20ГМЛ',
					'"Х": 20Х5МЛ, 20Х13Л, 15Х14НЛ',
					'"Н": 12Х18Н9ТЛ, 12Х18Н12М3ТЛ'
				]
			},
			{
				key   : "Перекачиваемая среда",
				list : [
					"нефть",
					"дизель",
					"вода"
				]
			},
			{
				key   : "Технические характеристики:",
				list : [
					"подача от 12 до 1500м³/ч",
					"напор от 125  до 800м",
					"температура от -80 до +400°С",
					"плотность не более 1800 кг/м³"
				]
			}
		]
	},
	{
		name  : "Одноступенчатый / двухступенчатый центробежный BB4/BB5",
		param : [
			{
				key   : "Материал",
				list : [
					'"С": 25Л, 20ГМЛ',
					'"Х": 20Х5МЛ, 20Х13Л, 15Х14НЛ',
					'"Н": 12Х18Н9ТЛ, 12Х18Н12М3ТЛ'
				]
			},
			{
				key   : "Перекачиваемая среда",
				list : [
					"нефть",
					"нефтепродукты"
				]
			},
			{
				key   : "Технические характеристики:",
				list : [
					"подача от 12 до 1500м³/ч",
					"напор от 125  до 800м",
					"температура от -80 до +400°С",
					"плотность не более 1800 кг/м³"
				]
			}
		]
	},
	{
		name  : "Вертикальный однокорпусный центробежный VS1-VS5",
		param : [
			{
				key   : "Материал",
				list : [
					'"С": 25Л',
					'"Х": 20Х5МЛ',
					'"Н": 12Х18Н9ТЛ'
				]
			},
			{
				key   : "Перекачиваемая среда",
				list : [
					"нефть",
					"нефтепродукты",
					"сжиженные углеводородные газы"
				]
			},
			{
				key   : "Технические характеристики:",
				list : [
					"подача от 12 до 1500м³/ч",
					"напор от 125  до 800м",
					"температура от -80 до +400°С",
					"плотность не более 1800 кг/м³"
				]
			}
		]
	}

] %}

{% for item in list %}

				<article class="list-card__item">

					<h2 class="list-card__name">
						{{ item.name }}
					</h2>

					<table class="table-mini">

	{% for tr in item.param %}

						<tr>

							<th>
								{{ tr.key | safe }}:
							</th>

							<td>

		{% if tr.value %}

								{{ tr.value | safe }}

		{% endif %}


		{% if tr.links %}

			{% for a in tr.links %}

								<a href="/" class="link" target="_blank">{{ a }}</a>{% if loop.last !== true and tr.links.length > 1 %},{% endif %}

			{% endfor %}

		{% endif %}


		{% if tr.list %}

								<ul>

			{% for li in tr.list %}

									<li>
										{{ li }}{% if loop.last !== true %};{% endif %}
									</li>

			{% endfor %}

								</ul>

		{% endif %}

							</td>

						</tr>

	{% endfor %}

					</table>

				</article>

{% endfor %}

			</div>