								<div class="accordion__body">

									<div class="product__table">

										<table class="table-param">

											<thead>
												<tr>
													<td>
														Оборудование
													</td>
													<td>
														Характеристики
													</td>
													<td>
														Аттестация
													</td>
												</tr>
											</thead>
{% set tbody = [

	[
		"<p>Стенд СИД 00.00.00</p>",
		"<p class=\"white-space-nowrap\">Диапазон измерения: <br>- виброускорения 10…3000Гц<br>- виброскорости 10…1000Гц<br>- виброперемещения 10…Гц<br>- температуры -20…+100°С<br>- давления 0…6МПа<br>- расхода жидкости 2…1500м³/час<br>- частоты вращения 300…3600об/мин<br>- мощности 0…400кВт<br>- КПД 0…100%<br>- подачи 2…1500 м³/час<br>- напора 0…500м</p>",
		"<p>Протокол периодической аттестации №22 от 25.06.2020 г., до 25.06.2021 г.</p><p>Протокол первичной аттестации №10 от 13.04.2012г.</p>"
	],
	[
		"<p>Стенд для гидроиспытаний корпусных деталей и узлов керосином П7871-5026.</p>",
		"<p>Испытательное давление до 15МПа</p>",
		"<p>Протокол периодических испытаний №40 от 28.11.2019.</p><p>Протокол первичной аттестации №58 от 25.06.2009г.</p>"
	],
	[
		"<p>Стенд для гидроиспытаний деталей насосов водой А 3450-0-0</p>",
		"<p>Испытательное давление до 16МПа</p>",
		"<p>Протокол периодических испытаний  №20 от 2.06.2020.</p><p>Аттестат первичной аттестации №1 от 27.01.2012г.</p>"
	]

] %}

											<tbody>
{% for tr in tbody %}

												<tr>
	{% for td in tr %}
													<td>
														{{ td | safe }}
													</td>
	{% endfor %}

												</tr>
{% endfor %}
											</tbody>

										</table>

									</div>

								</div>