								<div class="accordion__body">

									<div class="product__table table-scroll">

										<table class="table-param">

											<thead>
												<tr>
													<td>
														Технологическая операция
													</td>
													<td>
														Метод
													</td>
													<td>
														Периодичность
													</td>
													<td>
														Персонал
													</td>
													<td>
														Регистрация контроля
													</td>
												</tr>
											</thead>
{% set tbody = [

	[
		"Заготовительные операции, контроль отливок",
		"ВИК (рулетка, ШЦ, глубиномер, линейка)",
		"Каждая деталь",
		"Работник БТК",
		"«Журнал приемки»"
	],
	[
		"Механическая обработка",
		"ВИК (ШЦ, Глубиномер)",
		"Каждая деталь",
		"Работник БТК",
		"«Журнал приемки деталей»"
	],
	[
		"Сборка/ сварка",
		"Линейка, УШС-3",
		"Каждая сборочная единица",
		"Работник БТК",
		"Журнал приемки деталей/ Технологический паспорт"
	],
	[
		"Подготовка поверхности",
		"Компаратор, скотч, психрометрический гигрометр, пирометр",
		"Каждая сборочная единица",
		"Работник БТК",
		"Журнал контроля БТК"
	],
	[
		"Контроль и испытания",
		"ВИК, Протокол",
		"Каждый насосный агрегат",
		"Работник БТК",
		"Журнал контроля БТК/ Технологический паспорт/Протокол приемо-сдаточных испытаний"
	],
	[
		"Окраска",
		"ВИК, толщинометрия",
		"Каждая сборочная единица",
		"Работник БТК",
		"Журнал контроля БТК/ Технологический паспорт"
	],
	[
		"Консервация, упаковка",
		"ВИК",
		"Каждый насосный агрегат",
		"Работник БТК",
		"Журнал контроля БТК/ Технологический паспорт"
	]

] %}

											<tbody>
{% for tr in tbody %}

												<tr>
	{% for td in tr %}
													<td>
														<p>
															{{ td | safe }}
														</p>
													</td>
	{% endfor %}

												</tr>
{% endfor %}
											</tbody>

										</table>

									</div>

								</div>