{% set title = "Выдача сертификата | Подписан" %}
{% set folder = "certification/step-5/ready" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/certification/step-5/closed/" class="content__box indent form">

{% include "certification/step-5/step.html" %}

{% set status = "green" %}
{% include "certification/step-5/signature.html" %}

{% set status = "load" %}
{% include "certification/step-5/certificate.html" %}

{% include "certification/step-5/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}