{% set title = "Выезд на площадку | Подтверждено" %}
{% set folder = "manager/certification/step-2/done" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/" class="content__box indent">

{% set status = "alarm" %}
{% include "manager/certification/head.html" %}

{% set step = 2 %}
{% include "certification/steps.html" %}

					<dl class="key-value key-value--column">

{% include "manager/certification/info.html" %}

{% include "manager/certification/step-2/programm.html" %}

{% include "manager/certification/step-2/date-time.html" %}

					</dl>

{% set status = "done" %}
{% include "manager/certification/step-2/status.html" %}

{% set files = ["not","not"] %}
{% include "manager/certification/step-2/files.html" %}

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Дата и время подтверждены пользователем. Вам необходимо ссобщить об этом эксперту в личной переписке.
						</p>

					</div>

{% include "manager/certification/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}