{% set title = "Проведение сертификации" %}
{% set folder = "certification/step-1" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/certification/step-2/" class="content__box indent form">

{% include "certification/step-1/step.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-1/experts.html" %}

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Скачать отчет с замечаниями:

							</dt>

							<dd class="key-value__value">

								<a class="btn btn-download" href="/favicon.png" download="Камеральная эксп_1234.doc" title="Скачать Камеральная эксп_1234">
									<span class="btn-download__inner">
										<span class="btn-download__text">
											Камеральная эксп_1234.doc
										</span>
									</span>
								</a>

							</dd>

						</div>

{% include "certification/file-comm.html" %}

					</dl>

{% include "certification/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}