{% set title = "Проведение сертификации" %}
{% set folder = "certification/step-1" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/certification/step-2/" class="content__box indent form">

{% include "certification/step-1/step.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-1/experts.html" %}

{% set status = "load" %}
{% include "certification/step-1/analiz.html" %}

{% include "certification/file-comm.html" %}

					</dl>

{% include "certification/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}