{% set title = "Выдача сертификата | Сертификат выдан" %}
{% set folder = "certification/step-5/closed" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/step-5/closed/head.html" %}

				<div class="content__box indent">

{% include "certification/step-5/closed/header.html" %}

{% include "certification/step-5/closed/ooo.html" %}

					<hr>

{% include "certification/step-5/closed/data.html" %}

{% set status = "load" %}
{% include "certification/step-5/certificate.html" %}

				</div>

			</div>

		</div>

	</div>

{% endblock %}