{% set title = "Личный кабинет" %}

{% set folder = "manufacture" %}

{% extends "template/base.html" %}

{% block content %}

	<script>

		document.addEventListener("DOMContentLoaded", () => {

			const eventModalShow = new CustomEvent("modalShow", {
				detail: {
					selector: "first-login"
				}
			});

			window.modal.dispatchEvent(eventModalShow);

		});

	</script>

	<div class="page-head">

		<div class="page-head__title">

			<h1 class="h1">
				{{ title }}
			</h1>

		</div>

	</div>

	<div class="dashboard">

		<article class="dashboard__item">

			<div class="dashboard__head">

				<div class="dashboard__logo">

					<svg width="56" height="56" viewBox="0 0 56 56">
						<circle cx="28" cy="28" r="28" fill="#0C67D3"/>
						<path d="m34.4 24.03-1.19-.94-.27-1.44a1.57 1.57 0 0 0-1.57-1.26h-1.53l-1.18-.94a1.64 1.64 0 0 0-2.05 0l-1.16.94h-1.53c-.78 0-1.43.54-1.57 1.27l-.25 1.43-1.17.94c-.59.48-.74 1.3-.35 1.93l.76 1.28-.26 1.44a1.5 1.5 0 0 0 1.03 1.7l.4.14.01 5.95c0 .56.38 1.05 1 1.29a2.24 2.24 0 0 0 1.8-.09l2.34-1.2 2.35 1.2c.53.28 1.22.3 1.79.09.62-.24 1-.73 1-1.29v-5.95l.41-.14a1.5 1.5 0 0 0 1.02-1.7l-.26-1.45.76-1.27c.4-.64.25-1.46-.34-1.93Zm-10.87.45c.28-.23.48-.54.54-.9l.23-1.25h1.32c.37 0 .73-.13 1.03-.36l1.01-.81 1.02.81c.28.23.64.36 1.01.36h1.32l.23 1.24c.06.36.26.67.54.9l1.02.82-.66 1.1c-.18.32-.25.67-.18 1.03l.23 1.24-1.25.44a1.6 1.6 0 0 0-.82.67l-.66 1.1-1.24-.43a1.63 1.63 0 0 0-1.1 0l-1.24.44-.66-1.1a1.75 1.75 0 0 0-.83-.68l-1.25-.43.23-1.24c.07-.36 0-.72-.18-1.03l-.68-1.1 1.02-.82Zm4.73 10.09a1.35 1.35 0 0 0-1.2 0l-2.3 1.2v-3.15a1.61 1.61 0 0 0 1.47.2l1.44-.5 1.44.5c.48.16 1.02.08 1.46-.23v3.17l-2.3-1.2Z"/>
						<path d="M27.66 29.13a3.07 3.07 0 0 0 3.13-3c0-1.65-1.4-2.99-3.13-2.99a3.07 3.07 0 0 0-3.13 3c0 1.66 1.4 3 3.13 3Zm0-4.26c.73 0 1.32.56 1.32 1.26s-.59 1.28-1.32 1.28a1.3 1.3 0 0 1-1.32-1.27c0-.69.59-1.27 1.32-1.27Z"/>
					</svg>

				</div>

				<h2 class="dashboard__name h1">
					INTI.docs
				</h2>

			</div>

			<p class="dashboard__desc">
				Рассмотрение стандартов ИНТИ и аналитический сервис о стандартах с возможностью покупки
			</p>

			<ul class="dashboard__list">

				<li>
					<a href="/">
						Каталог стандартов
					</a>
				</li>

				<li>
					<a href="/">
						Комитеты и рабочие группы
					</a>
				</li>

				<li>
					<a href="/">
						Предложить стандарт
					</a>
				</li>

				<li>
					<a href="/">
						Мои избранные
					</a>
				</li>

			</ul>

		</article>

		<article class="dashboard__item">

			<div class="dashboard__head">

				<div class="dashboard__logo">

					<svg width="56" height="56" viewBox="0 0 56 56">
						<circle cx="28" cy="28" r="28" fill="#018786"/>
						<path d="M34.5 23.78c1.02 0 1.85.85 1.85 1.9v9.43a1.92 1.92 0 0 1-.54 1.34 1.86 1.86 0 0 1-1.32.55h-9.27c-.5 0-.96-.2-1.31-.55a1.91 1.91 0 0 1-.55-1.34h10.2c.52 0 .93-.42.93-.94v-10.4Zm-14.85-1.89c0-1.04.83-1.89 1.86-1.89h9.27c1.03 0 1.86.85 1.86 1.9v9.43a1.92 1.92 0 0 1-.55 1.34 1.86 1.86 0 0 1-1.31.55H21.5a1.83 1.83 0 0 1-1.32-.55 1.9 1.9 0 0 1-.54-1.34v-9.44Zm1.85 0v9.44h9.28V21.9H21.5Z"/>
						<path d="M24.02 25.94a.93.93 0 0 0-1.02-.21.93.93 0 0 0-.51.51.96.96 0 0 0 .21 1.04l1.86 1.89a.92.92 0 0 0 1.31 0l3.71-3.78a.94.94 0 0 0 .22-1.04.95.95 0 0 0-.51-.51.91.91 0 0 0-1.02.21l-3.05 3.11-1.2-1.22Z"/>
					</svg>

				</div>

				<h2 class="dashboard__name h1">
					INTI.quality
				</h2>

			</div>

			<p class="dashboard__desc">
				Оценка соответствия качества продукции
			</p>

			<ul class="dashboard__list">

				<li>
					<a href="/">
						Подать заявку
					</a>
				</li>

				<li>
					<a href="/">
						Статус заявок
					</a>
				</li>

				<li>
					<a href="/">
						Мои заключения
					</a>
				</li>

			</ul>

		</article>

		<article class="dashboard__item">

			<div class="dashboard__head">

				<div class="dashboard__logo">

					<svg width="56" height="56" viewBox="0 0 56 56">
						<circle cx="28" cy="28" r="28" fill="#3C328F"/>
						<path d="M20.85 33.83h14.83l-.01-11H20.84l.01 11Zm-1.85-11c0-1.01.83-1.83 1.84-1.83h14.84c1.01 0 1.84.82 1.84 1.83v11c0 .5-.2.96-.54 1.3-.35.34-.81.53-1.3.54H20.84c-.49 0-.95-.2-1.3-.54-.35-.34-.54-.8-.54-1.3v-11Z"/>
						<path d="M23.63 21.92v12.83h1.85V21.92h-1.85Z"/>
						<path d="M23.63 27.42h12.96v-1.84H23.63v1.84Z"/>
					</svg>

				</div>

				<h2 class="dashboard__name h1">
					INTI.insights
				</h2>

			</div>

			<p class="dashboard__desc">
				Аналитический сервис с поиском и выбором проверенного оборудования, услуг, технологий
			</p>

			<ul class="dashboard__list">

				<li>
					<a href="/">
						Моя продукция
					</a>
				</li>

				<li>
					<a href="/">
						Мои отзывы и комментарии
					</a>
				</li>

				<li>
					<a href="/">
						Мои избранные
					</a>
				</li>

			</ul>

		</article>

	</div>

{% endblock %}