{% set title = "Проведение сертификации" %}
{% set folder = "certification/disabled" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<div class="content__box indent">

{% include "certification/step-1.html" %}

					<dl class="key-value key-value--table w100p">

{% include "certification/experts.html" %}

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Скачать отчет с замечаниями:

							</dt>

							<dd class="key-value__value">

								<span class="btn btn--disabled">

									Отчет не загружен

								</span>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Загрузить ответы на комментарии:

							</dt>

							<dd class="key-value__value">

								<span class="btn btn--disabled">

									Выберите файл

								</span>

							</dd>

						</div>

					</dl>

					<div class="content__foot">

						<button class="btn btn--white" type="button">
							Есть вопросы?
						</button>

						<button class="btn btn--blue" disabled="disabled">
							Подтвердить
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}