{% set title = "Проведение сертификации" %}
{% set folder = "certification/disabled" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/" class="content__box indent form">

{% include "certification/step-1.html" %}

					<dl class="key-value key-value--column">

{% include "certification/experts.html" %}

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Скачать отчет с замечаниями:

							</dt>

							<dd class="key-value__value">

								<span class="btn btn--disabled">

									Отчет не загружен

								</span>

							</dd>

						</div>

{% set file = "disabled" %}
{% include "certification/file-comm.html" %}

					</dl>

{% include "certification/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}