					<div class="product__flex">

						<div class="product__flex-body">

							<div class="product__sort">

								<h2 class="product__section heading">
									Отзывы
								</h2>

{% set btnReview = true %}
{% set btnRadio = true %}
{% include "_include/sort.html" %}

							</div>

						</div>

						<div class="product__flex-right"></div>

					</div>

					<div class="product__flex product__flex--md-reverse">

						<div class="product__flex-body">

{% include "insights/catalog/product/review/list.html" %}

						</div>

						<div class="product__flex-right">

{% include "insights/catalog/product/review/stat.html" %}

						</div>

					</div>