					<h2 class="product__section heading">
						Отзывы
					</h2>

					<div class="product__flex product__flex--review">

						<div class="product__flex-body">

{% set btnFilter = true %}
{% set btnRadio = true %}
{% include "_include/sort.html" %}

							<div class="product__flex">

								<div class="product__flex-left">

{% include "insights/catalog/product/review/filter.html" %}

								</div>

								<div class="product__flex-body">

{% include "insights/catalog/product/review/list.html" %}

								</div>

							</div>

						</div>

						<div class="product__flex-right">

{% include "insights/catalog/product/review/stat.html" %}

						</div>

					</div>