{% set title = "Информация о заявке" %}
{% set folder = "manager/certificates/info" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

				<div class="content__head">

					<button onClick="history.back()" type="button" class="content__back button">
						Назад
					</button>

					<h1 class="h2">
						Информация о заявке №1234567890
					</h1>

				</div>

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

						</div>

						<div class="indent__head-right">

							<div class="indent__head-counter h3">
								~ 1 млн.
							</div>

						</div>

						<p class="indent__head-foot">
							Дата подачи: 12 сентября 2020
						</p>

					</div>

{% set table = [

	{
		th : "Категория",
		td : "Насосное оборудование (Цетробежные)"
	},
	{
		th : "Продукт",
		td : "Насосы ПЭ однокорпусные питательные"
	},
	{
		th : "Максимальная мощность",
		td : "1570 кВт"
	},
	{
		th : "Перекачиваемая среда",
		td : "Нефть"
	},
	{
		th : "Тип конструкции",
		td : "Однокорпусные"
	},
	{
		th : "Сертификация по стандарту",
		td : "ИНТИ"
	},
	{
		th : "Исполнитель сертификации",
		td : "Ассоциация «СЦ НАСТХОЛ»"
	}

] %}

{% include "_include/table-w100p.html" %}

				</div>

			</div>

		</div>

	</div>

{% endblock %}