{% set title = "Мои сертификации" %}
{% set folder = "certificates" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__head">

				<h1 class="h1">
					{{ title }}
				</h1>

			</div>

			<div class="content__flex tabs">

				<div class="content__left">

					<ul class="menu-tab">

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn is-active" href="/certificates/#review">
								Текущие
							</a>

						</li>

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn" href="/certificates/#agreed">
								Выданные
							</a>

						</li>

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn" href="/certificates/#canceled">
								Отклоненные
							</a>

						</li>

					</ul>

				</div>

				<div class="content__body">

{% include "certificates/filter.html" %}

					<div class="certificates tabs__item is-active">

{% set list = [

	{
		number : 12376235,
		url    : "review",
		status : {
			mod  : "yellow",
			text : "Рассмотрение заявки"
		},
		category : "Насосное оборудование (Центробежные насосоы)",
		product  : "Насосы ПЭ однокорпусные питательные"
	},
	{
		number : 567890,
		url    : "agreed",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "НC 09.2"
	},
	{
		number : 7890321,
		url    : "canceled",
		status : {
			mod  : "red",
			text : "Заявка отклонена"
		},
		category : "Емкостное оборудование (Реакторное)",
		product  : "AB 78/1"
	},
	{
		number : 678907,
		status : {
			mod  : "yellow",
			text : "Заключение договора"
		},
		category : "Запорно-регулирующая арматура (Краны)",
		product  : "Кран A104.01"
	},
	{
		number : 134567,
		status : {
			mod  : "yellow",
			text : "Проведение сертификации"
		},
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "Тройник 1.2"
	},
	{
		number : 545467,
		url    : "agreed",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Емкостное оборудование (Теплобменное оборудование)",
		product  : "СО 23.1"
	}

]%}

{% include "certificates/item.html" %}

					</div>

					<div class="certificates tabs__item">

{% set list = [

	{
		number : 567890,
		url    : "agreed",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "НC 09.2"
	},
	{
		number : 678907,
		url    : "agreed",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Запорно-регулирующая арматура (Краны)",
		product  : "Кран A104.01"
	},
	{
		number : 134567,
		url    : "agreed",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "Тройник 1.2"
	}

]%}

{% include "certificates/item.html" %}

					</div>

					<div class="certificates tabs__item">

{% set list = [

	{
		number : 7890321,
		url    : "canceled",
		status : {
			mod  : "red",
			text : "Заявка отклонена"
		},
		category : "Емкостное оборудование (Реакторное)",
		product  : "AB 78/1"
	}

]%}

{% include "certificates/item.html" %}

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}