{% set title = "Мои сертификации" %}
{% set folder = "indents" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__head">

				<h1 class="h1">
					{{ title }}
				</h1>

			</div>

			<div class="content__flex tabs">

				<div class="content__left">

					<ul class="menu-tab">

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn is-active" href="/">
								Текущие
							</a>

						</li>

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn" href="/">
								Выданные
							</a>

						</li>

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn" href="/">
								Отклоненные
							</a>

						</li>

					</ul>

				</div>

				<div class="content__body">

					<form action="/" class="filter">

						<div class="filter__input">

							<input class="input" placeholder="Поиск" name="keywords">

							<svg width="24" height="24" viewBox="0 0 24 24">
								<path d="M14.82 15.88a5.5 5.5 0 111.06-1.06l2.65 2.65c.3.3.53.59 0 1.06-.53.47-.77.3-1.06 0l-2.65-2.65zm-3.32-.38a4 4 0 100-8 4 4 0 000 8z" fill="#0E2D4A"/>
							</svg>

						</div>

						<div class="filter__select">

							<div class="select select--right select--list-w360">

								<select name="status">
									<option value="none">Статус заявки</option>
									<option value="1">Рассмотрение заявки</option>
									<option value="2">Заявка согласована</option>
									<option value="3">Заявка отклонена</option>
									<option value="4">Заключение договора</option>
									<option value="5">Договор заключен</option>
									<option value="6">Договор отклонен</option>
									<option value="7">Проведенеие сертификации</option>
									<option value="8">Выдан сертификат</option>
									<option value="9">Сертификация не пройдена</option>
									<option value="0">Все статусы</option>
								</select>

							</div>

						</div>

					</form>

					<div class="indents tabs__item is-active">

{% set list = [

	{
		number : 12376235,
		url    : "consideration",
		status : {
			mod  : "yellow",
			text : "Рассмотрение заявки"
		},
		category : "Насосное оборудование (Центробежные насосоы)",
		product  : "Насосы ПЭ однокорпусные питательные"
	},
	{
		number : 567890,
		url    : "done",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "НC 09.2"
	},
	{
		number : 7890321,
		status : {
			mod  : "red",
			text : "Заявка отклонена"
		},
		category : "Емкостное оборудование (Реакторное)",
		product  : "AB 78/1"
	},
	{
		number : 678907,
		status : {
			mod  : "yellow",
			text : "Заключение договора"
		},
		category : "Запорно-регулирующая арматура (Краны)",
		product  : "Кран A104.01"
	},
	{
		number : 134567,
		status : {
			mod  : "yellow",
			text : "Проведение сертификации"
		},
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "Тройник 1.2"
	},
	{
		number : 545467,
		url    : "done",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Емкостное оборудование (Теплобменное оборудование)",
		product  : "СО 23.1"
	}

]%}

{% for item in list %}

{% include "indents/item.html" %}

{% endfor %}

					</div>

					<div class="indents tabs__item">

{% set list = [

	{
		number : 567890,
		url    : "done",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "НC 09.2"
	},
	{
		number : 678907,
		url    : "done",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Запорно-регулирующая арматура (Краны)",
		product  : "Кран A104.01"
	},
	{
		number : 134567,
		url    : "done",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "Тройник 1.2"
	}

]%}

{% for item in list %}

{% include "indents/item.html" %}

{% endfor %}

					</div>

					<div class="indents tabs__item">

{% set list = [

	{
		number : 7890321,
		status : {
			mod  : "red",
			text : "Заявка отклонена"
		},
		category : "Емкостное оборудование (Реакторное)",
		product  : "AB 78/1"
	}

]%}

{% for item in list %}

{% include "indents/item.html" %}

{% endfor %}

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}