{% for item in list %}

						<div class="content__box">

							<article class="chat-list__item">

								<div class="chat-list__preview">

									<img src="/img/chat/preview/{{ item.preview }}.jpg" srcset="/img/chat/preview/{{ item.preview }}@2x.jpg 2x" alt="{{ item.title }}" width="146" height="98">

								</div>

								<div class="chat-list__body">

									<div class="chat-list__head">

										<div class="chat-list__user">

											<img class="chat-list__user-avatar" src="/img/avatar/{{ item.user.avatar }}--24.jpg" srcset="/img/avatar/{{ item.user.avatar }}--48.jpg 2x" alt="{{ item.user.name }}" width="24" height="24">

											<b class="chat-list__user-name">
												{{ item.user.name }}
											</b>

											<small class="chat-list__user-status">
												{{ item.user.status }}
											</small>

										</div>

										<time datetime="2020-10-12" class="chat-list__date{% if item.status %} chat-list__date--{{ item.status }}{% endif %}">
											{{ item.date }}
										</time>

									</div>

									<h2 class="chat-list__title">
										<a class="chat-list__link" href="/">
											{{ item.title }}
										</a>
									</h2>

									<p class="chat-list__message">
										{{ item.massege }}
									</p>

								</div>

							</article>

						</div>

{% endfor %}