{% set title = "Заявка согласована | Анализ не загружен" %}
{% set folder = "certificates/agreed/not-loaded" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

{% include "certificates/head.html" %}

				<form action="/" class="content__box indent">

{% include "certificates/agreed/head.html" %}

					<dl class="key-value key-value--column">

{% include "certificates/agreed/body.html" %}

						<div class="key-value__item">

							<dt class="key-value__key">
								Скачать результаты <br>анализа заявки:
							</dt>

							<dd class="key-value__value">

								<span class="btn btn--disabled">
									Анализ не загружен
								</span>

							</dd>

						</div>

					</dl>

{% include "certificates/agreed/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}