{% set title = "Контакты ИНТИ, обратная связь" %}

{% set description = "Москва, Сколково, ул. Сикорского 11. телефон: +7 (812) 363 3152 доб. 29-41. e-mail: info@inti.expert" %}

{% set ogImage = "img/contacts/head--desktop.jpg" %}
{% set ogImage256 = "img/contacts/head--mobile.jpg" %}

{% set preloadImage = [
	{
		media: "(max-width: 360px)",
		img : "/img/contacts/head--mobile.webp"
	},
	{
		media: "(min-width: 1250px)",
		img : "/img/contacts/head--desktop.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<article>

{% include "contacts/head.html" %}
{% include "contacts/body.html" %}
{% include "contacts/map-form.html" %}

	</article>

{% endblock %}