{% set title = "Рассмотрение заявки" %}
{% set folder = "indents/consideration" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

				<div class="content__head">

					<a href="/indents" class="content__back">
						Назад
					</a>

					<h1 class="h2">
						Заявка №567890
					</h1>

				</div>

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

							<div class="tooltip-group">

								<a class="tooltip" title="Информация о заявке" href="/">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<path d="M12 20a8 8 0 110-16 8 8 0 010 16zm0-8.5a1 1 0 00-1 1V15a1 1 0 002 0v-2.5a1 1 0 00-1-1zm0-1.13a1.38 1.38 0 100-2.75 1.38 1.38 0 000 2.75z"/>
									</svg>
								</a>

								<a class="tooltip" title="История по заявке" href="/">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<path d="M11.07 12.38a1 1 0 00.22.33l2.67 2.66a1 1 0 001.41-1.41L13 11.59V8a1 1 0 00-2 0v4a1 1 0 00.08.39v-.01zM12 4a8 8 0 110 16 8 8 0 010-16z"/>
									</svg>
								</a>

							</div>

						</div>

						<div class="indent__head-right">

							<p class="status status--yellow">
								Рассмотрение заявки
							</p>

						</div>

					</div>

					<dl class="key-value key-value--table w100p">

{% set list = [

	{
		key   : "Категория",
		value : "Насосное оборудование (Цетробежные)"
	},
	{
		key   : "Продукт",
		value : "Насосы однокорпусные питательные"
	},
	{
		key   : "Орган сертификации",
		value : "Ассоциация «СЦ НАСТХОЛ»"
	},
	{
		key   : "Производственная площадка",
		value : "ООО “Волгограднефтемаш”, г. Волгоград"
	}

]%}

{% for item in list %}

						<div class="key-value__item">

							<dt class="key-value__key">
								{{ item.key }}:
							</dt>

							<dd class="key-value__value">
								{{ item.value }}
							</dd>

						</div>

{% endfor %}

					</dl>

					<div class="indent__desc">

						<p>
							Мы обратываем заявку. На рассмотрение уходит не более 5 рабочих дней. <br>Не позднее 1 октября по Вашей заявке будет назначен ответсвенный менеджер и рабочая экспертная группа, а так же Вам будет доступен для скачивания отчет по результатам анализа заявки. При изменении статуса заявки вы получите уведомление в личном кабинете.
						</p>

						<p>
							Обратите внимание, мы  рассматриваем информацию и документацию, которая отражена в разделе “Информация о компании”. Пожалуйста, поддерживайте актуальность данных.
						</p>

					</div>

					<div class="content__foot">

						<button class="btn btn--white" type="button">
							Проверить данные
						</button>

						<button class="btn btn--blue" type="button">
							Есть вопросы?
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}