{% set title = "Заключение договора без запроса договора" %}
{% set folder = "contract/paid" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

{% include "contract/head.html" %}

				<form action="/certification/" class="content__box indent form">

{% include "contract/before.html" %}

{% set status = "green" %}
{% set file = "Квитанция_об_оплате.png" %}
{% include "contract/body.html" %}

{% include "contract/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}