{% set title = "Выдача сертификата" %}
{% set folder = "manager/certification/step-5/signed" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/" class="content__box indent">

{% include "manager/certification/head.html" %}

{% set step = 5 %}
{% include "certification/steps.html" %}

					<dl class="key-value key-value--column">

{% include "manager/certification/info.html" %}

{% set files = "load" %}
{% include "manager/certification/step-5/file.html" %}

{% set status = "green" %}
{% include "manager/certification/step-5/status.html" %}

{% set files = "load" %}
{% include "manager/certification/step-5/certificate.html" %}

					</dl>

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Ожидается подтверждение от пользователя
						</p>

					</div>

				</form>

			</div>

		</div>

	</div>

{% endblock %}