		<nav class="menu-billboard">

			<div class="menu-billboard__section">

				<button class="menu-billboard__btn button" type="button">

					<svg width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 21c-2.28 0-6-8.69-6-12a6 6 0 1112 0c0 3.31-3.72 12-6 12zm0-9a2.91 2.91 0 100-5.82A2.91 2.91 0 0012 12z"/>
					</svg>

					<span class="menu-billboard__btn-text">
						Регион
					</span>

				</button>

				<div class="menu-billboard__box menu-billboard__box--row">

{% set menu = [

	{
		head : "СНГ",
		list : [
			"Россия",
			"Украина",
			"Казахстан",
			"Беларусь"
		]
	},
	{
		head : "Ближний Восток",
		list : [
			"Египет",
			"ОАЭ",
			"Ирак"
		]
	},
	{
		head : "Азия",
		list : [
			"Сингапур",
			"Китай",
			"Япония",
			"Вьетнам"
		]
	},
	{
		head : "Америка",
		list : [
			"США",
			"Канада"
		]
	},
	{
		head : "Африка",
		list : [
			"Марокко",
			"Эфиопия",
			"ЮАР"
		]
	}

] %}

{% for col in menu %}

					<div class="menu-billboard__col">

						<p class="menu-billboard__head">
							{{ col.head }}
						</p>

						<ul class="menu-billboard__list">

{% for item in col.list %}

							<li class="menu-billboard__item">

								<a href="/">
									{{ item }}
								</a>

							</li>

{% endfor %}

						</ul>

					</div>

{% endfor %}

				</div>

			</div>

			<div class="menu-billboard__section">

				<button class="menu-billboard__btn button" type="button">

					<svg width="24" height="24" viewBox="0 0 24 24">
						<path d="M17 14h2V9H5v5h2v-1a1 1 0 112 0v1h6v-1a1 1 0 012 0v1zm0 2v1a1 1 0 01-2 0v-1H9v1a1 1 0 11-2 0v-1H5v3h14v-3h-2zM9 7h6V6H9v1zM7 7V5a1 1 0 011-1h8a1 1 0 011 1v2h2a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V9a2 2 0 012-2h2z"/>
					</svg>

					<span class="menu-billboard__btn-text">
						Бизнес
					</span>

				</button>

				<div class="menu-billboard__box">

					<ul class="menu-billboard__list menu-billboard__list--bold">

{% for item in [
	"Upstream",
	"Riefining",
	"Petrochemical",
	"LNC",
	"Midstream"
] %}

						<li class="menu-billboard__item">

							<a href="/">
								{{ item }}
							</a>

						</li>

{% endfor %}

					</ul>

				</div>

			</div>

			<div class="menu-billboard__section">

				<button class="menu-billboard__btn button" type="button">

					<svg width="24" height="24" viewBox="0 0 24 24">
						<path d="M6 12h8v-2H6v2zM4 8.99A1 1 0 015 8h10a1 1 0 011 .99V14H4V8.99z"/>
						<path d="M6 7c0-1.1.9-2 2-2h2a2 2 0 012 2v3H6V7zm4 0H8v1h2V7z"/>
						<path d="M4.5 17h14l1-3H4.14l.36 3zM2 12.99a.86.86 0 01.88-.99h18.4c.55 0 .85.42.68.94l-1.71 5.12c-.17.52-.76.94-1.32.94H3.73a1.15 1.15 0 01-1.12-.99L2 13z"/>
					</svg>

					<span class="menu-billboard__btn-text">
						Продукт
					</span>

				</button>

				<div class="menu-billboard__box">

					<ul class="menu-billboard__list menu-billboard__list--bold">

{% for item in [
	"Оборудование",
	"Услуги",
	"Технологии"
] %}

						<li class="menu-billboard__item">

							<a href="/">
								{{ item }}
							</a>

						</li>

{% endfor %}

					</ul>

				</div>

			</div>

		</nav>