					<dl class="key-value key-value--column">

{% if contract == "prompt" %}

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								<div class="tooltip-before">

									<div class="tooltip-before__ico">

										<details class="tooltip-help">

											<summary class="tooltip-help__btn">
												Подробнее
											</summary>

											<p class="tooltip-help__inner">
												Составление договора заемет N рабочих дней
											</p>

										</details>

									</div>

									<div class="tooltip-before__inner">
										Договор:
									</div>

								</div>

							</dt>

							<dd class="key-value__value">

								<span class="btn btn--disabled">

									Запрошено

								</span>

							</dd>

						</div>

{% endif %}

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								<div class="tooltip-before">

									<div class="tooltip-before__ico">

										<details class="tooltip-help">

											<summary class="tooltip-help__btn">
												Подробнее
											</summary>

											<p class="tooltip-help__inner">
												Cкачайте счет и проведите оплату согласно счету
											</p>

										</details>

									</div>

									<div class="tooltip-before__inner">
										Получить счет:
									</div>

								</div>

							</dt>

							<dd class="key-value__value">

								<a class="btn btn-download" href="/favicon.png" download="Счет заявка №567890.doc" title="Скачать Счет заявка №567890">
									<span class="btn-download__inner">
										<span class="btn-download__text">
											Счет заявка №567890.doc
										</span>
									</span>
								</a>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								<div class="tooltip-before">

									<div class="tooltip-before__ico">

										<details class="tooltip-help">

											<summary class="tooltip-help__btn">
												Подробнее
											</summary>

											<p class="tooltip-help__inner">
												Загрузите подтверждающие документы и менеджер заявки проверить и подтвердить оплату, либо мы потвердим по результам получение оплаты на счет
											</p>

										</details>

									</div>

									<div class="tooltip-before__inner">
										Подтвердить оплату:
									</div>

								</div>

							</dt>

							<dd class="key-value__value">

{% if status == "green" %}

								<div class="btn btn--light">

									<div class="btn__text">
										{{ file }}
									</div>

								</div>

{% else %}

								<label class="file-input">

									<input type="file" required="required">

	{% if file %}
									<span class="file-input__btn btn btn--light">
										{{ file }}
									</span>
	{% else %}
									<span class="file-input__btn btn">
										Выберите файл
									</span>
	{% endif %}

								</label>

{% endif %}

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								<div class="tooltip-before">

									<div class="tooltip-before__ico">

										<details class="tooltip-help">

											<summary class="tooltip-help__btn">
												Подробнее
											</summary>

											<p class="tooltip-help__inner">
												Мы проверяем оплату, если статус не поменялся в течении 1 рабочего дня, напишите нам
											</p>

										</details>

									</div>

									<div class="tooltip-before__inner">
										Статус оплаты:
									</div>

								</div>

							</dt>

							<dd class="key-value__value">

{% if status == "red" %}

								<div class="status-ico status-ico--red">
									Не оплачен
								</div>

{% elif status == "grey" %}

								<div class="status-ico status-ico--grey">
									Проверяется
								</div>

{% else %}

								<div class="status-ico status-ico--green">
									Оплачено
								</div>

{% endif %}

							</dd>

						</div>

					</dl>