{% set title = "Договор не заключен" %}
{% set folder = "contract" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

{% include "contract/head.html" %}

				<form action="/contract/prompt/" class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

{% include "_include/tooltip-group.html" %}

						</div>

						<div class="indent__head-right">

							<p class="status status--red">
								Договор не заключен
							</p>

						</div>

					</div>

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Договор не был заключен по причине &lt;...&gt;. Вы можете скачать отчет с замечаниями и предложениями, а после корректировки перейти к заключению договора еще раз.
						</p>

					</div>

					<dl class="key-value key-value--column">

						<div class="key-value__item">

							<dt class="key-value__key">

								Скачать замечания <br>по договору:

							</dt>

							<dd class="key-value__value">

								<a class="btn btn-download" href="/favicon.png" download="Замечания_1234.doc" title="Скачать Замечания_1234">
									<span class="btn-download__inner">
										<span class="btn-download__text">
											Замечания_1234.doc
										</span>
									</span>
								</a>

							</dd>

						</div>

					</dl>

					<div class="content__foot">

						<button class="btn btn--white" type="button">
							Есть вопросы?
						</button>

						<button class="btn btn--blue">
							Запросить договор
						</button>

					</div>

				</form>

			</div>

		</div>

	</div>

{% endblock %}