{% set title = "История по заявке" %}
{% set folder = "certificates/history" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

				<div class="content__head">

					<button onClick="history.back()" type="button" class="content__back button">
						Назад
					</button>

					<h1 class="h2">
						История по заявке №1234567890
					</h1>

				</div>

				<div class="content__box content__box--rect">

					<div class="accordion accordion--history">

{% set list = [

	{
		head  : "Заявка согласована",
		modal : "certificates-stage-agreed",
		list  : [
			{
				text  : "24  сентября 2020  г.  получена заявка"
			},
			{
				text  : "26 сентября 2020  г.  заявка согласована"
			},
			{
				text  : "26 сентября 2020  г.  загружен отчет о заявке"
			}
		]
	},
	{
		head  : "Заключение договора",
		modal : "certificates-stage-contract",
		list  : [
			{
				text  : "27 сентября 2020  г.  загружен счет на оплату",
				autor : "Иванов И. И."
			},
			{
				text  : "1 октября 2020 г. загружены подтверждающие документы ",
				autor : "Сидоров И. И."
			},
			{
				text  : "2 октября 2020 г. оплата подтерждена",
				autor : "Петров И. И."
			}
		]
	},
	{
		head  : "Камеральная экспертиза",
		modal : "certificates-stage",
		list  : [
			{
				text  : "28 сентября 2020  г.  старт камеральной экспертизы"
			},
			{
				text  : "12 октября 2020  г.  загружен отчет по этапу"
			},
			{
				text  : "24 октября 2020  г.  загружен комментарии клиента к отчету"
			}
		]
	},
	{
		head  : "Выезд на площадку",
		modal : "certificates-stage",
		list  : [
			{
				text  : "12 октября 2020  г.  назначен аудитор"
			},
			{
				text  : "12 октября 2020  г.  сформирован план мероприятий по анализу технического сотояния"
			},
			{
				text  : "15 октября 2020  г.  согласована дата аудита"
			},
			{
				text  : "22  октября 2020  г.  аудит завершен"
			},
			{
				text  : "2 ноября 2020  г.  загружен отчет по результата аудита"
			},
			{
				text  : "12 ноября 2020  г.  загружен комментарии клиента к отчету"
			}
		]
	},
	{
		head  : "Испытание продукции",
		modal : "certificates-stage",
		list  : [
			{
				text  : "15 октября 2020  г.  назначен эксперт и место испытаний"
			},
			{
				text  : "18 октября 2020  г.  сформирован план проведения испытаний"
			},
			{
				text  : "22  октября 2020  г.  продукт доставлен для проведения испытаний"
			},
			{
				text  : "29  октября 2020  г.  проведены испытания"
			},
			{
				text  : "2 ноября 2020  г.  загружен отчет об испытаний"
			},
			{
				text  : "12 ноября 2020  г.  загружен комментарии клиента к отчету"
			}
		]
	},
	{
		head  : "Верификация результатов",
		modal : "certificates-stage",
		list  : [
			{
				text  : "12 ноября 2020  г.  старт верификация результатов"
			},
			{
				text  : "22 ноября 2020  г.  загружен отчет о сертификации"
			},
			{
				text  : "22 ноября 2020  г.  принято решение по результатам сертификации"
			}
		]
	},
	{
		head  : "Выдача сертификата",
		modal : "certificates-stage",
		list  : [
			{
				text  : "24 ноября 2020  г.  загружен акт о принятии услуг сертификации"
			},
			{
				text  : "2  декабря 2020  г.  акты подписаны"
			},
			{
				text  : "2 декабря 2020  г.  выдан сертификат"
			}
		]
	}

]%}

{% for item in list %}

						<div class="accordion__item">

							<div class="accordion__head">

								<button class="button" type="button" data-modal="{{ item.modal }}">
									<svg width="24" height="24" viewBox="0 0 24 24">
										<path d="M19 5a2 2 0 012 2v12a2 2 0 01-2 2H7a2 2 0 01-2-2h13a1 1 0 001-1V5zM3 5c0-1.1.9-2 2-2h10a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5zm2 0v10h10V5H5zm1 3a1 1 0 011-1h6a1 1 0 011 1 1 1 0 01-1 1H7a1 1 0 01-1-1zm0 3a1 1 0 011-1h6a1 1 0 011 1 1 1 0 01-1 1H7a1 1 0 01-1-1z"/>
									</svg>
								</button>

								<div class="accordion__btn">

									{{ item.head }}

									<svg width="24" height="24" viewBox="0 0 24 24">
										<path d="M8.3 10.3a1 1 0 000 1.41l2.93 2.97c.22.21.5.32.78.32s.56-.1.77-.32l2.93-2.96a1.01 1.01 0 00-.32-1.63.99.99 0 00-1.09.21L12 12.62l-2.3-2.33a.99.99 0 00-1.4 0z"/>
									</svg>

								</div>

							</div>

							<div class="accordion__body">

								<ul class="history-list">

	{% for row in item.list %}

									<li class="history-list__item">

										<span class="history-list__data">
											{{ row.text }}
										</span>

		{% if row.autor %}

										<span class="history-list__autor">
											<svg width="24" height="24" viewBox="0 0 24 24">
												<path d="M7 13.56C7 12.7 7.75 12 8.67 12h6.66c.92 0 1.67.7 1.67 1.56v3.45c0 2.65-10 2.65-10 0v-3.45z"/>
												<path d="M12 11.22c1.84 0 3.33-1.4 3.33-3.1C15.33 6.38 13.84 5 12 5S8.67 6.4 8.67 8.11c0 1.72 1.49 3.11 3.33 3.11z"/>
											</svg>
											{{ row.autor }}
										</span>
		{% endif %}

									</li>

	{% endfor %}

								</ul>

							</div>

						</div>

{% endfor %}

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}