		<ul class="product-menu">

{% set menu = [

	{
		link   : "description",
		access : "all",
		name   : "Описание"
	},
	{
		link   : "models",
		access : "all",
		name   : "Модельный <br>ряд"
	},
	{
		link   : "performance",
		access : "all",
		name   : "Материальное <br>исполнение"
	},
	{
		link   : "quality",
		access : "authorized",
		name   : "Оценка <br>качества"
	},
	{
		link   : "experience",
		access : "authorized",
		name   : "Опыт поставок <br>и референции"
	},
	{
		link   : "gallery",
		access : "authorized",
		name   : "Фото <br>и видео"
	}

] %}

{% for item in menu %}

			<li class="product-menu__item">

	{% if item.access === "authorized" and authorized === false %}

				<a class="product-menu__link" href="#lock">

	{% else %}

				<a class="product-menu__link" href="#{{ item.link }}">

	{% endif %}

					<figure>

						<picture>

							<source srcset="/img/insights/catalog/product/menu/{{ item.link }}.webp 1x, /img/insights/catalog/product/menu/{{ item.link }}@2x.webp 2x" type="image/webp">
							<source srcset="/img/insights/catalog/product/menu/{{ item.link }}.jpg 1x, /img/insights/catalog/product/menu/{{ item.link }}@2x.jpg 2x">

							<img class="product-menu__img" src="/img/insights/catalog/product/menu/{{ item.link }}.jpg" alt="{{ item.name | striptags(true) }}" loading="lazy" width="276" height="195">

						</picture>

						<figcaption class="product-menu__name">

							{{ item.name | safe }}

						</figcaption>

					</figure>

	{% if item.access === "authorized" and authorized === false %}

					<svg class="product-menu__ico" width="24" height="24" viewBox="0 0 24 24">
						<path d="M8 10V8a4 4 0 018 0v2a2 2 0 012 2v6a2 2 0 01-2 2H8A2 2 0 016 18v-6c0-1.1.9-2 2-2zm2 0h4V8a2 2 0 10-4 0v2zm2 7a2 2 0 100-4 2 2 0 000 4z"/>
					</svg>

	{% endif %}

				</a>

			</li>

{% endfor %}

		</ul>