{% set title = "Информация о заявке" %}
{% set folder = "manager/standardization/info" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

				<div class="content__head">

					<button onClick="history.back()" type="button" class="content__back button">
						Назад
					</button>

					<h1 class="h2">
						Информация о заявке №1234567890
					</h1>

				</div>

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

						</div>

						<div class="indent__head-right">

							<div class="indent__head-sum">
								150 000 ₽
							</div>

						</div>

						<p class="indent__head-foot">
							Дата подачи: 12 сентября 2020
						</p>

					</div>

					<div class="accordion accordion--border">

{% for item in [1,2] %}

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">

								<div class="flex flex--content-between flex--flex-grow-1">

									<div class="flex__item">
										СТО IIOGT S.10.1 – 2020
									</div>

									<div class="flex__item accordion__head-sum">
										75 000 ₽
									</div>

								</div>

							</div>

							<div class="accordion__body">

								<table class="table">

									<tr>

										<td colspan="2">

											<p class="fs14">
												НАСОСЫ ЦЕНТРОБЕЖНЫЕ ДЛЯ НЕФТЯНОЙ, НЕФТЕХИМИЧЕСКОЙ И ГАЗОВОЙ ПРОМЫШЛЕННОСТИ (Общие технические требования)
											</p>

										</td>

									</tr>

{% set table = [

	{
		th : "Разработчик",
		td : "ИНТИ"
	},
	{
		th : "Кол-во страниц",
		td : "281 стр."
	},
	{
		th : "Категория",
		td : "Насосное оборудование"
	},
	{
		th : "Язык",
		td : "RU"
	},
	{
		th : "Версия",
		td : "Эл. однопользовательская (pdf)"
	}

] %}

{% include "_include/table-tr.html" %}

								</table>

							</div>

						</div>

{% endfor %}

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}