{% set title = "Подписание акта об оказании услуг" %}
{% set folder = "manager/standardization/step-3/wait" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<form action="/" class="content__body content__body--indent">

{% include "certificates/head--history-back.html" %}

				<div class="content__box indent">

{% include "manager/standardization/head.html" %}

{% set step = 3 %}
{% include "manager/standardization/steps.html" %}

{% set act = "load" %}
{% set actStatus = "signed" %}
{% include "manager/standardization/info.html" %}

{% include "manager/standardization/step-3/wait/foot.html" %}

				</div>

			</form>

		</div>

	</div>

{% endblock %}