{% set title = "Заключение договора" %}
{% set folder = "manager/contract/without" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<form action="/{{ folder }}/wait/" class="content__body content__body--indent">

{% include "certificates/head--history-back.html" %}

				<div class="content__box indent">

{% set status = "alarm" %}
{% include "manager/contract/head.html" %}

{% set invoice = "no-load" %}
{% include "manager/contract/info.html" %}

{% include "manager/standardization/step-1/foot.html" %}

				</div>

			</form>

		</div>

	</div>

{% endblock %}