{% set title = "Проверка платежа и подтверждение оплаты" %}
{% set folder = "manager/standardization/step-2" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<form action="/{{ folder }}/wait/" class="content__body content__body--indent">

{% include "certificates/head--history-back.html" %}

				<div class="content__box indent">

{% set status = "alarm" %}
{% include "manager/standardization/head.html" %}

{% set step = 2 %}
{% include "manager/standardization/steps.html" %}

{% set invoice = "load" %}
{% set doc = "load" %}
{% set paymentStatus = "0" %}
{% set deliveryStatus = "0" %}
{% include "manager/standardization/info.html" %}

{% include "manager/standardization/step-2/foot.html" %}

				</div>

			</form>

		</div>

	</div>

{% endblock %}