						<div class="key-value__item">

							<dt class="key-value__key">

								Компания:

							</dt>

							<dd class="key-value__value">

								ПАО «Газпром нефть»

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Ответственное лицо:

							</dt>

							<dd class="key-value__value">

								Иванов Н.С.

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Категория:

							</dt>

							<dd class="key-value__value">

								Насосное оборудование (Цетробежные)

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Продукт:

							</dt>

							<dd class="key-value__value">

								Насосы однокорпусные питательные

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								{% if step == 1 %}Эксперт по камеральной <br>экспертизе:{% endif %}

								{% if step == 2 %}Эксперт:{% endif %}

								{% if step == 3 or step == 4 %}Ответственный <br>за проведение испытаний:{% endif %}

							</dt>

							<dd class="key-value__value">

								{% if step == 1 or step == 2 %}Петров И.И.{% endif %}

								{% if step == 3 or step == 4 %}Осетров И.И.{% endif %}

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>