						<div class="key-value__item">

							<dt class="key-value__key">

								Компания:

							</dt>

							<dd class="key-value__value">

								ПАО «Газпром нефть»

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Ответственное лицо:

							</dt>

							<dd class="key-value__value">

								Иванов Н.С.

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Категория:

							</dt>

							<dd class="key-value__value">

								Насосное оборудование (Цетробежные)

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Продукт:

							</dt>

							<dd class="key-value__value">

								Насосы однокорпусные питательные

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Эксперт {% if step == 1 %}по камеральной <br>экспертизе{% endif %}:

							</dt>

							<dd class="key-value__value">

								Петров И.И.

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>