{% set title = "Верификация результатов | Выдано отрицательное заключение" %}
{% set folder = "certification/step-4/canceled" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/certification/step-5/canceled/" class="content__box indent form">

{% include "certification/step-4/step.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-4/experts.html" %}

{% set status = "red" %}
{% include "certification/step-4/result.html" %}

{% set status = "load" %}
{% include "certification/step-4/analiz.html" %}

					</dl>

{% include "certification/step-4/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}