{% if authorized === true %}

						<div class="header__exit">

							<button class="button" type="button" aria-label="Выйти">
								<svg width="24" height="24" viewBox="0 0 24 24">
									<path d="M4.98 11A.99.99 0 004 12c0 .55.44 1 .98 1h11.04a.99.99 0 00.98-1 .99.99 0 00-.98-1H4.98z"/>
									<path d="M6.23 8.3L3.3 11.27a1.05 1.05 0 000 1.48l2.93 2.96A1.03 1.03 0 008 14.96c0-.28-.1-.55-.3-.74L5.5 12l2.2-2.22a1.05 1.05 0 00-.34-1.7 1.03 1.03 0 00-1.13.23zM12 3v2h7v14h-7v2h7a2 2 0 002-2V5a2 2 0 00-2-2h-7z"/>
								</svg>
							</button>

						</div>

						<div class="header__user">

							<a href="/account/" title="Профиль компании/пользователя">
								Новиков Н. С.
							</a>

						</div>

{% else %}

						<div class="header__login">

							<a href="/account/login/" class="btn btn--blue">
								Войти
							</a>

						</div>

{% endif %}