{% if headerUser === true %}

						<div class="header__favourites">

							<button class="button" type="button" aria-label="Избранное">
								<svg width="20" height="20" viewBox="0 0 20 20">
									<path d="M17.5 17.5V20h-1.88l-2.5-1.25-2.5 1.25H8.76v-2.5H2.51a2.4 2.4 0 0 1-1.77-.73A2.41 2.41 0 0 1 .01 15V5c0-.34.13-.63.37-.88.25-.25.54-.37.88-.37H20V15c0 .69-.24 1.28-.73 1.77a2.4 2.4 0 0 1-1.76.73Zm-2.87-5.4-1.5-3.35-1.5 3.36-3.5.47 2.58 2.54-.67 3.63 3.09-1.8 3.08 1.8-.67-3.63 2.58-2.54-3.5-.47Zm-3.1-10c.09-.24.27-.44.54-.6.27-.17.56-.25.86-.25h4.68c.32 0 .6.08.88.24.27.17.46.37.57.62l.93 1.64h-9.36l.9-1.64ZM.9.87c.1-.25.27-.45.55-.62.27-.16.56-.24.86-.24H7c.31 0 .6.08.88.24.27.17.46.37.56.62l.94 1.64H0L.91.86Z"/>
								</svg>
							</button>

						</div>

						<div class="header__notification as-unread">

							<button class="button" type="button" aria-label="Уведомления">
								<svg width="24" height="24" viewBox="0 0 24 24">
									<path d="M12.33 20.88c1.01 0 1.84-.83 1.84-1.84H10.5a1.83 1.83 0 0 0 1.83 1.84Zm5.5-5.5v-4.59c0-2.81-1.5-5.17-4.12-5.8v-.62a1.37 1.37 0 1 0-2.75 0V5c-2.63.62-4.13 2.97-4.13 5.8v4.57L5 17.21v.91h14.67v-.91l-1.84-1.84Z"/>
								</svg>
							</button>

						</div>

						<div class="header__user">

							<a class="header__user-btn" href="/account/" title="Профиль компании/пользователя">

								<svg width="26" height="26" viewBox="0 0 26 26">
									<path d="M19.74 11.92H6.06c-.6 0-.64.48-.64 1.08 0 .6.05 1.08.64 1.08h13.68c.59 0 .64-.48.64-1.08 0-.6-.05-1.08-.64-1.08Zm0 4.33H6.06c-.6 0-.64.48-.64 1.08 0 .6.05 1.09.64 1.09h13.68c.59 0 .64-.49.64-1.09 0-.6-.05-1.08-.64-1.08ZM6.06 9.75h13.68c.59 0 .64-.48.64-1.08 0-.6-.05-1.09-.64-1.09H6.06c-.6 0-.64.49-.64 1.09 0 .6.05 1.08.64 1.08Z"/>
								</svg>

								<img src="/img/account/UserAvatar.jpg" srcset="/img/account/UserAvatar@2x.jpg 2x" width="36" height="36" loading="eager" alt="Имя/Названия компании/пользователя">

							</a>

							<div class="header__user-menu">

								<ul class="header__user-list">

									<li class="header__user-item">
										<a class="header__user-link" href="/account/">
											Профиль
										</a>
									</li>

									<li class="header__user-item">
										<button class="header__user-link button" type="button">
											Помощь
										</button>
									</li>

									<li class="header__user-item">
										<button class="header__user-link button" type="button">
											Выйти
										</button>
									</li>

								</ul>

							</div>

						</div>

{% else %}

						<div class="header__login">

							<a href="/account/login/" class="btn btn--blue">
								Войти
							</a>

						</div>

{% endif %}