					<ul class="menu-main">

						<li class="menu-main__item">
							<a class="menu-main__link" href="/">
								Блог
							</a>
						</li>

						<li class="menu-main__item">
							<a class="menu-main__link" href="/">
								Отраслевой форум
							</a>
						</li>

						<li class="menu-main__item">
							<a class="menu-main__link" href="/">
								Мероприятия
							</a>
						</li>

						<li class="menu-main__item">
							<a class="menu-main__link" href="/">
								О компании
							</a>
						</li>

					</ul>