		<nav class="menu-service">

			<div class="menu-service__inner">

				<div class="center">

					<ul class="menu-service__list">

						<li class="menu-service__item">

							<a class="menu-service__link" href="/docs/">

								INTI.docs

								<small class="menu-service__desc">
									Маркетплейс базы стандартов
								</small>

							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/quality/">

								INTI.quality

								<small class="menu-service__desc">
									Проведение оценки соответствия
								</small>

							</a>

						</li>

						<li class="menu-service__item">

							<a class="menu-service__link" href="/insights/">

								INTI.insights

								<small class="menu-service__desc">
									База продуктов с отзывами
								</small>

							</a>

						</li>

					</ul>

				</div>

			</div>

		</nav>