					<ul class="menu">

						<li class="menu__item menu__service">

							<a class="menu__link" href="/">
								Сервисы
							</a>

							<svg width="8" height="5" viewBox="0 0 8 5">
								<path d="M.3.3a1 1 0 0 0 0 1.41l2.93 2.97c.22.21.5.32.78.32s.56-.1.77-.32L7.7 1.72A1.01 1.01 0 0 0 7.39.1.99.99 0 0 0 6.3.3L4 2.62 1.7.29A.99.99 0 0 0 .3.3Z"/>
							</svg>

						</li>

						<li class="menu__item">

							<a class="menu__link" href="/about/">
								О нас
							</a>

						</li>

						<li class="menu__item">

							<a class="menu__link" href="/news/">
								Новости
							</a>

						</li>

						<li class="menu__item">

							<a class="menu__link" href="/contacts/">
								Контакты
							</a>

						</li>

					</ul>