					<ul class="menu">

						<li class="menu__item visible-md">

							<a class="menu__link" href="/">
								Главная
							</a>

						</li>

						<li class="menu__item visible-md">

							<a class="menu__link" href="/docs/">
								INTI.docs
							</a>

						</li>

						<li class="menu__item visible-md">

							<a class="menu__link" href="/quality/">
								INTI.quality
							</a>

						</li>

						<li class="menu__item visible-md">

							<a class="menu__link" href="/insights/">
								INTI.insights
							</a>

						</li>

						<li class="menu__item">

							<a class="menu__link" href="/about/">
								О нас
							</a>

						</li>

						<li class="menu__item">

							<a class="menu__link" href="/news/">
								Новости
							</a>

						</li>

						<li class="menu__item">

							<a class="menu__link" href="/contacts/">
								Контакты
							</a>

						</li>

					</ul>