						<ul class="menu-main">

							<li class="menu-main__item">

								<a class="menu-main__link" href="/">
									Сертификация
									<button class="button menu-main__arrow" type="button" aria-lavel="открыть меню второго уровня">
										<svg width="24" height="24" viewBox="0 0 24 24">
											<path d="M8.3 10.3a1 1 0 000 1.41l2.93 2.97c.22.21.5.32.78.32s.56-.1.77-.32l2.93-2.96a1.01 1.01 0 00-.32-1.63.99.99 0 00-1.09.21L12 12.62l-2.3-2.33a.99.99 0 00-1.4 0z"/>
										</svg>
									</button>
								</a>

								<ul class="menu-main__sub">

									<li class="menu-main__sub-item">
										<a class="menu-main__sub-link" href="/">
											Маркетплейс оценки соответствия
										</a>
									</li>
									<li class="menu-main__sub-item">
										<a class="menu-main__sub-link" href="/">
											Открытая база заключений
										</a>
									</li>
									<li class="menu-main__sub-item">
										<a class="menu-main__sub-link" href="/">
											Для испытательных лабораторий
										</a>
									</li>
									<li class="menu-main__sub-item">
										<a class="menu-main__sub-link" href="/">
											Проверка поставщика
										</a>
									</li>

								</ul>

							</li>

							<li class="menu-main__item">

								<a class="menu-main__link" href="/">
									Стандартизация
									<button class="button menu-main__arrow" type="button" aria-lavel="открыть меню второго уровня">
										<svg width="24" height="24" viewBox="0 0 24 24">
											<path d="M8.3 10.3a1 1 0 000 1.41l2.93 2.97c.22.21.5.32.78.32s.56-.1.77-.32l2.93-2.96a1.01 1.01 0 00-.32-1.63.99.99 0 00-1.09.21L12 12.62l-2.3-2.33a.99.99 0 00-1.4 0z"/>
										</svg>
									</button>
								</a>

								<ul class="menu-main__sub">

									<li class="menu-main__sub-item">
										<a class="menu-main__sub-link" href="/">
											Маркетплейс стандартизации
										</a>
									</li>
									<li class="menu-main__sub-item">
										<a class="menu-main__sub-link" href="/">
											Аналитические обзоры
										</a>
									</li>
									<li class="menu-main__sub-item">
										<a class="menu-main__sub-link" href="/">
											Для экспертов
										</a>
									</li>

								</ul>

							</li>

							<li class="menu-main__item">

								<a class="menu-main__link" href="/">
									Испытание инновации
									<button class="button menu-main__arrow" type="button" aria-lavel="открыть меню второго уровня">
										<svg width="24" height="24" viewBox="0 0 24 24">
											<path d="M8.3 10.3a1 1 0 000 1.41l2.93 2.97c.22.21.5.32.78.32s.56-.1.77-.32l2.93-2.96a1.01 1.01 0 00-.32-1.63.99.99 0 00-1.09.21L12 12.62l-2.3-2.33a.99.99 0 00-1.4 0z"/>
										</svg>
									</button>
								</a>

							</li>

							<li class="menu-main__item">

								<a class="menu-main__link" href="/">
									INSIGHTS
									<button class="button menu-main__arrow" type="button" aria-lavel="открыть меню второго уровня">
										<svg width="24" height="24" viewBox="0 0 24 24">
											<path d="M8.3 10.3a1 1 0 000 1.41l2.93 2.97c.22.21.5.32.78.32s.56-.1.77-.32l2.93-2.96a1.01 1.01 0 00-.32-1.63.99.99 0 00-1.09.21L12 12.62l-2.3-2.33a.99.99 0 00-1.4 0z"/>
										</svg>
									</button>
								</a>

							</li>

						</ul>