						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Загрузить ответы на комментарии:

							</dt>

							<dd class="key-value__value">

{% if fileLoad %}

								<div class="btn btn--light">

									<div class="btn__text">
										{{ fileLoad }}
									</div>

								</div>

{% else %}

								<label class="file-input{% if file == 'disabled' %} file-input--disabled{% endif %}">

									<input type="file" required="required">

									<span class="file-input__btn btn">
										Выберите файл
									</span>

								</label>

{% endif %}

							</dd>

						</div>