{% set title = "Заявка отклонена" %}
{% set folder = "certificates/canceled" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

{% include "certificates/head.html" %}

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

{% include "_include/tooltip-group.html" %}

						</div>

						<div class="indent__head-right">

							<p class="status status--red">
								Заявка отклонена
							</p>

						</div>

					</div>

{% include "certificates/info.html" %}

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Ваша заявка была отклонена. Вы можете скачать отчет с замечаниями и предложениями, а после корректировки подать заявку еще раз.
						</p>

					</div>

					<dl class="key-value key-value--column">

						<div class="key-value__item">

							<dt class="key-value__key">
								Скачать замечания <br>по заявке:
							</dt>

							<dd class="key-value__value">

								<a class="btn btn-download" href="/favicon.png" download="Замечания_1234.doc" title="Скачать Замечания_1234">
									<span class="btn-download__inner">
										<span class="btn-download__text">
											Замечания_1234.doc
										</span>
									</span>
								</a>

							</dd>

						</div>

					</dl>

					<div class="content__foot">

						<button class="btn btn--white" type="button">
							Есть вопросы?
						</button>

						<button class="btn btn--blue" type="button">
							Подать еще раз
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}