{% set title = "Заявка отклонена" %}
{% set folder = "certificates/canceled" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

				<div class="content__head">

					<a href="/certificates" class="content__back">
						Назад
					</a>

					<h1 class="h2">
						Заявка №567890
					</h1>

				</div>

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

{% include "_include/tooltip-group.html" %}

						</div>

						<div class="indent__head-right">

							<p class="status status--red">
								Заявка отклонена
							</p>

						</div>

					</div>

					<dl class="key-value key-value--table w100p">

{% set list = [

	{
		key   : "Категория",
		value : "Насосное оборудование (Цетробежные)"
	},
	{
		key   : "Продукт",
		value : "Насосы однокорпусные питательные"
	},
	{
		key   : "Орган сертификации",
		value : "Ассоциация «СЦ НАСТХОЛ»"
	},
	{
		key   : "Производственная площадка",
		value : "ООО “Волгограднефтемаш”, г. Волгоград"
	}

]%}

{% for item in list %}

						<div class="key-value__item">

							<dt class="key-value__key">
								{{ item.key }}:
							</dt>

							<dd class="key-value__value{% if item.mod %} key-value__value--{{ item.mod }}{% endif %}{% if item.ico %} key-value__value--ico-{{ item.ico }}{% endif %}">
								{{ item.value | safe }}
							</dd>

						</div>

{% endfor %}

					</dl>

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Ваша заявка была отклонена. Вы можете скачать отчет с замечаниями и предложениями, а после корректировки подать заявку еще раз.
						</p>

					</div>

					<dl class="key-value key-value--table w100p">

						<div class="key-value__item">

							<dt class="key-value__key">
								Скачать замечания <br>по заявке:
							</dt>

							<dd class="key-value__value">

								<a class="btn btn--silver" href="/favicon.png" download="Замечания_1234.doc" title="Скачать Замечания_1234.doc">

									<span class="btn__inner">

										Замечания_1234.doc

{% include "_include/ico-download.html" %}

									</span>

								</a>

							</dd>

						</div>

					</dl>

					<div class="content__foot">

						<button class="btn btn--white" type="button">
							Есть вопросы?
						</button>

						<button class="btn btn--blue" type="button">
							Подать еще раз
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}