					<div class="search-menu is-form-only">

						<div class="search-menu__form">

							<form action="/" class="live-search live-search--open">

								<input class="live-search__input input" placeholder="Поиск" name="keywords" value="рмавилмиыювтмыт">

								<svg class="live-search__ico" width="24" height="24" viewBox="0 0 24 24">
									<path d="M14.82 15.88a5.5 5.5 0 111.06-1.06l2.65 2.65c.3.3.53.59 0 1.06-.53.47-.77.3-1.06 0l-2.65-2.65zm-3.32-.38a4 4 0 100-8 4 4 0 000 8z"/>
								</svg>

								<div class="live-search__result">

{% include "insights/catalog/empty/result.html" %}

								</div>

							</form>

						</div>

						<div class="search-menu__btn">

{% include "insights/catalog/btn.html" %}

						</div>

					</div>