					<dl class="key-value key-value--column">

{% set chat = "true" %}
{% include "manager/certificates/info-head.html" %}

						<div class="key-value__item">

							<dt class="key-value__key">
								Категория:
							</dt>

							<dd class="key-value__value">
								Насосное оборудование (Цетробежные)
							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">
								Продукт:
							</dt>

							<dd class="key-value__value">
								Насосы однокорпусные питательные
							</dd>

						</div>

{% include "manager/standardization/invoice.html" %}
{% include "manager/contract/file.html" %}
{% include "manager/contract/doc.html" %}
{% include "manager/standardization/act.html" %}
{% include "manager/contract/status.html" %}

					</dl>