{% if paymentStatus %}

						<div class="key-value__item">

							<dt class="key-value__key">

								Статус оплаты:

							</dt>

							<dd class="key-value__value">

	{% if paymentStatus == "not" %}

								<span class="status-ico status-ico--red">
									Не оплачено
								</span>

	{% elif paymentStatus == "on" %}

								<span class="status-ico status-ico--green">
									Оплачено
								</span>

	{% else %}

								<div class="select select--color">

									<select class="form-required__item">
										<option value="0" data-color="black">Проверяется</option>
										<option value="1" data-color="green">Оплачено</option>
										<option value="2" data-color="red">Не получен</option>
									</select>

								</div>

	{% endif %}

							</dd>

						</div>

{% endif %}