	<header class="header{% if headerMod %} header--{{ headerMod }}{% endif %}">

		<div class="header__flex">

			<div class="header__breadcrumbs">

{% include "template/header/breadcrumbs.html" %}

			</div>

			<div class="header__right">

				<div class="header__lang">

					<button class="header__lang-btn button is-current" type="button" data-lang="ru" aria-label="русская версия сайта">
						Ru
					</button>

					<button class="header__lang-btn button" type="button" data-lang="en" aria-label="english site">
						En
					</button>

				</div>

				<div class="header__account">

{% include "template/header/account.html" %}

				</div>

			</div>

			<button class="button btn-menu-toggle" type="button" aria-label="открыть меню">
				<span class="btn-menu-toggle__line btn-menu-toggle__line--top"></span>
				<span class="btn-menu-toggle__line btn-menu-toggle__line--center"></span>
				<span class="btn-menu-toggle__line btn-menu-toggle__line--bottom"></span>
			</button>

		</div>

{% if headerMod %}

		<div class="header__title">

	{% if headerBtnBack %}

			<div class="header__title-btn">

				<a href="{{ headerBtnBack }}" class="btn btn--back">
					<svg width="32" height="28" viewBox="0 0 32 28">
						<path d="M18.28 10.3a1.06 1.06 0 0 0-1.47 0l-3.06 2.93c-.22.22-.33.5-.33.78s.11.56.33.77l3.05 2.93a1.06 1.06 0 0 0 1.7-.32.96.96 0 0 0-.23-1.09l-2.4-2.3 2.4-2.3a.99.99 0 0 0 .31-.7.96.96 0 0 0-.3-.7Z"/>
					</svg>
				</a>

			</div>

	{% endif %}

			<div class="header__title-text">

	{% if workgroup %}

				<h1 class="header__title-heading h3">
					{{ title }}
				</h1>

				<p class="header__title-description">
					{{ workgroup }}
				</p>

	{% else %}

				<h1 class="header__title-heading h1">
					{{ title }}
				</h1>

	{% endif %}

			</div>

		</div>

{% endif %}

	</header>