	<header class="header">

		<div class="center center--max">

			<div class="header__flex">

				<div class="header__logo">

					<a href="/" title="{{ site }}">
						<img src="/img/logo.svg" width="86" height="35" alt="{{ site }}">
					</a>

				</div>

				<nav class="header__menu">

{% include "template/header/menu.html" %}

				</nav>

{% include "template/header/cart.html" %}

				<div class="header__account">

{% include "template/header/account.html" %}

				</div>

{% include "template/header/phone.html" %}

				<button class="button btn-menu-toggle" type="button" aria-label="открыть меню">
					<span class="btn-menu-toggle__line btn-menu-toggle__line--top"></span>
					<span class="btn-menu-toggle__line btn-menu-toggle__line--center"></span>
					<span class="btn-menu-toggle__line btn-menu-toggle__line--bottom"></span>
				</button>

			</div>

		</div>

	</header>