	<header class="header">

		<div class="center">

			<div class="header__flex">

				<div class="header__logo">

					<a href="/" title="{{ site }}">
						<svg width="103" height="30" viewBox="0 0 103 30">
							<g id="svg-logo">
								<path fill="#0B233A" d="M45.68 27.12h-4.44V2.47h4.44v24.65ZM71.57 27.12h-4.52L55.65 9.6v17.5h-4.51V2.48h4.51l11.48 17.6V2.46h4.44v24.65ZM94.92 5.96h-8V27.2H82.5V5.96h-8V2.47h20.43v3.5ZM103 27.12h-4.43V2.47H103v24.65Z"/>
								<path fill="#99C8FF" fill-rule="evenodd" d="M14.85 29.72a14.85 14.85 0 1 0-.01-29.7 14.85 14.85 0 0 0 0 29.7Zm0-9c2.88 0 5.22-2.5 5.22-5.58 0-3.09-5.22-9.78-5.22-9.78s-5.22 6.7-5.22 9.78c0 3.08 2.34 5.58 5.22 5.58Z"/>
								<path fill="#99C8FF" d="M16.03 20.67c4.49 0 8.13-3.89 8.13-8.7 0-2.94-3.07-8.01-5.44-11.48a14.86 14.86 0 0 1-3.78 29.23A14.85 14.85 0 0 1 13.64.06C11.23 3.53 7.9 8.9 7.9 11.98a8.9 8.9 0 0 0 3.11 6.84 5.07 5.07 0 0 0 4.68 1.85h.34Z"/>
								<path fill="#2B8CFF" d="M17.6.26a14.85 14.85 0 1 0 11.6 18.43 11.56 11.56 0 0 1-9.08 4.4c-3.61 0-7.07-1.55-8.91-3.95a5.76 5.76 0 0 1-1.58-4c0-.8.35-1.84.86-2.93.06-5.43 2.44-10.6 7.11-11.95Z"/>
								<path fill="#0E2D4A" d="M18.76.52a14.86 14.86 0 1 0-.74 28.86 12.32 12.32 0 0 1-8.03-15.97c.43-1.21 1.19-2.6 1.98-3.89.83-1.36 1.9-2.94 2.88-4.16L18.76.52Z"/>
							</g>
						</svg>
					</a>

				</div>

				<nav class="header__menu">

{% include "template/header/menu.html" %}

				</nav>

				<div class="header__right">

					<button class="header__search button" type="button" aria-label="открыть поиск" data-modal="search">
						<svg width="25" height="25" viewBox="0 0 25 25">
							<path d="M11.5 18C7.9 18 5 15.1 5 11.5a6.48 6.48 0 1 1 12.99 0c0 3.6-2.9 6.5-6.5 6.5Zm0-12A5.48 5.48 0 0 0 6 11.5c0 3.05 2.44 5.5 5.5 5.5 3.04 0 5.49-2.45 5.49-5.5S14.54 6 11.49 6Z"/>
							<path d="m16.33 15.63 4.49 4.5-.71.7-4.49-4.49.7-.7Z"/>
						</svg>
					</button>

					<div class="header__lang">

						<button class="header__lang-btn button is-current" type="button" data-lang="ru" aria-label="русская версия сайта">
							Ru
						</button>

						<button class="header__lang-btn button" type="button" data-lang="en" aria-label="english site">
							En
						</button>

					</div>

					<div class="header__account">

{% include "template/header/account.html" %}

					</div>

				</div>

				<button class="button btn-menu-toggle" type="button" aria-label="открыть меню">
					<span class="btn-menu-toggle__line btn-menu-toggle__line--top"></span>
					<span class="btn-menu-toggle__line btn-menu-toggle__line--center"></span>
					<span class="btn-menu-toggle__line btn-menu-toggle__line--bottom"></span>
				</button>

			</div>

		</div>

{% include "template/header/menu-service.html" %}

	</header>