			<div class="left">

				<div class="left__top">

					<div class="left__logo">

						<a href="https://inti-v3.wndrbase.com/main/">

							<img src="/img/logo.svg" width="100" height="30" alt="">

						</a>

					</div>

					<div class="left__menu">

{% include "template/menu.html" %}

					</div>

				</div>

				<div class="left__bottom">

					<button class="btn btn--support">

						<svg width="22" height="22" viewBox="0 0 22 22">
							<path d="M10.92 3A7.93 7.93 0 0 0 3 10.92v3.28c0 .8.71 1.47 1.58 1.47h.8a.8.8 0 0 0 .79-.8V10.8a.8.8 0 0 0-.8-.79h-.71a6.34 6.34 0 0 1 12.52 0h-.72a.8.8 0 0 0-.8.8v4.86c0 .87-.7 1.58-1.58 1.58H12.5v-.8H9.33v2.38h4.75a3.17 3.17 0 0 0 3.17-3.16c.87 0 1.58-.66 1.58-1.47v-3.28A7.93 7.93 0 0 0 10.92 3Z"/>
						</svg>

						Поддержка

					</button>

				</div>

			</div>