			<div class="left-bar">

				<div class="left-bar__top">

					<a class="left-bar__logo" href="/">
						<span class="left-bar__short-hide">
							<span class="left-bar__logo-first">Easy</span>Scanner
						</span>
						<span class="left-bar__short-show">
							<span class="left-bar__logo-first">E</span>S
						</span>
					</a>

				</div>

				<div class="left-bar__body">

					<hr class="hidden-md">

					<div class="left-bar__user">

{% include "template/user.html" %}

					</div>

					<hr class="left-bar__short-show">

					<div class="left-bar__balance left-bar__short-hide">

{% include "template/balance.html" %}

					</div>

					<div class="left-bar__menu">

{% include "template/menu.html" %}

					</div>

					<hr>

					<form class="left-bar__exit" action="/logout">

						<button class="btn btn--exit">
							<svg width="21" height="20" viewBox="0 0 21 20">
								<path d="M12 9V6l-5 4 5 4v-3h9V9h-9zm7.542 4h-2.124a8.0025 8.0025 0 01-8.9436 4.8447A8.0025 8.0025 0 012 10a8 8 0 0115.418-3h2.124C18.268 2.943 14.478 0 10 0 4.477 0 0 4.477 0 10s4.477 10 10 10c4.478 0 8.268-2.943 9.542-7z"/>
							</svg>
							<span class="left-bar__short-hide">
								Выйти
							</span>
						</button>

					</form>

				</div>

				<div class="left-bar__bottom">

					<button class="left-bar__btn-toggle button hidden-md" type="button" aria-label="Переключение левого бара">
						<svg width="20" height="18" viewBox="0 0 20 18">
							<path d="M2 0v18H0V0h2zm10 10v7L4 9l8-8v7h8v2h-8z"/>
						</svg>
					</button>

{% include "template/lang.html" %}

				</div>

			</div>