	<div class="modal" id="modal">

		<div class="modal__box">

{% include "template/modal/cart.html" %}

{% include "template/modal/order.html" %}

{% include "template/modal/login.html" %}

<!-- все что ниже не используется
 -->

{% include "template/modal/experience.html" %}

{% include "template/modal/review.html" %}

			<div class="modal__item modal__item--ok modal-mini">

				<div class="modal-mini__logo">

					<svg width="54" height="54" viewBox="0 0 54 54">
						<path fill-rule="evenodd" d="M49.5 27a22.5 22.5 0 11-45 0 22.5 22.5 0 0145 0zm-28.39-2.1c.27.12.52.3.73.5l2.91 2.92 7.4-7.41a2.25 2.25 0 113.2 3.18l-9 9a2.25 2.25 0 01-3.2 0l-4.5-4.5a2.25 2.25 0 012.46-3.68z"/>
					</svg>

				</div>

				<div class="modal-mini__title"></div>

				<div class="modal-mini__text"></div>

				<button type="button" class="btn btn--blue modal__close">
					Закрыть
				</button>

			</div>

			<div class="modal__item modal__item--photo">

				<div id="modal-photo">

				</div>

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="M12 10.59l-5.3-5.3a1 1 0 00-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 001.42 1.4L12 13.42l5.3 5.3a1 1 0 001.4-1.42L13.42 12l5.3-5.3a1 1 0 10-1.42-1.4L12 10.58z"/>
				</svg>
			</button>

		</div>

	</div>