	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--info modal__item--signal">

				<div class="modal-form">

					<div class="modal-form__text mb56 mb20-sm">

						<p class="color-dark">
							Информация о технических характеристиках, комплекте поставки, стране изготовления и внешнем виде товара носит справочный характер и основывается на последних доступных сведениях от производителя
						</p>

					</div>

					<div class="modal-form__btns-3">

						<button class="modal-form__submit btn btn--violet" type="button">
							Связаться
						</button>

						<button class="modal-form__submit btn btn--light modal__close" type="button">
							Закрыть
						</button>

						<button class="modal-form__submit btn btn--red" type="button">
							Удалить
						</button>

					</div>

				</div>

			</div>

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть окно">
				<svg width="15" height="16" viewBox="0 0 15 16">
					<path d="M13.24 0.930176L7.93621 6.23268L2.63371 0.930176L0.866211 2.69768L6.16871 8.00018L0.866211 13.3027L2.63371 15.0702L7.93621 9.76767L13.24 15.0702L15.0075 13.3027L9.70496 8.00018L15.0075 2.69768L13.24 0.930176Z"/>
				</svg>
			</button>

		</div>

	</div>