	<div class="modal" id="modal">

		<div class="modal__box">

			<form action="/" class="modal__item modal__item--login modal-login form-required">

				<h3 class="modal-login__title">
					Оформление заявки
				</h3>

				<div class="modal-login__input">

					<div class="input-box">

						<label for="modal-login-base" class="input-box__label">
							Выберите производственную площадку:
						</label>

						<div class="select select--snow">

							<select id="modal-login-base" name="base" class="form-required__item">
								<option value="none">Выберите площадку</option>
								<option value="1">АО «Трубодеталь», Челябинская область</option>
								<option value="2">АО «АТЗ», Республика Татарстан</option>
								<option value="3">ОАО "ВОЛГОГРАДНЕФТЕМАШ"</option>
								<option value="4">АО «ВМЗ», Нижегородская область</option>
							</select>

						</div>

					</div>

				</div>

				<div class="modal-login__input">

					<div class="input-box">

						<label for="modal-login-standart" class="input-box__label">
							Сертификация по стандарту:
						</label>

						<div class="select select--snow">

							<select id="modal-login-standart" name="standart" class="form-required__item">
								<option value="none">Выберите стандарт</option>
								<option value="1">АО «Трубодеталь», Челябинская область</option>
								<option value="2">АО «АТЗ», Республика Татарстан</option>
								<option value="3">ОАО "ВОЛГОГРАДНЕФТЕМАШ"</option>
								<option value="4">АО «ВМЗ», Нижегородская область</option>
							</select>

						</div>

					</div>

				</div>

				<button class="btn btn--blue modal-login__submit form-required__submit" disabled="disabled">
					Оформить заявку
				</button>

				<p class="modal-login__foot">
					* Нажимая кнопку «Оформить заявку», я соглашаюсь <br> с условиями <a href="/" target="_blank">пользовательского соглашения</a>
				</p>

			</form>

			<aside class="modal__item modal__item--thanks modal-mini">

				<h3 class="modal-mini__title">
					Спасибо за заявку!
				</h3>

				<p class="modal-mini__text">
					Ваша заявка №12376235 на сертификацию продукта «Насос однокорпусный» принята. После обработки заявки вы получите уведомление в личном кабинете и форму заполнения договора. В случае необходимости с Вами свяжется менеджер для уточнения деталей
				</p>

				<div class="modal-mini__btns">

					<a class="btn btn--white" href="/">
						В маркетплейс
					</a>

					<a class="btn btn--blue" href="/">
						К заявкам
					</a>

				</div>

			</aside>

			<aside class="modal__item modal__item--company modal-mini">

				<h3 class="modal-mini__title">
					Спасибо за регистрацию!
				</h3>

				<p class="modal-mini__text">
					Теперь вы можете оставить заявку на сертификацию выбранного продукта в нашем маркетплейсе. Перейти в маркетплейс?
				</p>

				<div class="modal-mini__btns">

					<a class="btn btn--white" href="/">
						Добавить иформацию
					</a>

					<a class="btn btn--blue" href="/">
						В маркетплейс
					</a>

				</div>

			</aside>

			<form action="/contract/prompt/" class="modal__item modal__item--contract-prompt modal-mini">

				<h3 class="modal-mini__title">
					Запрос договора
				</h3>

				<p class="modal-mini__text">
					Вы можете произвести оплату по счету в соответствии с условиями пользовательского соглашения без оформления договора. Составление договора заемет N рабочих дней. Вы уверены, что хотите запросить договор?
				</p>

				<div class="modal-mini__btns">

					<button class="btn btn--white">
						Запросить договор
					</button>

					<button type="button" class="btn btn--blue modal__close">
						Отмена
					</button>

				</div>

			</form>

			<aside class="modal__item modal__item--contract-post modal-mini">

				<h3 class="modal-mini__title">
					Подпись договора в бумажном виде
				</h3>

				<p class="modal-mini__text">
					Подпишите договор в двух экземплярах со своей стороны и направьте по адресу: 121205, город Москва, территория Сколково инновационного центра, улица Сикорского, дом 11, эт/оф/пом 5/1/30. <br>Отправьте трек номер менеджеру.
				</p>

				<div class="modal-mini__btns">

					<button type="button" class="btn btn--white modal__close">
						Позже
					</button>

					<a href="/" class="btn btn--blue">
						Отправить трек
					</a>

				</div>

			</aside>

{% include "template/modal/certification.html" %}

{% include "template/modal/history.html" %}

{% include "template/modal/certificates-manager.html" %}

			<button type="button" class="modal__close modal__close-btn button" aria-label="Закрыть">
				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="M12 10.59l-5.3-5.3a1 1 0 00-1.4 1.42L10.58 12l-5.3 5.3a1 1 0 001.42 1.4L12 13.42l5.3 5.3a1 1 0 001.4-1.42L13.42 12l5.3-5.3a1 1 0 10-1.42-1.4L12 10.58z"/>
				</svg>
			</button>

		</div>

	</div>