	<ul class="pagination">

		<li class="pagination__item pagination__item--prev">
			<a href="/">
				<svg width="14" height="14" viewBox="0 0 14 14">
					<path d="M3.5232 6.1666l4.47-4.47L6.8148.5183.3332 7l6.4816 6.4816 1.1784-1.1783-4.47-4.47h10.1433V6.1666H3.5232z"/>
				</svg>
				Предыдущая
			</a>
		</li>

		<li class="pagination__item">
			<a href="/">1</a>
		</li>

		<li class="pagination__item">
			<a href="/">2</a>
		</li>

		<li class="pagination__item pagination__item--current">
			3
		</li>

		<li class="pagination__item">
			<a href="/">4</a>
		</li>

		<li class="pagination__item pagination__item--sep">
			...
		</li>

		<li class="pagination__item">
			<a href="/">8</a>
		</li>

		<li class="pagination__item pagination__item--next">
			<a href="/">
				<svg width="14" height="14" viewBox="0 0 14 14">
					<path d="M10.4768 6.1666l-4.47-4.47L7.1852.5183 13.6668 7l-6.4816 6.4816-1.1784-1.1783 4.47-4.47H.3335V6.1666h10.1433z"/>
				</svg>
				Следующая
			</a>
		</li>

	</ul>