			<ul class="pagin">

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						2
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						19
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						20
					</a>

				</li>

				<li class="pagin__item pagin__item--next">

					<a href="/" class="pagin__link">

						Вперёд

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="M10.6 7 7.3 3.7 8.7 2.3 14.42 8l-5.7 5.71L7.3 12.3 10.6 9H2V7h8.6Z"/>
						</svg>

					</a>

				</li>

			</ul>

			<ul class="pagin">

				<li class="pagin__item pagin__item--prev">

					<a href="/" class="pagin__link">

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="m5.4 7 3.3-3.3L7.3 2.3 1.58 8l5.71 5.71L8.7 12.3 5.4 9H14V7H5.4Z"/>
						</svg>

						Назад

					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						2
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						3
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						20
					</a>

				</li>

				<li class="pagin__item pagin__item--next">

					<a href="/" class="pagin__link">

						Вперёд

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="M10.6 7 7.3 3.7 8.7 2.3 14.42 8l-5.7 5.71L7.3 12.3 10.6 9H2V7h8.6Z"/>
						</svg>

					</a>

				</li>

			</ul>

			<ul class="pagin">

				<li class="pagin__item pagin__item--prev">

					<a href="/" class="pagin__link">

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="m5.4 7 3.3-3.3L7.3 2.3 1.58 8l5.71 5.71L8.7 12.3 5.4 9H14V7H5.4Z"/>
						</svg>

						Назад

					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						2
					</a>

				</li>

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						3
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						4
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						20
					</a>

				</li>

				<li class="pagin__item pagin__item--next">

					<a href="/" class="pagin__link">

						Вперёд

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="M10.6 7 7.3 3.7 8.7 2.3 14.42 8l-5.7 5.71L7.3 12.3 10.6 9H2V7h8.6Z"/>
						</svg>

					</a>

				</li>

			</ul>

			<ul class="pagin">

				<li class="pagin__item pagin__item--prev">

					<a href="/" class="pagin__link">

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="m5.4 7 3.3-3.3L7.3 2.3 1.58 8l5.71 5.71L8.7 12.3 5.4 9H14V7H5.4Z"/>
						</svg>

						Назад

					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						3
					</a>

				</li>

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						4
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						5
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						20
					</a>

				</li>

				<li class="pagin__item pagin__item--next">

					<a href="/" class="pagin__link">

						Вперёд

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="M10.6 7 7.3 3.7 8.7 2.3 14.42 8l-5.7 5.71L7.3 12.3 10.6 9H2V7h8.6Z"/>
						</svg>

					</a>

				</li>

			</ul>

			<ul class="pagin">

				<li class="pagin__item pagin__item--prev">

					<a href="/" class="pagin__link">

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="m5.4 7 3.3-3.3L7.3 2.3 1.58 8l5.71 5.71L8.7 12.3 5.4 9H14V7H5.4Z"/>
						</svg>

						Назад

					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						4
					</a>

				</li>

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						5
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						6
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						20
					</a>

				</li>

				<li class="pagin__item pagin__item--next">

					<a href="/" class="pagin__link">

						Вперёд

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="M10.6 7 7.3 3.7 8.7 2.3 14.42 8l-5.7 5.71L7.3 12.3 10.6 9H2V7h8.6Z"/>
						</svg>

					</a>

				</li>

			</ul>

			<ul class="pagin">

				<li class="pagin__item pagin__item--prev">

					<a href="/" class="pagin__link">

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="m5.4 7 3.3-3.3L7.3 2.3 1.58 8l5.71 5.71L8.7 12.3 5.4 9H14V7H5.4Z"/>
						</svg>

						Назад

					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						17
					</a>

				</li>

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						18
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						19
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						20
					</a>

				</li>

				<li class="pagin__item pagin__item--next">

					<a href="/" class="pagin__link">

						Вперёд

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="M10.6 7 7.3 3.7 8.7 2.3 14.42 8l-5.7 5.71L7.3 12.3 10.6 9H2V7h8.6Z"/>
						</svg>

					</a>

				</li>

			</ul>

			<ul class="pagin">

				<li class="pagin__item pagin__item--prev">

					<a href="/" class="pagin__link">

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="m5.4 7 3.3-3.3L7.3 2.3 1.58 8l5.71 5.71L8.7 12.3 5.4 9H14V7H5.4Z"/>
						</svg>

						Назад

					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						18
					</a>

				</li>

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						19
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						20
					</a>

				</li>

				<li class="pagin__item pagin__item--next">

					<a href="/" class="pagin__link">

						Вперёд

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="M10.6 7 7.3 3.7 8.7 2.3 14.42 8l-5.7 5.71L7.3 12.3 10.6 9H2V7h8.6Z"/>
						</svg>

					</a>

				</li>

			</ul>

			<ul class="pagin">

				<li class="pagin__item pagin__item--prev">

					<a href="/" class="pagin__link">

						<svg width="16" height="16" viewBox="0 0 16 16">
							<path d="m5.4 7 3.3-3.3L7.3 2.3 1.58 8l5.71 5.71L8.7 12.3 5.4 9H14V7H5.4Z"/>
						</svg>

						Назад

					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						1
					</a>

				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						2
					</a>

				</li>

				<li class="pagin__item pagin__item--sep">
					...
				</li>

				<li class="pagin__item">

					<a href="/" class="pagin__link">
						19
					</a>

				</li>

				<li class="pagin__item pagin__item--current">

					<a href="/" class="pagin__link">
						20
					</a>

				</li>

			</ul>