	<div class="modal__item modal__item--search">

		<form action="/" class="search">

			<h3 class="search__title">
				Поиск по сайту
			</h3>

			<input class="input search__input" placeholder="Введите ваш запрос">

			<div class="search__result">

				<div class="search__result-inner">

					<div class="search__result-empty">
						Нет данных
					</div>

					<div class="search__result-cat">
						О нас /
					</div>

					<div class="search__result-value">
						Деятельность <em>ИНТИ</em>
					</div>

					<div class="search__result-cat">
						Новости / ИНТИ и Росстандарт подписали соглашение о сотрудничестве
					</div>

					<div class="search__result-value">
						дайджеста <em>ИНТИ</em>
					</div>

				</div>

			</div>

		</form>

	</div>