						<div class="key-value__item">

							<dt class="key-value__key">

								Ответственный менеджер:

							</dt>

							<dd class="key-value__value key-value__value--bold">

								Гилемханов Р.А.

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Ответственный <br>за проведение испытаний:

							</dt>

							<dd class="key-value__value key-value__value--middle key-value__value--bold">

								Осетров И.И.

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Адрес проведения испытания:

							</dt>

							<dd class="key-value__value">

								141101, РОССИЯ, Московская область, Щелковский район, город Щелково, улица Заводская, дом 14, лит. А <br>(здание испытательного комплекса и центральной заводской лаборатории)

							</dd>

						</div>