{% set title = "Испытания продукции | Выбор доставки" %}
{% set folder = "certification/step-3" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/" class="content__box indent form">

{% include "certification/step-3/step.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-3/experts.html" %}

{% include "certification/step-3/select.html" %}

{% include "certification/step-3/analiz.html" %}

{% set file = "disabled" %}
{% include "certification/file-comm.html" %}

					</dl>

{% include "certification/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}