					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №1234567890
							</p>

{% include "_include/tooltip-group.html" %}

						</div>

						<div class="indent__head-right">

							<p class="status status--yellow">
								Проведение сертификации
							</p>

						</div>

					</div>

{% set step = 3 %}
{% include "certification/steps.html" %}

					<div class="indent__desc">

						<div class="indent__desc-inner">

							<p>
								Назначен ответственный за проведение испытаний Осетров И.И.
							</p>

							<p>
								Вам необходимо привезти вашу продукцию на испытание по адресу <br>141101, РОССИЯ, Московская область, Щелковский район, город Щелково, улица Заводская, дом 14, лит. А (здание испытательного комплекса и центральной заводской лаборатории).
							</p>

							<p>
								Вы можете осуществить доставку сами или мы можем организовать ее за дополнительную плату. После проведения испытаний вам будет доступен для скачивания отчет,  а также вы сможете загрузить ответы на комментарии. При изменении статуса заявки вы получите уведомление в личном кабинете.
							</p>

						</div>

					</div>