{% if act %}

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">
								Загрузить акт:
							</dt>

							<dd class="key-value__value">
	{% if act == "load" %}
								<a class="btn btn--light" href="/favicon.png" download="Акт №567890.pdf">
									<span class="btn-download__text">
										Акт №567890.pdf
									</span>
								</a>
	{% else %}
								<label class="file-input">

									<input type="file" required="required">

									<span class="file-input__btn btn">
										Выберите файл
									</span>

								</label>
	{% endif %}
							</dd>

						</div>

{% endif %}