					<dl class="key-value key-value--column">

{% set chat = "true" %}
{% include "manager/certificates/info-head.html" %}

						<div class="key-value__item">

							<dt class="key-value__key">
								Стандарт:
							</dt>

							<dd class="key-value__value">
								НАСОСЫ ЦЕНТРОБЕЖНЫЕ ДЛЯ НЕФТЯНОЙ, НЕФТЕХИМИЧЕСКОЙ И ГАЗОВОЙ ПРОМЫШЛЕННОСТИ (Общие технические требования)
							</dd>

						</div>

{% include "manager/standardization/invoice.html" %}
{% include "manager/standardization/doc.html" %}
{% include "manager/standardization/act.html" %}
{% include "manager/standardization/status.html" %}

					</dl>