{% set title = "Верификация результатов" %}
{% set folder = "manager/certification/step-4/wait" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/" class="content__box indent">

{% include "manager/certification/head.html" %}

{% set step = 4 %}
{% include "certification/steps.html" %}

					<dl class="key-value key-value--column">

{% include "manager/certification/info.html" %}

{% set expertGroupChat = "true" %}
{% include "_include/expert-group.html" %}

{% set result = "green" %}
{% include "manager/certification/step-4/result.html" %}

{% set files = "load" %}
{% include "manager/certification/step-4/files.html" %}

					</dl>

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Ожидается подтверждение от пользователя
						</p>

					</div>

				</form>

			</div>

		</div>

	</div>

{% endblock %}