{% set title = "Текущие заявки" %}
{% set folder = "manager/certificates/current" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__head">

				<h1 class="h1">
					{{ title }}
				</h1>

			</div>

			<div class="content__flex tabs">

				<div class="content__left">

					<ul class="menu-tab">

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn is-active" href="/{{ folder }}/#review">
								Оценка соответствия
							</a>

						</li>

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn" href="/{{ folder }}/#agreed">
								Стандартизация
							</a>

						</li>

						<li class="menu-tab__item">

							<a class="menu-tab__link tabs__btn" href="/{{ folder }}/#canceled">
								Проверка поставщика
							</a>

						</li>

					</ul>

				</div>

				<div class="content__body">

{% include "manager/certificates/filter.html" %}

					<div class="certificates certificates--manager tabs__item is-active">

{% set list = [

	{
		number : 12376235,
		url    : "operation",
		alarm  : "Требуется действие",
		status : {
			mod  : "yellow",
			text : "Заключение договора"
		},
		company  : "ПАО «Газпром нефть»",
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "НC 09.2"
	},
	{
		number : 678907,
		url    : "item",
		status : {
			mod  : "yellow",
			text : "Проведение сертификации"
		},
		company  : "ПАО «Газпром нефть»",
		category : "Запорно-регулирующая арматура (Краны)",
		product  : "Кран A104.01"
	},
	{
		number : 134567,
		url    : "item",
		status : {
			mod  : "red",
			text : "Заявка отклонена"
		},
		company  : "ПАО «Газпром нефть»",
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "Тройник 1.2"
	},
	{
		number : 134567,
		url    : "item",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		company  : "ПАО «Газпром нефть»",
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "Тройник 1.2"
	}

]%}

{% include "manager/certificates/item.html" %}

					</div>

					<div class="certificates certificates--manager tabs__item">

{% set list = [

	{
		number : 134567,
		url    : "item",
		status : {
			mod  : "green",
			text : "Заявка согласована"
		},
		company  : "ПАО «Газпром нефть»",
		category : "Соединительные детали трубопроводов (Задвижки)",
		product  : "Тройник 1.2"
	}

]%}

{% include "manager/certificates/item.html" %}

					</div>

					<div class="certificates certificates--manager tabs__item">

{% set list = [

	{
		number : 7890321,
		status : {
			mod  : "yellow",
			text : "Заключение договора"
		},
		company  : "ПАО «Газпром нефть»",
		category : "Емкостное оборудование (Реакторное)",
		product  : "AB 78/1"
	}

]%}

{% include "manager/certificates/item.html" %}

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}