{% set title = "Выезд на площадку" %}
{% set folder = "manager/certification/step-2/wait" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/" class="content__box indent">

{% include "manager/certification/head.html" %}

{% set step = 2 %}
{% include "certification/steps.html" %}

					<dl class="key-value key-value--column">

{% include "manager/certification/info.html" %}

{% include "manager/certification/step-2/programm.html" %}

{% include "manager/certification/step-2/date-time.html" %}

					</dl>

{% set status = "hold" %}
{% include "manager/certification/step-2/status.html" %}

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Ожидается подтверждение даты и времени от пользователя.
						</p>

					</div>

				</form>

			</div>

		</div>

	</div>

{% endblock %}