{% set title = "Заключение договора | Проверяется оплата" %}
{% set folder = "contract/signature/payment/checked" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

{% include "contract/head.html" %}

				<form action="/contract/signature/payment/checked/" class="content__box indent form">

{% include "contract/before.html" %}

{% set status = "green" %}
{% include "contract/signature/file.html" %}

{% set status = "grey" %}
{% set file = "Скан оплаты.png" %}
{% include "contract/body.html" %}

{% include "contract/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}