{% set title = "Заключение договора | Проверяется оплата" %}
{% set folder = "contract/signature/payment/checked" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

				<div class="content__head">

					<a href="/certificates" class="content__back">
						Назад
					</a>

					<h1 class="h2">
						Заявка №567890
					</h1>

				</div>

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

{% include "_include/tooltip-group.html" %}

						</div>

						<div class="indent__head-right">

							<p class="status status--yellow">
								Заключение договора
							</p>

						</div>

					</div>

{% include "_include/indent__desc-contract.html" %}

					<dl class="key-value key-value--table w100p">
						<div class="key-value__item">

							<dt class="key-value__key key-value__key--pt25">

								<div class="tooltip-before">

									<div class="tooltip-before__ico">

										<details class="tooltip-help">

											<summary class="tooltip-help__btn">
												Подробнее
											</summary>

											<p class="tooltip-help__inner">
												Составление договора заемет N рабочих дней
											</p>

										</details>

									</div>

									<div class="tooltip-before__inner">
										Договор:
									</div>

								</div>

							</dt>

							<dd class="key-value__value">

								<a class="btn btn--silver" href="/favicon.png" download="Договор 561234.doc" title="Скачать Договор 561234.doc">

									<span class="btn__inner">

										Договор 561234.doc

{% include "_include/ico-download.html" %}

									</span>

								</a>

								<div class="indent__status-after-btn">

									<span class="status-ico status-ico--green">
										Подписан
									</span>

								</div>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								<div class="tooltip-before">

									<div class="tooltip-before__ico">

										<details class="tooltip-help">

											<summary class="tooltip-help__btn">
												Подробнее
											</summary>

											<p class="tooltip-help__inner">
												Cкачайте счет и проведите оплату согласно счету
											</p>

										</details>

									</div>

									<div class="tooltip-before__inner">
										Получить счет:
									</div>

								</div>

							</dt>

							<dd class="key-value__value">

								<a class="btn btn--silver" href="/favicon.png" download="Счет заявка №567890.doc" title="Скачать Счет заявка №567890">

									<span class="btn__inner">

										Счет заявка №567890.doc

{% include "_include/ico-download.html" %}

									</span>

								</a>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								<div class="tooltip-before">

									<div class="tooltip-before__ico">

										<details class="tooltip-help">

											<summary class="tooltip-help__btn">
												Подробнее
											</summary>

											<p class="tooltip-help__inner">
												Загрузите подтверждающие документы и менеджер заявки проверить и подтвердить оплату, либо мы потвердим по результам получение оплаты на счет
											</p>

										</details>

									</div>

									<div class="tooltip-before__inner">
										Подтвердить оплату:
									</div>

								</div>

							</dt>

							<dd class="key-value__value">

								<button class="btn btn--light w100p" type="button">
									<span class="btn__ellipsis">
										<span class="btn__ellipsis-inner">
											Скан оплаты.png
										</span>
									</span>
								</button>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								<div class="tooltip-before">

									<div class="tooltip-before__ico">

										<details class="tooltip-help">

											<summary class="tooltip-help__btn">
												Подробнее
											</summary>

											<p class="tooltip-help__inner">
												Мы проверяем оплату, если статус не поменялся в течении 1 рабочего дня, напишите нам
											</p>

										</details>

									</div>

									<div class="tooltip-before__inner">
										Статус оплаты:
									</div>

								</div>

							</dt>

							<dd class="key-value__value">

								<div class="status-ico status-ico--grey">
									Проверяется
								</div>

							</dd>

						</div>

					</dl>

					<div class="content__foot">

						<button class="btn btn--white" type="button">
							Есть вопросы?
						</button>

						<button class="btn btn--blue" disabled="disabled">
							Подтвердить
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}