{% set title = "Информация о компании" %}
{% set folder = "company" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__head">

				<h1 class="h1">
					{{ title }}
				</h1>

			</div>

			<div class="content__body">

				<div class="content__box company">

					<div class="accordion">

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Регистрационные данные
							</div>

							<div class="accordion__body">

{% include "company/reg.html" %}

							</div>

						</div>

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Информация о главном офисе компании
							</div>

							<div class="accordion__body">

{% include "company/info.html" %}

							</div>

						</div>

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Банковские реквизиты
							</div>

							<div class="accordion__body">

{% include "company/bank.html" %}

							</div>

						</div>

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Производственная площадка №1
							</div>

							<div class="accordion__body">

{% include "company/base-1.html" %}

							</div>

						</div>

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Производственная площадка №2
							</div>

							<div class="accordion__body">

{% include "company/base-2.html" %}

							</div>

						</div>

					</div>

					<div class="company__add">

						<button type="button" class="btn btn--add company-add-base">
							Добавить производственную площадку
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}