{% set title = "Верификация результатов" %}
{% set folder = "certification/step-4" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/" class="content__box indent form">

{% include "certification/step-4/step.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-4/experts.html" %}

{% include "certification/step-4/result.html" %}

{% include "certification/step-4/analiz.html" %}

					</dl>

{% set disabled = "disabled" %}
{% include "certification/step-4/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}