{% set title = "ИНТИ — возможности и основные цели" %}

{% set description = "ИНТИ — автономная некоммерческая организация, объединившая нефтегазовые, нефтехимические и инжиниринговые компании, а также производителей оборудования для совместной работы над отраслевыми стандартами и создания системы добровольной сертификации" %}

{% set ogImage = "img/about/head--desktop.jpg" %}
{% set ogImage256 = "img/about/head--mobile.jpg" %}

{% set preloadImage = [
	{
		media: "(max-width: 360px)",
		img : "/img/about/head--mobile.webp"
	},
	{
		media: "(min-width: 1250px)",
		img : "/img/about/head--desktop.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

	<article>

{% include "about/head.html" %}
{% include "about/why-we.html" %}
{% include "about/clients.html" %}
{% include "about/service-access.html" %}
{% include "about/you-get.html" %}

	</article>

{% endblock %}