{% set title = "Главная | " + site %}

{% set description = "Выбирайте лучшие стандарты на основе аналитики" %}

{% set ogImage = "img/billboard/docs-main--desktop.jpg" %}
{% set ogImage256 = "img/billboard/docs-main--mobile.jpg" %}

{% set preloadImage = [
	{
		media: "(max-width: 360px)",
		img : "/img/billboard/docs-main--mobile.webp"
	},
	{
		media: "(min-width: 1250px)",
		img : "/img/billboard/docs-main--desktop.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/billboard.html" %}

{% endblock %}