{% set title = "Насос центробежный горизонтальный ТУ-2606-1510-88" %}

{% set description = "Применяются в технологических установках для перекачивания нефти, нефтепродуктов, сжиженных углеводородных газов." %}

{% set urlPage = "insights/catalog/product" %}
{% set ogImage = "img/insights/catalog/product/main/photo@2x.jpg" %}
{% set ogImage256 = "img/insights/catalog/product/main/photo.jpg" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="product">

		<div class="center">

{% include "insights/catalog/product/back.html" %}

			<div class="product__body">

				<div class="product__tab product__tab--main is-current">

{% include "insights/catalog/product/main/body.html" %}

				</div>

				<div class="product__tab product__tab--description hide">

{% include "insights/catalog/product/head.html" %}
{% include "insights/catalog/product/description/body.html" %}
{% include "insights/catalog/product/foot.html" %}

				</div>

				<div class="product__tab product__tab--models hide">

{% include "insights/catalog/product/head.html" %}
{% include "insights/catalog/product/models/body.html" %}
{% include "insights/catalog/product/foot.html" %}

				</div>

				<div class="product__tab product__tab--performance hide">

{% include "insights/catalog/product/head.html" %}
{% include "insights/catalog/product/performance/body.html" %}
{% include "insights/catalog/product/foot.html" %}

				</div>

				<div class="product__tab product__tab--quality hide">

{% include "insights/catalog/product/head.html" %}
{% include "insights/catalog/product/quality/body.html" %}
{% include "insights/catalog/product/foot.html" %}

				</div>

				<div class="product__tab product__tab--experience hide">

{% include "insights/catalog/product/head.html" %}
{% include "insights/catalog/product/experience/body.html" %}
{% include "insights/catalog/product/foot.html" %}

				</div>

				<div class="product__tab product__tab--gallery hide">

{% include "insights/catalog/product/head.html" %}
{% include "insights/catalog/product/gallery/body.html" %}
{% include "insights/catalog/product/foot.html" %}

				</div>

				<div class="product__tab product__tab--review hide">

{% include "insights/catalog/product/head.html" %}
{% include "insights/catalog/product/review/body.html" %}
{% include "insights/catalog/product/foot.html" %}

				</div>

			</div>

		</div>

	</div>

{% endblock %}