			<ul class="catalog-menu">

{% set menu = [

	{
		name : "Область применения",
		link : ""
	},
	{
		name : "Модельный ряд",
		link : "models"
	},
	{
		name : "Аудиты",
		link : "audits"
	},
	{
		name : "Результаты испытания",
		link : "tests"
	},
	{
		name : "Опыт/референции",
		link : "experience"
	},
	{
		name : "Сертификаты",
		link : "certificates"
	},
	{
		name : "Стандарты",
		link : "standarts"
	},
	{
		name : "Материальное исполнение",
		link : "performance"
	},
	{
		name : "Система качества",
		link : "quality-system"
	},
	{
		name : "Фото производства",
		link : "photo-production"
	},
	{
		name : "Отзывы",
		link : "review"
	}

] %}

{% for item in menu %}

				<li class="catalog-menu__item {% if item.link === menuCurrent %} is-current{% endif %}">

					<a href="/insights/catalog/product/{{ item.link }}" class="catalog-menu__link">
						{{ item.name }}
					</a>

				</li>

{% endfor %}

			</ul>