{% set title = "Оплата счета и подтверждающие документы" %}
{% set folder = "manager/standardization/step-1/wait" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<form action="/" class="content__body content__body--indent">

{% include "certificates/head--history-back.html" %}

				<div class="content__box indent">

{% include "manager/standardization/head.html" %}

{% set step = 1 %}
{% include "manager/standardization/steps.html" %}

{% set invoice = "load" %}
{% set doc = "no-load" %}
{% include "manager/standardization/info.html" %}

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Ожидается загрузка подтверждающих документов от пользователя
						</p>

					</div>

				</div>

			</form>

		</div>

	</div>

{% endblock %}