		<div class="insights-catalog__filter">

			<div class="insights-catalog__counter">
				4 продукта
			</div>

			<form action="/" class="insights-catalog-filter">

				<div class="insights-catalog-filter__item">

					<button class="insights-catalog-filter__btn btn btn--filter" type="button">

						<span class="insights-catalog-filter__btn-text">

							Регион

							<span class="insights-catalog-filter__btn-count hide"></span>

						</span>

						<svg class="insights-catalog-filter__btn-reset hide" width="11" height="11" viewBox="0 0 11 11">
							<path d="M5.5 6.35 10.15 11l.85-.85L6.35 5.5 11 .85 10.15 0 5.5 4.65.85 0 0 .85 4.65 5.5 0 10.15l.85.85L5.5 6.35Z"/>
						</svg>

					</button>

					<div class="insights-catalog-filter__list">

{% include "insights/catalog/filter-country.html" %}

					</div>

				</div>

				<div class="insights-catalog-filter__item">

					<button class="insights-catalog-filter__btn btn btn--filter" type="button">

						<span class="insights-catalog-filter__btn-text">

							Бизнес

							<span class="insights-catalog-filter__btn-count hide"></span>

						</span>

						<svg class="insights-catalog-filter__btn-reset hide" width="11" height="11" viewBox="0 0 11 11">
							<path d="M5.5 6.35 10.15 11l.85-.85L6.35 5.5 11 .85 10.15 0 5.5 4.65.85 0 0 .85 4.65 5.5 0 10.15l.85.85L5.5 6.35Z"/>
						</svg>

					</button>

					<div class="insights-catalog-filter__list">

{% include "insights/catalog/filter-bisness.html" %}

					</div>

				</div>

				<div class="insights-catalog-filter__item">

					<button class="insights-catalog-filter__btn btn btn--filter is-checked" type="button">

						<span class="insights-catalog-filter__btn-text">

							Продукт

							<span class="insights-catalog-filter__btn-count">
								· 2
							</span>

						</span>

						<svg class="insights-catalog-filter__btn-reset" width="11" height="11" viewBox="0 0 11 11">
							<path d="M5.5 6.35 10.15 11l.85-.85L6.35 5.5 11 .85 10.15 0 5.5 4.65.85 0 0 .85 4.65 5.5 0 10.15l.85.85L5.5 6.35Z"/>
						</svg>

					</button>

					<div class="insights-catalog-filter__list">

{% include "insights/catalog/filter-category.html" %}

					</div>

				</div>

				<div class="insights-catalog-filter__item">

					<button class="insights-catalog-filter__btn btn btn--filter" type="button">

						<span class="insights-catalog-filter__btn-text">

							Производитель

							<span class="insights-catalog-filter__btn-count hide"></span>

						</span>

						<svg class="insights-catalog-filter__btn-reset hide" width="11" height="11" viewBox="0 0 11 11">
							<path d="M5.5 6.35 10.15 11l.85-.85L6.35 5.5 11 .85 10.15 0 5.5 4.65.85 0 0 .85 4.65 5.5 0 10.15l.85.85L5.5 6.35Z"/>
						</svg>

					</button>

					<div class="insights-catalog-filter__list">

{% include "insights/catalog/filter-manufacturer.html" %}

					</div>

				</div>

				<div class="insights-catalog-filter__item">

					<button class="insights-catalog-filter__btn btn btn--filter is-checked" type="button">

						<span class="insights-catalog-filter__btn-text">

							Рейтинг

						</span>

						<svg class="insights-catalog-filter__btn-reset" width="11" height="11" viewBox="0 0 11 11">
							<path d="M5.5 6.35 10.15 11l.85-.85L6.35 5.5 11 .85 10.15 0 5.5 4.65.85 0 0 .85 4.65 5.5 0 10.15l.85.85L5.5 6.35Z"/>
						</svg>

					</button>

					<div class="insights-catalog-filter__list insights-catalog-filter__list--right">

{% include "insights/catalog/filter-ratio.html" %}

					</div>

				</div>

			</form>

		</div>