			<form action="/" class="filter" id="filter-catalog">

				<div class="filter__item">

					<div class="filter-tags">

						<script type="text/html" id="filter-tags-template">

							<div class="filter-tags__item">

								<label class="btn btn--tag">

									<input class="filter__tag" type="checkbox" value="<% value %>" name="tags[]" checked="checked">

									<% label %>

								</label>

							</div>

						</script>

						<div class="filter-tags__item">

							<label class="btn btn--tag">

								<input class="filter__tag" type="checkbox" value="Оборудование" name="tags[]" checked="checked">

								Оборудование

							</label>

						</div>

						<div class="filter-tags__item">

							<label class="btn btn--tag">

								<input class="filter__tag" type="checkbox" value="Россия" name="tags[]" checked="checked">

								Россия

							</label>

						</div>

					</div>

				</div>

				<div class="filter__item">

					<label class="filter__label">
						Рейтинг продукции:
					</label>

					<div class="slider" data-min="1" data-max="5" data-step="1">

						<div class="slider__inputbox">

							<input type="tel" class="input slider__min" value="1">
							<input type="tel" class="input slider__max" value="5">

						</div>

						<div class="slider__track"></div>

					</div>

				</div>

				<div class="filter__item">

					<label class="filter__label">
						Количество отзывов:
					</label>

					<div class="slider" data-min="0" data-max="240" data-step="1">

						<div class="slider__inputbox">

							<input type="tel" class="input slider__min" value="15">
							<input type="tel" class="input slider__max" value="240">

						</div>

						<div class="slider__track"></div>

					</div>

				</div>

				<div class="filter__item">

					<label class="filter__label">
						Прозводитель продукции:
					</label>

{% set select =

	{

		mod : "select--border select--wrap",
		default : "Выберите производителя",
		list : ["АО «ГМС Ливгидромаш» (г.Ливны)"]

	}

%}

{% include "_include/select.html" %}

				</div>

{% include "_include/filter-bottom.html" %}

			</form>