{% set title = "Insights Каталог" %}

{% set description = "Изучайте особенности промышленных товаров, читайте отзывы и выбирайте подходящее для вас" %}

{% extends "template/base.html" %}

{% block content %}

	<section class="catalog center">

		<h1 class="page-title">
			INTI.insights
		</h1>

{% include "insights/catalog/search-menu.html" %}

{% include "insights/catalog/sort.html" %}

		<div class="catalog-flex">

			<div class="catalog-flex__filter">

{% include "insights/catalog/filter.html" %}

			</div>

			<div class="catalog-flex__body">

{% include "insights/catalog/list.html" %}

			</div>

		</div>

	</section>

{% endblock %}