{% set list = [

	{
		name : "Насос центробежный горизонтальный",
		img  : 1,
		rating : 5,
		review : "2 отзыва"
	},
	{
		name : "Насосные перекачивающие станции",
		img  : 2,
		rating : 4,
		review : "6 отзывов"
	},
	{
		name : "Блочные мультифазные насосные станции",
		img  : 3
	},
	{
		name : "Станции для гидропривода погружных скважинных насосов",
		img  : 4,
		rating : 2,
		review : "7 отзывов"
	}

] %}

			<div class="insights-catalog__list">

{% for item in list %}

				<div class="insights-catalog__item">

					<article class="insights-catalog-item">

						<div class="insights-catalog-item__head">

							<picture>

								<source srcset="/img/insights/catalog/{{ item.img }}--271x152.webp 1x, /img/insights/catalog/{{ item.img }}--542x304.webp 2x" type="image/webp">
								<source srcset="/img/insights/catalog/{{ item.img }}--271x152.jpg 1x, /img/insights/catalog/{{ item.img }}--542x304.jpg 2x">

								<img class="insights-catalog-item__preview" src="/img/insights/catalog/{{ item.img }}--271x152.jpg" alt="{{ item.name }}" loading="lazy" width="271" height="152">

							</picture>

						</div>

						<div class="insights-catalog-item__ratio">

	{% if item.rating %}

							<div class="rating rating--{{ item.rating }}">
								{{ item.review }}
							</div>

	{% endif %}

						</div>

						<h2 class="insights-catalog-item__name">
							{{ item.name }}
						</h2>

						<ul class="insights-catalog-item__param">

							<li>
								АО “ГМС Ливгидромарш”
							</li>

							<li>
								Россия
							</li>

						</ul>

						<p class="insights-catalog-item__category">
							Оборудование
						</p>

						<div class="insights-catalog-item__favourite">

							<form action="/" class="form-add-favourite">

								<input type="hidden" name="product" value="123">

								<button class="button" aria-label="Добавить в избранное">
									<svg width="22" height="22" viewBox="0 0 22 22">
										<path d="M10.08 5.87a1 1 0 0 1 1.84 0l.9 2.08a1 1 0 0 0 .82.6l2.26.2a1 1 0 0 1 .56 1.75l-1.7 1.5a1 1 0 0 0-.3.97l.48 2.21a1 1 0 0 1-1.48 1.08l-1.95-1.15a1 1 0 0 0-1.02 0l-1.95 1.15a1 1 0 0 1-1.48-1.08l.49-2.2a1 1 0 0 0-.32-.98l-1.7-1.5a1 1 0 0 1 .57-1.74l2.26-.22a1 1 0 0 0 .82-.6l.9-2.07Z"/>
									</svg>
								</button>

							</form>

						</div>

						<div class="insights-catalog-item__foot">

							<a href="/insights/standart/" class="readme">

								Подробнее

								<svg width="26" height="8" viewBox="0 0 26 8">
									<path d="M25.35 4.35a.5.5 0 0 0 0-.7L22.17.46a.5.5 0 1 0-.7.71L24.28 4l-2.83 2.83a.5.5 0 1 0 .71.7l3.18-3.18ZM0 4.5h25v-1H0v1Z"/>
								</svg>

							</a>

						</div>

					</article>

				</div>

{% endfor %}

			</div>