			<div class="catalog">

{% set list = [

	{
		img   : "1",
		name  : "Насосное оборудование",
		count : "1 позиция",
		sub   : ['Центробежные насосоы']
	},
	{
		img   : "2",
		name  : "Трубы",
		count : "40 позиций",
		sub   : ['Трубы бесшовные','Трубы сварные','Трубы большого диаметра']
	},
	{
		img   : "3",
		name  : "Соединительные детали трубопроводов",
		count : "38 позиций",
		sub   : ['Т3D отводы','Разрезные тройники','Переходы','Заглушки/днища','Тройники']
	},
	{
		img   : "4",
		name  : "Запорно-регулирующая арматура",
		count : "50 позиций",
		sub   : ['Вентили','Задвижки','Затворы','Клапаны','Краны шаровые']
	},
	{
		img   : "5",
		name  : "Емкостное оборудование",
		count : "27 позиций",
		sub   : ['Реакторное оборудование','Теплобменное оборудование','Колонное оборудование','Другие сосуды и аппараты']
	}

] %}

{% for item in list %}

				<div class="catalog__item">

					<a href="/insights/catalog/category/" class="catalog__img">

						<picture>

							<source srcset="/img/insights/catalog/{{ item.img }}--224x193.webp 1x, /img/insights/catalog/{{ item.img }}--448x386.webp 2x" type="image/webp">
							<source srcset="/img/insights/catalog/{{ item.img }}--224x193.png 1x, /img/insights/catalog/{{ item.img }}--448x386.png 2x">

							<img src="/img/insights/catalog/{{ item.img }}--224x193.png" alt="{{ item.name }}" loading="lazy" width="224" height="193">

						</picture>

					</a>

					<h2 class="catalog__name">
						<a href="/insights/catalog/category/">
							{{ item.name }}
						</a>
					</h2>

					<p class="catalog__count">
						{{ item.count }}
					</p>

					<ul class="catalog__list">

	{% for li in item.sub %}

						<li>
							<a href="/insights/catalog/category/">{{ li }}</a>
						</li>

	{% endfor %}

					</ul>

				</div>

{% endfor %}

			</div>