						<div class="key-value__item key-value__item--expert">

							<dt class="key-value__key">
								Экспертная группа:
							</dt>

							<dd class="key-value__value">

								<div class="expert-group">

									<div class="expert-group__item">

										<div class="expert-group__img">

											<picture>

												<source srcset="/img/expert/AmarSundaram.jpg 1x, /img/expert/AmarSundaram@2x.jpg 2x">

												<img src="/img/expert/AmarSundaram.jpg" width="40" height="40" alt="" loading="lazy">

											</picture>

										</div>

										<div class="expert-group__body">

											<div class="expert-group__name expert-group__name--main">

												Сушков Дмитрий Викторович

												{% if expertGroupChat %}

{% include "_include/tooltip-help-chat.html" %}

												{% endif %}

											</div>

											<small>
												Главный эксперт
											</small>

										</div>

									</div>

									<div class="expert-group__item">

										<div class="expert-group__img">

											<picture>

												<source srcset="/img/expert/FranPerez.jpg 1x, /img/expert/FranPerez@2x.jpg 2x">

												<img src="/img/expert/FranPerez.jpg" width="40" height="40" alt="" loading="lazy">

											</picture>

										</div>

										<div class="expert-group__body">

											<div class="expert-group__name">

												Ильин Владимир Вячеславович

												{% if expertGroupChat %}

{% include "_include/tooltip-help-chat.html" %}

												{% endif %}

											</div>

											<small>
												Эксперт
											</small>

										</div>

									</div>

									<div class="expert-group__item">

										<div class="expert-group__img">

											<picture>

												<source srcset="/img/expert/OmarDarboe.jpg 1x, /img/expert/OmarDarboe@2x.jpg 2x">

												<img src="/img/expert/OmarDarboe.jpg" width="40" height="40" alt="" loading="lazy">

											</picture>

										</div>

										<div class="expert-group__body">

											<div class="expert-group__name">

												Козин Игорь Фёдорович

												{% if expertGroupChat %}

{% include "_include/tooltip-help-chat.html" %}

												{% endif %}

											</div>

											<small>
												Эксперт
											</small>

										</div>

									</div>

								</div>

							</dd>

						</div>