						<div class="key-value__item">

							<dt class="key-value__key">
								Экспертная группа:
							</dt>

							<dd class="key-value__value">

								<div class="expert-group">

									<div class="expert-group__item">

										<div class="expert-group__img">

											<img src="/img/avatar/AmarSundaram--40.jpg" srcset="/img/avatar/AmarSundaram--80.jpg 2x" width="40" height="40" alt="Сушков Дмитрий Викторович">

										</div>

										<div class="expert-group__body">

											<div class="expert-group__name expert-group__name--main">

												Сушков Дмитрий Викторович

												{% if expertGroupChat %}

{% include "_include/tooltip-help-chat.html" %}

												{% endif %}

											</div>

											<small>
												Главный эксперт
											</small>

										</div>

									</div>

									<div class="expert-group__item">

										<div class="expert-group__img">

											<img src="/img/avatar/FranPerez--40.jpg" srcset="/img/avatar/FranPerez--80.jpg 2x" width="40" height="40" alt="Ильин Владимир Вячеславович">

										</div>

										<div class="expert-group__body">

											<div class="expert-group__name">

												Ильин Владимир Вячеславович

												{% if expertGroupChat %}

{% include "_include/tooltip-help-chat.html" %}

												{% endif %}

											</div>

											<small>
												Эксперт
											</small>

										</div>

									</div>

									<div class="expert-group__item">

										<div class="expert-group__img">

											<img src="/img/avatar/OmarDarboe--40.jpg" srcset="/img/avatar/OmarDarboe--80.jpg 2x" width="40" height="40" alt="Козин Игорь Фёдорович">

										</div>

										<div class="expert-group__body">

											<div class="expert-group__name">

												Козин Игорь Фёдорович

												{% if expertGroupChat %}

{% include "_include/tooltip-help-chat.html" %}

												{% endif %}

											</div>

											<small>
												Эксперт
											</small>

										</div>

									</div>

								</div>

							</dd>

						</div>