
{% set table = [
	{
		img: "71ef3c5de4cf701b08fba78b7c83df2d",
		nick: "@cristiano"
	},
	{
		img: "04028d8fb563c4523c615e6bb15d3827",
		nick: "@selenagomez"
	},
	{
		img: "fdfad0360f63ad08b6797cfe8acebb21",
		nick: "@leomessi"
	},
	{
		img: "71ef3c5de4cf701b08fba78b7c83df2d",
		nick: "@cristiano"
	},
	{
		img: "04028d8fb563c4523c615e6bb15d3827",
		nick: "@selenagomez"
	},
	{
		img: "fdfad0360f63ad08b6797cfe8acebb21",
		nick: "@leomessi"
	}
] %}

	<div class="table-rank hidden-sm">

		<table>

			<thead>
				<tr>
					<th colspan="2" class="w252">
						<form action="/" class="table-rank__search w202" autocomplete="off">
							<input placeholder="Найти @username" class="input">
							<button class="button" aria-label="Поиск">
								<svg width="18" height="18" viewBox="0 0 18 18">
									<path d="M14.0257 12.8476l3.5691 3.5683-1.1791 1.1792-3.5684-3.5692a7.4657 7.4657 0 01-4.6808 1.6408c-4.14 0-7.5-3.36-7.5-7.5 0-4.14 3.36-7.5 7.5-7.5 4.14 0 7.5 3.36 7.5 7.5a7.467 7.467 0 01-1.6408 4.6809zm-1.6717-.6184a5.8138 5.8138 0 001.6458-4.0625c0-3.2233-2.6108-5.8333-5.8333-5.8333-3.2233 0-5.8333 2.61-5.8333 5.8334 0 3.2224 2.61 5.8333 5.8333 5.8333a5.8142 5.8142 0 004.0625-1.6459l.125-.125z"/>
								</svg>
							</button>
						</form>
					</th>
					<th class="w150">
						Подписчиков
					</th>
					<th class="w115 hidden-md">
						<button class="btn btn--sort" type="button">
							Охват
						</button>
					</th>
					<th class="w115 hidden-md">
						<button class="btn btn--sort" type="button">
							ER
						</button>
					</th>
					<th class="w150 hidden-1400">
						Возраст <br>аудитории
					</th>
					<th class="w202">
						Статус
					</th>
					<th class="w140">
						<button class="btn btn--sort" type="button">
							Качество <br>профиля
						</button>
					</th>
				</tr>
			</thead>

			<tbody>

{% for td in table %}

				<tr>
					<td class="table-rank__img">
						<picture>
							<source srcset="/img/top100/{{ td.img }}@1x.webp 1x, /img/top100/{{ td.img }}@2x.webp 2x" type="image/webp">
							<source srcset="/img/top100/{{ td.img }}@1x.png 1x, /img/top100/{{ td.img }}@2x.png 2x">
							<img src="/img/top100/{{ td.img }}@1x.png" alt="{{ td.nick }}" loading="lazy" width="40" height="40">
						</picture>
					</td>
					<td>
						{{ td.nick }}
					</td>
					<td>
						1.6M
					</td>
					<td class="hidden-md">
						190 K
					</td>
					<td class="hidden-md">
						12,31%
					</td>
					<td class="hidden-1400">
						25-34 (34%)
					</td>
					<td>
						<span class="table-rank__label{% if loop.index % 2 == 0 or loop.first %} table-rank__label--finished{% endif %}">
							{% if loop.index % 2 == 0 or loop.first %}
								Finished
							{% else %}
								Calculating <span class="table-rank__label-suf">(10%)</span>
							{% endif %}
						</span>
					</td>
					<td>
						<span class="table-rank__status table-rank__status--{% if loop.index % 4 == 0 %}green-dark{% elif loop.index % 4 == 1 %}green{% elif loop.index % 4 == 2 %}yellow{% else %}red{% endif %}">
							{% if loop.index % 4 == 0 %}
							86
							{% elif loop.index % 4 == 1 %}
							75
							{% elif loop.index % 4 == 2 %}
							60
							{% else %}
							40
							{% endif %}
						</span>
					</td>
				</tr>

{% endfor %}

			</tbody>

		</table>

	</div>


	<div class="table-rank visible-sm">

		<form action="/" class="table-rank__search" autocomplete="off">
			<input placeholder="Найти @username" class="input">
			<button class="button" aria-label="Поиск">
				<svg width="14" height="14" viewBox="0 0 14 14">
					<path d="M10.5182 9.6932l2.4984 2.4978-.8254.8255-2.4979-2.4985a5.2263 5.2263 0 01-3.2766 1.1486c-2.898 0-5.25-2.352-5.25-5.25s2.352-5.25 5.25-5.25 5.25 2.352 5.25 5.25a5.2268 5.2268 0 01-1.1485 3.2766zM9.348 9.2604a4.0699 4.0699 0 001.1521-2.8438c0-2.2563-1.8276-4.0833-4.0833-4.0833-2.2564 0-4.0834 1.827-4.0834 4.0833 0 2.2558 1.827 4.0834 4.0834 4.0834a4.0702 4.0702 0 002.8437-1.1521l.0875-.0875z"/>
				</svg>
			</button>
		</form>

		<table>

			<tbody>

{% for td in table %}

				<tr>
					<td class="table-rank__img">
						<picture>
							<source srcset="/img/top100/{{ td.img }}@1x.webp 1x, /img/top100/{{ td.img }}@2x.webp 2x" type="image/webp">
							<source srcset="/img/top100/{{ td.img }}@1x.png 1x, /img/top100/{{ td.img }}@2x.png 2x">
							<img src="/img/top100/{{ td.img }}@1x.png" alt="{{ td.nick }}" loading="lazy" width="40" height="40">
						</picture>
					</td>
					<td class="table-rank__nick">
						{{ td.nick }}
						<b>1.6M</b>
					</td>
				</tr>
				<tr>
					<td colspan="2">

						<table>
							<thead>
								<tr>
									<th>
										Статус
									</th>
									<th>
										Качество профиля
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<span class="table-rank__label{% if loop.index % 2 == 0 or loop.first %} table-rank__label--finished{% endif %}">
											{% if loop.index % 2 == 0 or loop.first %}
												Finished
											{% else %}
												Calculating <span class="table-rank__label-suf">(10%)</span>
											{% endif %}
										</span>
									</td>
									<td>
										<span class="table-rank__status table-rank__status--{% if loop.index % 4 == 0 %}green-dark{% elif loop.index % 4 == 1 %}green{% elif loop.index % 4 == 2 %}yellow{% else %}red{% endif %}">
											{% if loop.index % 4 == 0 %}
											86
											{% elif loop.index % 4 == 1 %}
											75
											{% elif loop.index % 4 == 2 %}
											60
											{% else %}
											40
											{% endif %}
										</span>
									</td>
								</tr>
							</tbody>
						</table>

					</td>
				</tr>

{% endfor %}

			</tbody>

		</table>

	</div>

{% include "template/pagination.html" %}