.accordion {

	position: relative;

	&__body {

		overflow: hidden;
		position: relative;
		max-height: 0;
		opacity: 0;
		padding: 0 40px;
		transition: max-height var(--transitionDefault), opacity var(--transitionDefault);

		@media ($smWidth) {

			padding: 0 22px;

			.product-content__head {

				&:first-child {

					margin-top: 0;

				}

			}

			.key-value {

				&:first-child {

					margin-top: 12px;

				}

				&:last-child {

					margin-bottom: 24px;

				}

			}

		}

	}

	&__item--open &__body {

		overflow: visible;
		max-height: 90000px;
		opacity: 1;

	}

	&__item {

		border: 2px solid var(--border);
		border-radius: 3px;
		margin-top: 25px;
		transition: border-color var(--transitionDefault);

		&--open {

			border-color: color(var(--blue) a(48%));

		}

		&:first-child {

			margin-top: 0;

		}

		@media ($smWidth) {

			margin-top: 18px;

		}

	}

	&__head {

		position: relative;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		user-select: none;

	}

	&__arrow {

		margin: 8px;
		flex-shrink: 0;

	}

	&__item--open &__head::before {

		transform: rotate(90deg);

	}

	&__btn {

		flex-grow: 1;
		padding: 10px 40px;
		font-weight: bold;
		color: var(--blue);
		font-size: 14px;
		line-height: 20px;

		&::before {

			width: 24px;
			height: 24px;
			content: '';
			position: absolute;
			top: 8px;
			left: 12px;
			transition: transform var(--transitionDefault);
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' %3E%3Cpath d='M10.3 15.7a1 1 0 001.41 0l2.97-2.93c.21-.22.32-.5.32-.78s-.1-.56-.32-.77L11.72 8.3a1.01 1.01 0 00-1.63.32.99.99 0 00.21 1.09l2.32 2.3-2.33 2.3a.99.99 0 000 1.4z' fill='%232B8CFF'/%3E%3C/svg%3E");

		}

	}

}