.cart {

	margin-bottom: 40px;

	.docs-catalog {

		margin: 0;

		@media ($smWidth) {

			.docs-catalog__name {

				margin-right: 32px;

			}

		}

	}

	&.is-empty {

		&::after {

			text-align: center;
			margin: 32px 0;
			content: attr(data-empty);
			font-size: 24px;
			color: var(--grey);
			display: block;

		}

		.cart__foot {

			display: none;

		}

	}

	&__item {

		&.is-remove {

			transform: scaleY(0);
			transition: var(--transitionDefault);
			opacity: 0;
			padding-top: 0;
			padding-bottom: 0;

		}

	}

	&__remove {

		margin-left: 34px;

		@media ($mdWidth) {

			margin: 0;
			position: absolute;
			top: 0;
			right: 0;

		}

		svg {

			fill: var(--grey);

		}

		@media ($desktop) {

			&:hover svg {

				fill: var(--blue);

			}

		}

	}

	&__foot {

		display: flex;
		justify-content: flex-end;
		margin-top: 32px;

		&-total {

			position: relative;

		}

		&-inner {

			width: 405px;

			@media ($smWidth) {

				width: 100%;

			}

		}

		&-label {

			font-size: 18px;
			font-weight: 500;
			line-height: 21px;

			@media ($mdWidth) {

				font-size: 16px;

			}

		}

		&-sum {

			font-size: 30px;
			font-weight: 700;
			line-height: 35px;
			color: var(--blue);
			position: absolute;
			top: 0;
			right: 0;

			@media ($mdWidth) {

				font-size: 20px;

			}

		}

		&-counter {

			color: var(--grey);
			font-size: 14px;
			line-height: 20px;

			@media ($mdWidth) {

				font-size: 12px;

			}

		}

	}

	&__next {

		width: 100%;
		margin-top: 32px;

	}

}