.cart {

	.docs-catalog {

		margin: 0;

	}

	&.is-empty {

		&::after {

			text-align: center;
			margin: 32px 0;
			content: attr(data-empty);
			font-size: 24px;
			color: var(--grey);
			display: block;

		}

		.cart__foot {

			display: none;

		}

	}

	&__item {

		&.is-remove {

			transform: scaleY(0);
			transition: var(--transitionDefault);
			opacity: 0;
			padding-top: 0;
			padding-bottom: 0;

		}

	}

	&__remove {

		margin-left: 34px;

		svg {

			fill: var(--grey);

		}

		&:hover svg {

			fill: var(--blue);

		}

	}

	&__foot {

		display: flex;
		justify-content: flex-end;
		margin-top: 32px;

		&-total {

			position: relative;

		}

		&-inner {

			width: 405px;

		}

		&-label {

			font-size: 18px;
			font-weight: 500;
			line-height: 21px;

		}

		&-sum {

			font-size: 30px;
			font-weight: 700;
			line-height: 35px;
			color: var(--blue);
			position: absolute;
			top: 0;
			right: 0;

		}

		&-counter {

			color: var(--grey);
			font-size: 14px;
			line-height: 20px;

		}

	}

	&__next {

		width: 100%;
		margin-top: 32px;

	}

}