.catalog {

	margin: 18px -18px;
	display: flex;
	flex-wrap: wrap;

	&__item {

		width: 312px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: var(--box-shadow);
		margin: 18px;
		padding: 24px 30px 30px;
		position: relative;

	}

	&__img {

		display: flex;
		justify-content: center;
		align-items: center;
		height: 193px;

	}

	&__name {

		font-size: 16px;
		line-height: 19px;
		position: relative;
		padding-right: 16px;
		margin-bottom: 10px;
		min-height: 57px;
		display: flex;
		align-items: flex-end;

		&::after {

			position: absolute;
			width: 24px;
			height: 24px;
			right: -6px;
			bottom: -3px;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%233489FF' fill-rule='evenodd' d='M15 13l-4.6 4.6A.99.99 0 119 16.2l3.9-3.9L9 8.4A.99.99 0 0110.4 7l4.6 4.59A1 1 0 0115 13z'/%3E%3C/svg%3E");

		}

		a {

			color: var(--color);

			&:hover {

				color: var(--blue);

			}

		}

	}

	&__img:hover ~ &__name a {

		color: var(--blue);

	}

	&__count {

		font-size: 12px;
		line-height: 14px;
		color: var(--text);

	}

	&__list {

		margin-top: 22px;

		li {

			margin: 8px 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;

		}

		a {

			color: var(--grey);
			position: relative;
			z-index: 1;

			&:hover {

				text-decoration: underline;

			}

		}

	}

}

.catalog-flex {

	margin: 24px 0;
	display: flex;

	&__left {

		flex-shrink: 0;

	}

	&__body {

		flex-grow: 1;

	}

	&--filter &__left {

		width: 366px;
		margin-right: 24px;

	}

	&--menu &__left {

		width: 264px;
		margin-right: 20px;

	}

}

.catalog-category {

	&__item {

		padding: 20px 26px;
		display: flex;
		align-items: center;
		box-shadow: var(--box-shadow-dark);
		border-radius: 3px;
		background-color: #fff;
		position: relative;

		& + & {

			margin-top: 18px;

		}

	}

	&__img {

		flex-shrink: 0;
		margin-right: 16px;
		width: 73px;
		align-self: flex-start;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

	}

	&__body {

		flex-grow: 1;

	}

	&__row {

		display: flex;
		align-items: flex-start;

		& + & {

			margin-top: 10px;

		}

	}

	&__name {

		font-weight: bold;
		font-size: 16px;
		line-height: 19px;

	}

	&__label {

		margin-left: auto;
		padding-left: 26px;

	}

	&__ratio {

		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		padding: 0 20px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%232B8CFF' d='M8 10.92l2.65 1.46-.5-3.1 2.18-2.24-3.02-.46L8 3.8 6.69 6.6l-3.02.45 2.18 2.23-.5 3.1L8 10.93zm0 1.52l-2.01 1.1a1.33 1.33 0 01-1.96-1.38l.4-2.44-1.71-1.74a1.33 1.33 0 01.75-2.26l2.31-.35L6.8 3.22a1.33 1.33 0 012.42 0l1 2.15 2.32.35a1.33 1.33 0 01.75 2.26l-1.7 1.74.39 2.44a1.33 1.33 0 01-1.96 1.39L8 12.44z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;

	}

	&__manufacturer {

		font-size: 14px;
		line-height: 16px;

	}

}