.catalog {

	margin: 18px -18px;
	display: flex;
	flex-wrap: wrap;

	@media ($mdWidth) {

		margin: 12px -12px;

	}

	@media ($smWidth) {

		margin: 0 0 40px;
		display: block;

	}

	&__item {

		width: 312px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: var(--box-shadow);
		margin: 18px;
		padding: 24px 30px 30px;
		position: relative;

		@media ($mdWidth) {

			width: calc(50% - 24px);
			margin: 12px;

		}

		@media ($smWidth) {

			width: 100%;
			margin: 12px 0;
			padding: 24px 20px;

		}

	}

	&__img {

		display: flex;
		justify-content: center;
		align-items: center;
		height: 193px;

	}

	&__name {

		font-size: 16px;
		line-height: 19px;
		position: relative;
		padding-right: 16px;
		margin-bottom: 10px;
		min-height: 57px;
		display: flex;
		align-items: flex-end;

		&::after {

			position: absolute;
			width: 24px;
			height: 24px;
			right: -6px;
			bottom: -3px;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%233489FF' fill-rule='evenodd' d='M15 13l-4.6 4.6A.99.99 0 119 16.2l3.9-3.9L9 8.4A.99.99 0 0110.4 7l4.6 4.59A1 1 0 0115 13z'/%3E%3C/svg%3E");

		}

		a {

			color: var(--color);

			&:hover {

				color: var(--blue);

			}

		}

	}

	&__img:hover ~ &__name a {

		color: var(--blue);

	}

	&__count {

		font-size: 12px;
		line-height: 14px;
		color: var(--text);

	}

	&__list {

		margin-top: 22px;

		li {

			margin: 8px 0;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;

		}

		a {

			color: var(--grey);
			position: relative;
			z-index: 1;

			&:hover {

				text-decoration: underline;

			}

		}

	}

}

.catalog-flex {

	margin: 24px 0;
	display: flex;

	@media ($mdWidth) {

		margin: 12px 0;
		display: block;

	}

	&__left {

		flex-shrink: 0;

		.live-search {

			margin-bottom: 36px;

			@media ($mdWidth) {

				margin-bottom: 18px;

			}

		}

	}

	&__body {

		flex-grow: 1;

	}

	&--filter &__left {

		width: 366px;
		margin-right: 24px;

		@media ($mdWidth) {

			display: none;
			width: 100%;
			margin: 0 0 18px;

			.filter-show & {

				display: block;

			}

		}

	}

	&--filter &__body {

		@media ($desktop) {

			max-width: calc(100% - 366px - 24px);

		}

	}

	&--menu &__left {

		width: 264px;
		margin-right: 20px;

		@media ($mdWidth) {

			width: 100%;
			margin: 0 0 18px;

		}

	}

	&--menu &__body {

		@media ($desktop) {

			max-width: calc(100% - 264px - 20px);

		}

	}

}

.catalog-category {

	&__item {

		padding: 20px 26px;
		display: flex;
		align-items: center;
		box-shadow: var(--box-shadow-dark);
		border-radius: 3px;
		background-color: #fff;
		position: relative;

		@media ($smWidth) {

			padding: 24px 12px;
			display: block;

		}

		& + & {

			margin-top: 18px;

			@media ($smWidth) {

				margin-top: 12px;

			}

		}

	}

	&__img {

		flex-shrink: 0;
		margin-right: 16px;
		width: 73px;
		align-self: flex-start;

		@media ($smWidth) {

			display: block;
			margin: 0 0 10px;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

	}

	&__body {

		flex-grow: 1;

	}

	&__row {

		display: flex;
		align-items: flex-start;

		@media ($smWidth) {

			&--sm-reverse {

				flex-direction: column-reverse;

			}

		}

		& + & {

			margin-top: 10px;

		}

	}

	&__name {

		font-weight: bold;
		font-size: 16px;
		line-height: 19px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 1.4;

		}

	}

	&__label {

		margin-left: auto;
		padding-left: 26px;

		@media ($smWidth) {

			margin: 0 0 10px;
			padding: 0;

		}

	}

	&__ratio {

		margin-right: 20px;

	}

	&__manufacturer {

		font-size: 14px;
		line-height: 16px;

		@media ($smWidth) {

			font-size: 12px;

		}

	}

}

.catalog-menu {

	position: relative;

	@media ($mdWidth) {

		&__head {

			display: flex;
			align-items: center;
			font-size: 12px;
			line-height: 24px;
			color: var(--grey);

		}

		&__current {

			margin-left: 10px;
			color: var(--blue);
			font-size: 12px;
			line-height: 24px;
			font-weight: 700;
			display: flex;

			svg {

				fill: var(--blue);
				margin-left: 3px;
				transition: var(--transitionDefault);

			}

		}

		&.is-open &__current svg {

			transform: scaleY(-1);

		}

		&.is-open &__list {

			opacity: 1;
			z-index: 5;
			pointer-events: auto;
			transform: translate3d(0, 10px, 0);
			transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s, z-index 0s 0s;

		}

		&__list {

			position: absolute;
			top: 100%;
			left: 0;
			box-shadow: var(--box-shadow-dark);
			border-radius: 6px;
			background-color: #fff;
			opacity: 0;
			z-index: 1;
			pointer-events: none;
			transform: translate3d(0, 0, 0);
			transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s, z-index 0s var(--transitionDefault) ;
			padding: 8px 0;
			min-width: 278px;

		}

		&__link {

			color: var(--grey);
			padding: 8px 16px;
			font-size: 12px;
			line-height: 16px;
			display: block;
			font-weight: 700;

		}

		&__item.is-current {

			background-color: var(--snow);

		}

	}

	@media ($desktop) {

		&__head {

			display: none;

		}

		&::before {

			position: absolute;
			width: 4px;
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			background-color: var(--border);
			border-radius: 2px;

		}

		&__item {

			color: var(--text);

			&.is-current {

				color: var(--color);

				&::after {

					position: absolute;
					width: 4px;
					top: 0;
					left: 0;
					bottom: 0;
					content: '';
					background-color: var(--blue);
					border-radius: 2px;

				}

			}

		}

		&__link {

			color: inherit;
			padding-left: 30px;
			height: 55px;
			display: flex;
			align-items: center;

			&:hover {

				color: var(--color);

			}

		}

	}

}