.clients {

	padding: 107px 0;
	background-color: #fff;

	&__title {

		text-align: center;
		color: #bebed6;

	}

	&__list {

		display: flex;
		overflow: hidden;
		margin: 28px 0 10px;

	}

	&__item {

		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px;
		height: 76px;

	}

}