.clients {

	padding: 107px 0;
	background-color: #fff;

	@media ($mdWidth) {

		padding: 60px 0;

	}

	@media ($smWidth) {

		padding: 40px 0;

	}

	&__title {

		text-align: center;
		color: var(--grey);
		margin-bottom: 28px;

		@media ($smWidth) {

			margin-bottom: 22px;

		}

	}

	&__swiper {

		padding: 0 4px;
		overflow: hidden;
		position: relative;

		@media ($smWidth) {

			margin: 0 -16px;
			padding: 0 16px;

			.swiper-controls {

				left: -8px;
				right: -8px;

			}

		}

		.swiper-container::after,
		.swiper-container::before {

			position: absolute;
			width: 32px;
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			z-index: 2;
			background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0));

			@media ($smWidth) {

				width: 16px;

			}

		}

		.swiper-container::before {

			left: auto;
			right: 0;
			background-image: linear-gradient(to left, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0));

		}

	}

	&__list {

		display: flex;
		margin: 10px 0;

		@media ($smWidth) {

			margin: 0;

		}

	}

	&__item {

		display: flex;
		align-items: center;
		justify-content: center;
		width: 200px !important;
		height: 76px;
		flex-shrink: 0;

		@media ($smWidth) {

			width: auto !important;
			padding: 0 16px;

		}

	}

}