.company {

	padding: 24px 40px;

	& > .accordion {

		margin-top: 24px;

	}

	&__add {

		margin-top: 48px;

		.btn {

			width: 100%;

		}

	}

	&-form {

		&__disabled {

			[type="reset"]&:disabled {

				opacity: 0;

			}

		}

	}

	&__form {

		margin: 18px 16px;

		&-row {

			&--col2 {

				display: flex;
				justify-content: space-between;

				.input-box {

					width: calc(50% - 4px);

				}

			}

			& + & {

				margin-top: 26px;

			}

		}

		&-file-input {

			display: flex;
			margin: 20px 0;

		}

		&-footer {

			display: flex;
			margin: 80px 0 22px;
			justify-content: flex-end;

			.btn {

				width: 170px;
				margin-left: 8px;

			}

		}

		&-fieldset {

			margin: 32px 0 38px;

		}

		&-legend {

			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			display: block;

			&--label {

				margin-bottom: 10px;

			}

		}

		&-legend + &-row {

			margin-top: 26px;

		}

		&-desc {

			font-style: italic;
			font-size: 12px;
			line-height: 15px;
			color: var(--text);
			margin: 6px 0 26px;
			max-width: 470px;

		}

		&--reg &-footer {

			margin-top: 24px;

		}

		&--reg &-fieldset {

			margin-bottom: 24px;

		}

	}

	&__name {

		margin: 8px 0;

	}

	&__responsible {

		display: flex;
		align-items: baseline;
		font-size: 16px;
		color: var(--grey);
		margin: 8px 0 38px;

		b {

			margin-left: 12px;
			font-weight: 400;
			color: var(--color);

		}

	}

	&-item {

		padding-left: 14px;

		&__name {

			font-weight: 500;

			&--verivication svg {

				display: inline;
				fill: var(--green);
				vertical-align: middle;
				margin-left: 14px;

			}

			a {

				color: var(--color);

				&::after {

					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';

				}

			}

		}

		&__inn {

			color: var(--grey);
			font-size: 16px;
			margin: 12px 0;

		}

		&__address {

			position: relative;
			padding: 4px 0 4px 30px;

			a {

				color: var(--blue);
				font-size: 14px;
				line-height: 16px;

			}

			svg {

				position: absolute;
				top: 0;
				left: 0;
				fill: var(--blue);

			}

		}

	}

	&__double-btn {

		padding-top: 6px !important;

		.flex {

			margin: -4px;

		}

		.btn {

			width: 278px;
			margin: 4px;

		}

	}

}