.context-menu {

	position: relative;
	transition: var(--transitionDefault);

	&__btn-label {

		display: flex;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #3C4F62;

		svg {

			margin-left: 8px;
			fill: #A6B1B8;

		}

	}

	&__btn-ico {

		width: 42px;
		height: 42px;
		padding: 6px;
		border-radius: 50%;

		&:hover {

			background-color: #ececec;

		}

		svg {

			fill: #A6B1B8;

		}

	}

	&--table-workgroups-thead &__btn,
	&--table-workgroups-tbody &__btn {

		background-color: transparent !important;

	}

	&--table-workgroups-thead &__btn-ico {

		width: 30px;
		height: 30px;
		padding: 0;
		opacity: .6;
		background-color: transparent !important;

		svg {

			fill: #fff;

		}

		&:hover {

			opacity: 1;

		}

	}

	&--table-workgroups-tbody &__btn-ico {

		width: 42px;
		height: 42px;
		padding: 5px;

	}

	&.is-open &__btn-ico {

		background-color: #ececec;

	}

	&.is-open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 4px, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

	}

	&__list {

		position: absolute;
		top: 100%;
		left: 0;
		box-shadow: 0px 4px 4px rgba(0, 32, 51, 0.04), 0px 8px 24px rgba(0, 32, 51, 0.12);
		border-radius: 5px;
		background-color: #fff;
		z-index: 5;
		white-space: nowrap;
		padding: 20px;
		color: var(--color);
		font-weight: 400;

		opacity: 0;
		pointer-events: none;
		transform: translate3d(0, 14px, 0);
		transition: opacity var(--transitionDefault) 0s, transform 0s var(--transitionDefault);

	}

	&--right &__list {

		left: auto;
		right: 0;

	}

	&__text {

		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.15px;
		color: #3C4F62;
		white-space: normal;
		width: 267px;
		padding: 12px 12px 12px 20px;

		&-date {

			color: #A6B1B8;

		}

		a {

			color: var(--blue);

		}

		p + p {

			margin-top: 8px;

		}

	}

}