.h0 {

	font-weight: bold;
	font-size: 64px;
	line-height: 75px;

	@media ($smWidth) {


	}

}

.h1 {

	font-weight: bold;
	font-size: 40px;
	line-height: 1.175;

	@media ($smWidth) {

	}

}

/*
.h3 {

	font-weight: 700;
	font-size: 18px;
	line-height: 24px;

	@media ($smWidth) {

		font-size: 16px;
		line-height: 24px;
		font-weight: 500;

	}

}

.heading {

	font-weight: 500;
	font-size: 22px;
	line-height: 32px;

	@media ($smWidth) {

		font-size: 16px;
		line-height: 19px;

	}

}

.link {

	text-decoration: underline;

	&:hover {

		text-decoration: underline;
		text-decoration-color: transparent;
		transition: var(--transitionDefault);

	}

}

.uppercase {

 	text-transform: uppercase;

}

hr {

	border: 0;
	height: 2px;
	background-color: var(--silver);

} */

.white-space-nowrap {

	white-space: nowrap;

}

.color-black {

	color: var(--color);

}

.color-blue {

	color: var(--blue);

}

.color-red {

	color: var(--red);

}

.color-grey {

	color: var(--grey);

}