.dashboard {

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(306px, 1fr));
	gap: var(--mainMarginRight);

	&__section {

		border: 1px solid #ececec;
		border-radius: 5px;
		background-color: #fff;
		padding: 20px;
		display: flex;
		flex-direction: column;

	}

	&__head {

		display: flex;
		align-items: center;
		margin-bottom: 28px;
		color: var(--color);

	}

	&__logo {

		--blue: #fff;
		margin-right: 20px;

	}

	&__desc {

		font-size: 16px;
		font-weight: 300;
		line-height: 22px;
		letter-spacing: 0.15px;

		&-wrap {

			min-height: var(--dashboardDescHeighgt);
			margin-bottom: 30px;

		}

	}

	&__item {

		margin-top: 10px;

	}

}