.input-datalist {

	position: relative;

	&__arrow {

		--blue: rgba(0, 32, 51, 0.26);
		transition: var(--transitionDefault);
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 8px;
		bottom: 0;
		height: 24px;
		margin: auto;

	}

	&.is-focus {

		border-color: rgba(0, 66, 105, 1);
		z-index: 5;

	}

	&.is-focus &__arrow {

		transform: scaleY(-1);

	}

	&.is-focus &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 16px, 0);

	}

	&__input.is-empty ~ &__list {

		display: none;

	}

	&__list {

		position: absolute;
		top: 100%;
		background-color: #fff;
		opacity: 0;
		z-index: 1;
		pointer-events: none;

		left: 2px;
		min-width: calc( 100% - 4px );
		box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 66, 105, 0.28);
		transform: translate3d(0, 4px, 0) !important;

		max-height: 160px;
		overflow-y: auto;

		scrollbar-width: thin;
		scrollbar-color: rgba(0, 66, 105, 0.24) rgba(0, 66, 105, 0.06);

		&::-webkit-scrollbar {

			width: 8px;
			border-radius: 4px;
			background-color: rgba(0, 66, 105, 0.06);

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 4px;
			background-color: rgba(0, 66, 105, 0.24);

		}

	}

	&__item {

		transition: var(--transitionDefault);
		width: 100%;
		display: block;
		text-align: left;
		padding: 9px 14px;
		font-weight: 300;
		letter-spacing: 0.25px;
		color: #000;
		position: relative;

		@media ($desktop) {

			&:hover {

				background-color: var(--bg);

			}

		}

	}

	&__radio {

		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.0001;
		z-index: -1;

	}

}