.docs-catalog {

	margin-bottom: 100px;

	&__item {

		margin: 18px 0;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: var(--box-shadow);
		padding: 30px 38px;
		position: relative;
		display: flex;

	}

	&__img {

		width: 150px;
		margin-right: 28px;
		flex-shrink: 0;
		align-self: flex-start;
		border: 1px solid var(--silver-dark);

	}

	&__body {

		flex-grow: 1;

	}

	&__head {

		display: flex;
		justify-content: space-between;
		align-items: flex-start;

	}

	&__name {

		font-size: 16px;
		line-height: 21px;
		font-weight: 700;
		margin: 6px 0;
		max-width: 365px;

		a {

			color: var(--black_dark);

			&:hover {

				color: var(--blue);

			}

		}

	}

	&__img:hover ~ &__body &__name a {

		color: var(--blue);

	}

	&__status {

		margin: 2px 0;

	}

	&__category {

		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		color: var(--grey);
		margin-bottom: 12px;
		max-width: 500px;

	}

}

.docs-table {

	font-size: 14px;
	line-height: 19px;

	th {

		color: var(--grey);
		text-align: left;
		font-weight: 400;
		vertical-align: top;
		padding: 2px 20px 2px 0;

	}

	td {

		padding: 2px 0;
		vertical-align: top;

	}

}

.docs-item {

	margin: 46px 0 88px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
	padding: 70px 50px 24px;
	position: relative;
	display: flex;
	align-items: flex-start;

	&__img {

		width: 352px;
		flex-shrink: 0;
		margin-right: 28px;
		position: relative;
		border: 1px solid var(--silver);

		&::after {

			position: absolute;
			width: 24px;
			height: 24px;
			right: 12px;
			bottom: 8px;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%232B8CFF' d='M16.44 15.08l3.94 4.01a1 1 0 01-1.43 1.4l-3.94-4a7.5 7.5 0 111.43-1.4zM13.5 11.5a1 1 0 100-2h-2v-2a1 1 0 00-2 0v2h-2a1 1 0 000 2h2v2a1 1 0 102 0v-2h2z'/%3E%3C/svg%3E");

		}

	}

	&__head {

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 11px;

	}

	&__title {

		font-size: 24px;
		line-height: 28px;
		margin-right: 20px;

	}

	&__status {

		margin: 8px 0;

	}

	&__category {

		font-size: 12px;
		line-height: 14px;

	}

	&__price {

		margin: 28px 0 34px;
		display: flex;
		align-items: center;

		&-value {

			color: var(--blue);
			font-size: 30px;
			font-weight: 700;
			line-height: 35px;
			margin-right: 14px;

		}

		.tooltip-help {

			margin-top: 4px;

		}

	}

	&__heading {

		font-size: 18px;
		font-weight: 700;
		line-height: 21px;
		color: var(--grey);
		margin: 15px 0;

	}

	.docs-table {

		font-size: 16px;

		th {

			padding-right: 38px;

		}

		th, td {

			padding-top: 5px;
			padding-bottom: 5px;

		}

	}

	&__content {

		font-size: 16px;
		line-height: 19px;
		color: var(--grey);

		p {

			margin: 20px 0;

			br {

				display: block;
				margin: 8px 0;

			}

		}

	}

	&__download,
	&__submit {

		margin-top: 32px;

		.btn {

			width: 100%;

		}

	}

	&__copyright {

		margin: 32px 0 34px;
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;

	}

}

.docs-related {

	margin: 88px 0 100px;

	&__title {

		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		color: var(--grey);
		margin-bottom: 36px;

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		margin: -18px;

	}

	&__item {

		margin: 18px;
		width: calc( 100% / 3 - 36px );
		background-color: #fff;
		border-radius: 3px;
		box-shadow: var(--box-shadow);
		padding: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&__img {

		margin-bottom: 20px;

	}

	&__name {

		font-size: 16px;
		font-weight: 700;
		line-height: 19px;
		width: 100%;
		padding-right: 24px;
		padding-bottom: 10px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%233489FF' d='M15 13l-4.6 4.6A1 1 0 119 16.2l3.9-3.9L9 8.4A.99.99 0 0110.4 7l4.6 4.59A1 1 0 0115 13z'/%3E%3C/svg%3E");
		background-position: right top;
		background-repeat: no-repeat;

		a {

			color: var(--color);

			&:hover {

				color: var(--blue);

			}

		}

	}

	&__img:hover + &__name a {

		color: var(--blue);

	}

	&__desc {

		font-size: 12px;
		line-height: 14px;
		margin-bottom: 18px;
		color: var(--text);

	}

	&__buy {

		margin-top: auto;
		width: 100%;

		.btn {

			width: 100%;

		}

	}

}

/*
.catalog-flex {

	margin: 24px 0;
	display: flex;

	@media ($mdWidth) {

		margin: 12px 0;
		display: block;

	}

	&__left {

		flex-shrink: 0;

		.live-search {

			margin-bottom: 36px;

			@media ($mdWidth) {

				margin-bottom: 18px;

			}

		}

	}

	&__body {

		flex-grow: 1;

	}

	&--filter &__left {

		width: 366px;
		margin-right: 24px;

		@media ($mdWidth) {

			display: none;
			width: 100%;
			margin: 0 0 18px;

			.filter-show & {

				display: block;

			}

		}

	}

	&--filter &__body {

		@media ($desktop) {

			max-width: calc(100% - 366px - 24px);

		}

	}

	&--menu &__left {

		width: 264px;
		margin-right: 20px;

		@media ($mdWidth) {

			width: 100%;
			margin: 0 0 18px;

		}

	}

	&--menu &__body {

		@media ($desktop) {

			max-width: calc(100% - 264px - 20px);

		}

	}

}

.catalog-category {

	&__item {

		padding: 20px 26px;
		display: flex;
		align-items: center;
		box-shadow: var(--box-shadow-dark);
		border-radius: 3px;
		background-color: #fff;
		position: relative;

		@media ($smWidth) {

			padding: 24px 12px;
			display: block;

		}

		& + & {

			margin-top: 18px;

			@media ($smWidth) {

				margin-top: 12px;

			}

		}

	}

	&__img {

		flex-shrink: 0;
		margin-right: 16px;
		width: 73px;
		align-self: flex-start;

		@media ($smWidth) {

			display: block;
			margin: 0 0 10px;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

	}

	&__body {

		flex-grow: 1;

	}

	&__row {

		display: flex;
		align-items: flex-start;

		@media ($smWidth) {

			&--sm-reverse {

				flex-direction: column-reverse;

			}

		}

		& + & {

			margin-top: 10px;

		}

	}

	&__name {

		font-weight: bold;
		font-size: 16px;
		line-height: 19px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 1.4;

		}

	}

	&__label {

		margin-left: auto;
		padding-left: 26px;

		@media ($smWidth) {

			margin: 0 0 10px;
			padding: 0;

		}

	}

	&__ratio {

		margin-right: 20px;

	}

	&__manufacturer {

		font-size: 14px;
		line-height: 16px;

		@media ($smWidth) {

			font-size: 12px;

		}

	}

}

.catalog-menu {

	position: relative;

	@media ($mdWidth) {

		&__head {

			display: flex;
			align-items: center;
			font-size: 12px;
			line-height: 24px;
			color: var(--grey);

		}

		&__current {

			margin-left: 10px;
			color: var(--blue);
			font-size: 12px;
			line-height: 24px;
			font-weight: 700;
			display: flex;

			svg {

				fill: var(--blue);
				margin-left: 3px;
				transition: var(--transitionDefault);

			}

		}

		&.is-open &__current svg {

			transform: scaleY(-1);

		}

		&.is-open &__list {

			opacity: 1;
			z-index: 5;
			pointer-events: auto;
			transform: translate3d(0, 10px, 0);
			transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s, z-index 0s 0s;

		}

		&__list {

			position: absolute;
			top: 100%;
			left: 0;
			box-shadow: var(--box-shadow-dark);
			border-radius: 6px;
			background-color: #fff;
			opacity: 0;
			z-index: 1;
			pointer-events: none;
			transform: translate3d(0, 0, 0);
			transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s, z-index 0s var(--transitionDefault) ;
			padding: 8px 0;
			min-width: 278px;

		}

		&__link {

			color: var(--grey);
			padding: 8px 16px;
			font-size: 12px;
			line-height: 16px;
			display: block;
			font-weight: 700;

		}

		&__item.is-current {

			background-color: var(--snow);

		}

	}

	@media ($desktop) {

		&__head {

			display: none;

		}

		&::before {

			position: absolute;
			width: 4px;
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			background-color: var(--border);
			border-radius: 2px;

		}

		&__item {

			color: var(--text);

			&.is-current {

				color: var(--color);

				&::after {

					position: absolute;
					width: 4px;
					top: 0;
					left: 0;
					bottom: 0;
					content: '';
					background-color: var(--blue);
					border-radius: 2px;

				}

			}

		}

		&__link {

			color: inherit;
			padding-left: 30px;
			height: 55px;
			display: flex;
			align-items: center;

			&:hover {

				color: var(--color);

			}

		}

	}

} */