.filter {

	&__item {

		margin-bottom: 32px;

		@media ($mdWidth) {

			margin-bottom: 24px;

		}

		@media ($smWidth) {

			margin-bottom: 16px;

		}

	}

	&__label {

		display: block;
		font-size: 16px;
		line-height: 19px;
		color: var(--grey);
		margin-bottom: 12px;

	}

	&__submit {

		width: 100%;
		margin-top: 50px;

		@media ($mdWidth) {

			margin-top: 24px;

		}

	}

}

.filter-tags {

	display: flex;
	flex-wrap: wrap;
	margin: 14px -4px 38px;

	@media ($smWidth) {

		margin: 4px -4px 20px;

	}

	&__item {

		margin: 4px;

		&.is-remove {

			transition: var(--transitionDefault);
			opacity: 0;

		}

	}

}