.filter {

	padding: 24px 26px;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: var(--box-shadow-dark);

	@media ($mdWidth) {

		padding: 24px 16px;

	}

	@media ($smWidth) {

		padding: 20px 12px;

	}

	&__item {

		margin-bottom: 26px;

		@media ($mdWidth) {

			margin-bottom: 24px;

		}

		@media ($smWidth) {

			margin-bottom: 16px;

		}

	}

	&__label {

		display: block;
		font-size: 16px;
		line-height: 19px;
		color: var(--grey);
		margin-bottom: 12px;

	}

	&__submit {

		width: 100%;
		margin-top: 42px;

		@media ($mdWidth) {

			margin-top: 24px;

		}

	}

}