.flex {

	display: flex;

	&--content-between {

		justify-content: space-between;

	}

	&--justify-end {

		justify-content: flex-end;

	}

	&--align-center {

		align-items: center;

	}
	&--wrap {

		flex-wrap: wrap;

	}

}