.footer {

	padding: 70px 0;

	@media ($mdWidth) {

		padding: 34px 0;

	}

	&__flex {

		display: flex;
		align-items: flex-start;

		@media ($mdWidth) {

			display: block;
			text-align: center;

		}

	}

	&__left {

		flex-grow: 1;

	}

	&__right {

		flex-shrink: 0;

	}

	&__copyright {

		font-size: 12px;
		line-height: 20px;
		color: var(--text);

	}

	&__paymend {

		display: flex;
		align-items: center;
		justify-content: center;

		@media ($desktop) {

			height: 50px;
			padding-left: 23px;
			margin: 4px 33px;
			border-left: 2px solid color(var(--text) a(10%));

		}

		svg {

			flex-shrink: 0;
			fill: var(--color);

			& + svg {

				margin-left: 26px;

			}

		}

	}

	&__menu {

		margin: 10px -10px;
		display: flex;

		@media ($mdWidth) {

			display: block;
			margin: 20px 0 30px;

		}

		li {

			margin: 10px;

			@media ($mdWidth) {

				margin: 0;

			}

		}

		a {

			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			color: var(--color);
			display: block;
			transition: .3s ease;

			@media ($desktop) {

				&:hover {

					color: var(--text);

				}

			}

		}

	}

}