.footer {

	flex-shrink: 0;
	position: relative;

	&__copyright {

		padding: 32px 0;
		font-size: 12px;
		line-height: 18px;
		color: var(--grey);

		@media ($smWidth) {

			font-size: 11px;

		}

	}

}