.for-whom {

	margin: 121px 0 107px;
	text-align: center;

	@media ($mdWidth) {

		margin: 60px 0;

	}

	@media ($smWidth) {

		margin: 40px 0;

	}

	&__title {

		margin: 20px 0;

		@media ($smWidth) {

			margin: 6px 0;

		}

	}

	&__intro {

		text-align: center;
		font-size: 24px;
		margin-bottom: 68px;
		line-height: 28px;
		color: var(--grey);

		@media ($mdWidth) {

			font-size: 20px;
			line-height: 26px;
			margin-bottom: 32px;

		}

		@media ($smWidth) {

			font-size: 14px;
			line-height: 16px;
			margin-bottom: 22px;

			br {

				display: none;

			}

		}

	}

	&__list {

		display: flex;
		justify-content: space-between;

		@media ($smWidth) {

			display: block;

		}

	}

	&__item {

		padding: 50px 61px;
		width: 486px;
		box-shadow: var(--box-shadow);
		border-radius: 3px;
		background-color: #fff;

		@media ($mdWidth) {

			width: calc(50% - 8px);
			padding: 24px 20px;

		}

		@media ($smWidth) {

			width: auto;
			margin-top: 18px;

		}


	}

	&__ico {

		margin: auto;

		@media ($smWidth) {

			height: 36px;
			width: 36px;

		}

	}

	&__head {

		margin: 20px 0;

		@media ($smWidth) {

			margin: 12px 0 8px;

		}

	}

	&__text {

		font-size: 16px;
		line-height: 19px;
		color: var(--grey);
		margin-bottom: 17px;
		min-height: 76px;

		@media ($smWidth) {

			font-size: 12px;
			line-height: 16px;
			margin-bottom: 18px;
			min-height: 0;

		}

	}

	&__btn {

		display: flex;
		justify-content: center;

		.btn {

			width: 314px;
			padding: 0;

		}

	}

}