/* fieldset {

	border: 0;
	min-width: 0;
	display: block;
	position: relative;

	&:focus {

		outline: none;

	}

}

legend {

	display: table;

	&:focus {

		outline: none;

	}

} */

.btn,
.button {

	border: 0;
	border-radius: 0;
	font-family: inherit;
	background-color: transparent;
	transition: var(--transitionDefault);
	user-select: none;
	position: relative;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;

	&:hover {

		cursor: pointer;

	}

	&:focus {

		outline: none;

	}

	&:disabled {

		pointer-events: none;

	}

}

.btn {

	padding: 0 26px;
	font-size: 16px;
	height: 42px;
	line-height: 42px;
	font-weight: 700;
	border-radius: 3px;
	display: block;

	&--blue {

		color: #fff;
		background-color: var(--blue);

		&:disabled {

			color: var(--text);
			background-color: var(--border);

		}

		@media ($desktop) {

			&:hover {

				background-color: var(--blue_dark);

			}

		}

	}

	&--toggle {

		color: var(--grey);
		font-size: 14px;
		line-height: 32px;
		height: 32px;
		padding: 0 12px;
		font-weight: 400;
		background-color: var(--silver);
		display: flex;
		align-items: center;
		justify-content: space-between;

		svg {

			fill: var(--grey);
			margin-left: 4px;

		}

		&.is-active {

			color: var(--black_dark);

			svg {

				fill: var(--black_dark);

			}

		}

		@media ($desktop) {

			&:hover {

				color: #fff;
				background-color: var(--color);

				svg {

					fill: #fff;

				}

			}

		}

	}

	&--sort {

		color: var(--grey);
		font-size: 14px;
		line-height: 32px;
		height: 32px;
		padding: 0;
		font-weight: 400;
		display: flex;
		align-items: center;

		@media ($smWidth) {

			height: 24px;
			line-height: 24px;

		}

		svg {

			fill: var(--grey);
			margin-left: 8px;

		}

		@media ($desktop) {

			&:hover {

				color: var(--color);

				svg {

					fill: var(--color);

				}

			}

		}

	}

	&--light {

		color: var(--color);
		background-color: var(--silver);

		@media ($desktop) {

			&:hover {

				background-color: var(--silver);

			}

		}

	}

	&--download {

		padding: 0;
		width: 24px;
		height: 24px;

		svg {

			fill: var(--blue);

		}

	}

	&-download {

		border-radius: 3px;
		color: var(--blue);
		background-color: var(--silver);
		max-width: 100%;

		&__inner {

			display: flex;
			align-items: center;
			justify-content: center;

			&::after {

				width: 24px;
				height: 24px;
				margin-left: 10px;
				content: '';
				background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232b8cff' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M10.69 17.3A.98.98 0 009 18c0 .26.1.51.29.7l1.96 1.98a1.08 1.08 0 001.54 0l1.92-1.93a1 1 0 00-.7-1.7.98.98 0 00-.7.29l-1.29 1.3-1.33-1.35z'/%3E%3Cpath d='M13 20V10a1 1 0 00-1-1 1 1 0 00-1 1v10a1 1 0 001 1 1 1 0 001-1z'/%3E%3Cpath d='M7.94 5.48A5.1 5.1 0 002 10.5C2 13.4 4.38 16 7.1 16h2.88v-2H7.1c-1.66 0-3.11-1.66-3.11-3.5a3.1 3.1 0 013.1-3.09h.01c.39 0 .69.05.97.15l.17.07c.6.24.88-.25.88-.25l.15-.27A4.25 4.25 0 0112.98 5a4.14 4.14 0 014.07 3.65l.05.34s.07.52.66.52h.28c1.14 0 1.98.97 1.98 2.16 0 1.21-1 2.35-2.07 2.35h-3.97V16h3.96C20.1 16 22 13.96 22 11.66c0-2-1.31-3.66-3.14-4.07A6.08 6.08 0 0012.98 3c-1.98.02-3.9.9-5.04 2.48z'/%3E%3C/svg%3E");
				flex-shrink: 0;

			}

		}

		&__text {

			display: block;
			overflow: hidden;
			text-overflow: ellipsis;

		}

	}

	&--tag {

		padding: 0 16px;
		border-radius: 16px;
		font-size: 14px;
		height: 32px;
		line-height: 32px;
		font-weight: 400;
		color: #fff;
		display: flex;
		align-items: center;
		background-color: var(--blue);

		input {

			position: absolute;
			width: 100%;
			height: 32px;
			top: 0;
			left: 0;
			appearance: none;
			border-radius: 16px;
			opacity: .0001;
			cursor: pointer;

		}

		&::after {

			width: 16px;
			height: 16px;
			margin-left: 8px;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M12.74 3.26a.9.9 0 010 1.28L9.27 8l3.47 3.46a.9.9 0 01.08 1.18l-.08.1a.9.9 0 01-1.28 0L8 9.27l-3.46 3.47a.9.9 0 11-1.28-1.28L6.73 8 3.26 4.54a.9.9 0 01-.08-1.18l.08-.1a.9.9 0 011.28 0L8 6.73l3.46-3.47a.9.9 0 011.28 0z'/%3E%3C/svg%3E");

		}

		@media ($desktop) {

			&:hover {

				background-color: var(--blue_dark);

			}

		}

	}

}

.input {

	height: 32px;
	line-height: 20px;
	padding: 6px 8px;
	font-size: 16px;
	color: var(--color);

	width: 100%;
	font-family: inherit;
	position: relative;
	appearance: none;
	display: block;
	filter: none;
	-webkit-transform: translateZ(0px);

	background-color: #fff;
	border: 2px solid var(--border);
	border-radius: 3px;

	textarea& {

		height: 96px;
		resize: none;
		overflow: auto;

		scrollbar-width: thin;
		scrollbar-color: #bbc0c6 transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 3px;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 3px;
			background-color: #bbc0c6;

		}

	}

	@media ($desktop) {

		font-size: 14px;

	}

	&::placeholder {

		color: var(--grey);
		opacity: 1;
		font-size: 14px;

	}

	&::-ms-clear {

		display: none;

	}

	&:-webkit-autofill {

		animation-name: autofill;
		animation-fill-mode: both;

	}

	&:focus {

		outline: none;
		border-color: var(--blue);

	}

	&:disabled {

		pointer-events: none;

	}

	&--error {

		border-color: color(var(--error) a(50%));

	}

	&:invalid {

		box-shadow: none;

	}

}

@keyframes autofill {

	to {

		color: var(--color);
		background-color: #fff;

	}

}

.checkbox-group {

	display: flex;
	flex-wrap: wrap;
	margin: -16px;

	&__item {

		margin: 16px;

	}

}

.checkbox {

	display: flex;

	&__control {

		position: relative;
		cursor: pointer;
		font-size: 12px;
		line-height: 14px;

	}


	@media ($smWidth) {


	}

	&__input {

		position: absolute;
		width: 16px;
		height: 16px;
		top: 4px;
		left: 4px;
		opacity: 0.001;
		z-index: -1;
		appearance: none;

	}

	&__label {

		display: block;
		user-select: none;
		padding: 5px 5px 5px 28px;

		&::after {

			width: 12px;
			height: 12px;
			border-radius: 4px;
			position: absolute;
			top: 4px;
			left: 4px;
			content: '';
			border: 2px solid var(--border);
			background-color: #fff;

		}

	}

	&__input[type="radio"] + &__label::after {

		width: 10px;
		height: 10px;
		border-radius: 50%;

	}

	@media ($desktop) {

		&:hover &__label::after {

			border-color: var(--snow);

		}

	}

	&__input:checked + &__label::after {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23FAFBFC' d='M9.72 11.3a1 1 0 10-1.41 1.42l2 2a1 1 0 001.4 0l4-4a1 1 0 10-1.4-1.41L11 12.6l-1.3-1.3z'/%3E%3C/svg%3E");
		background-position: center;
		background-repeat: no-repeat;
		background-color: var(--blue);
		border-color: var(--blue) !important;

	}

	&__input[type="radio"]:checked + &__label::after {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Ccircle cx='7' cy='7' r='2' fill='white'/%3E%3C/svg%3E");

	}

	&--error &__label::after {

		background-color: color(var(--error) a(50%));

	}

}

/* input-label */
.input-box {

	&__label {

		display: block;
		font-size: 12px;
		line-height: 14px;
		margin: 10px 0;
		color: var(--text);

	}

	.input {

		height: 40px;
		padding: 10px 16px;

	}

	textarea.input {

		height: 104px;

	}

	&__input-wrap {

		position: relative;

	}

	&__ico-right {

		position: absolute;
		top: 0;
		right: 18px;
		bottom: 0;
		margin: auto;
		width: 24px;
		height: 24px;

	}

}

/* select */

.select {

	display: block;
	position: relative;

	width: 100%;
	background-color: var(--border);
	border-radius: 3px;
	transition: var(--transitionDefault);

	&--snow {

		background-color: var(--snow);

	}

	&--disabled {

		pointer-events: none;

	}

	&--open {

		background-color: #253858;
		z-index: 5;

	}

	&--open &__value {

		color: #fff !important;

		svg {

			fill: #fff !important;
			transform: scaleY(-1);

		}

	}

	&--default &__value {

		color: var(--text);

		svg {

			fill: var(--text);

		}

	}

	&--open &__list {

		opacity: 1;
		pointer-events: auto;
		transform: translate3d(0, 16px, 0);

	}

	&__value {

		display: block;
		position: relative;
		cursor: pointer;
		padding: 6px 40px 6px 12px;
		font-size: 14px;
		line-height: 20px;
		transition: color var(--transitionDefault);
		user-select: none;
		z-index: 1;
		display: flex;
		align-items: center;

		svg {

			fill: var(--color);
			transition: var(--transitionDefault);
			pointer-events: none;
			position: absolute;
			top: 0;
			right: 12px;
			bottom: 0;
			margin: auto;

		}

		&-inner {

			white-space: nowrap;
			display: block;
			max-width: 100%;
			text-overflow: ellipsis;
			overflow: hidden;

		}

	}

	&__list {

		position: absolute;
		top: 100%;
		left: 0;
		box-shadow: var(--box-shadow-dark);
		border-radius: 6px;
		background-color: #fff;
		opacity: 0;
		overflow: hidden;
		z-index: 1;
		pointer-events: none;
		transform: translate3d(0, 0, 0);
		transition: opacity var(--transitionDefault) 0s, transform var(--transitionDefault) 0s;

		@media ($smWidth) {

			min-width: 100%;

		}

		&-item {

			padding: 6px 16px;
			font-size: 14px;
			line-height: 20px;
			transition: var(--transitionDefault);
			width: 100%;
			display: block;
			white-space: nowrap;
			text-align: left;
			color: var(--color);

			&[value=""],
			&[value="none"] {

				display: none;

			}

			@media ($desktop) {

				&:hover {

					background-color: var(--snow);

				}

			}

			@media ($smWidth) {

				white-space: normal;

			}

		}

	}

	&--scroll &__list {

		max-height: 160px;
		overflow-y: auto;

		scrollbar-width: thin;
		scrollbar-color: #bbc0c6 transparent;

		&::-webkit-scrollbar {

			width: 6px;
			border-radius: 3px;
			background-color: transparent;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 3px;
			background-color: #bbc0c6;

		}

	}

	&--list-w220 &__list {

		width: 220px;

	}

	&--list-w360 &__list {

		width: 360px;

	}

	&--right &__list {

		left: auto;
		right: 0;

	}

	select {

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		font-size: 16px;
		appearance: none;
		pointer-events: none;

	}

	/* border */

	&--border&--default &__value {

		color: var(--grey);

	}

	&--border &__value {

		border: 2px solid var(--border);
		background-color: #fff;
		padding: 8px 40px 8px 16px;

		svg {

			fill: var(--blue) !important;
			right: 8px;

		}

		@media ($desktop) {

			&:hover {

				color: var(--color);

			}

		}

	}

	&--border&--open &__value {

		color: var(--color) !important;

	}

	&--border &__list {

		min-width: 100%;

	}

	&--border&--wrap &__list {

		&-item {

			white-space: normal;

		}

	}

}