.header {

	flex-shrink: 0;
	position: relative;
	z-index: 9;

	&--docs {

		margin-right: calc( var(--mainMarginRight) * -1);
		padding-right: var(--mainMarginRight);
		margin-left: calc( var(--mainMarginLeft) * -1 + 24px );
		padding-left: calc( var(--mainMarginLeft) - 24px );
		padding-bottom: 20px;
		margin-bottom: 30px;
		background-color: var(--blue_dark);
		background-position: left center;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1700' height='900' viewBox='0 0 1700 900'%3E%3Cpath fill='%2399C8FF' fill-rule='evenodd' d='M1061.25 864.6c332.48 0 602.01-267.34 602.01-597.1 0-329.78-269.53-597.12-602.01-597.12-332.49 0-602.01 267.34-602.01 597.11 0 329.77 269.52 597.11 602.01 597.11Zm.01-363.55c116.93 0 211.71-100.48 211.71-224.44 0-123.95-211.71-392.76-211.71-392.76S849.54 152.66 849.54 276.61c0 123.96 94.79 224.44 211.72 224.44Z'/%3E%3Cpath fill='%2399C8FF' d='M1109.11 499.05c182 0 329.54-156.4 329.54-349.34 0-117.9-123.07-320.01-218.79-459.38 257.4 67.8 447.08 300.5 447.08 577.15 0 329.78-269.53 597.11-602.01 597.11S462.92 597.26 462.92 267.5c0-311.58 240.6-567.42 547.57-594.7C913.4-187.78 779.57 26.74 779.57 149.7c0 111.6 49.37 210.98 126.22 274.94 38.8 46.83 95.71 76.4 159.13 76.4 10.32 0 20.47-.8 30.4-2.3 4.57.2 9.17.3 13.79.3Z'/%3E%3Cpath fill='%232B8CFF' d='M1176.11-318.32a610.22 610.22 0 0 0-111.7-10.26c-332.49 0-602.02 267.34-602.02 597.11 0 329.78 269.53 597.11 602.02 597.11 278.94 0 513.58-188.17 581.91-443.52a470.05 470.05 0 0 1-368.35 176.92c-151.51 0-296.31-66.72-368.84-168.82-35.02-40.04-56.43-93.65-56.43-152.56 0-32 14.1-73.66 35.04-117.85 2.91-217.28 99.59-423.67 288.37-478.13Z'/%3E%3Cpath fill='%230E2D4A' d='M1219.98-308.65a607.37 607.37 0 0 0-158.73-20.97c-332.49 0-602.01 267.34-602.01 597.11 0 329.77 269.52 597.11 602.01 597.11 44.09 0 87.07-4.7 128.47-13.63-205.34-61.3-354.91-250.28-354.91-473.92 0-48.8 7.12-95.94 20.39-140.47 33.64-133.82 206.06-352.73 206.06-352.73l.79 1.02c59.92-73.5 114.23-140.02 157.93-193.52Z'/%3E%3Cpath fill='%230C67D3' fill-opacity='.8' d='M0 0h1700v900H0z'/%3E%3C/svg%3E");
		border-radius: 0 0 0 16px;

	}

	&__title {

		color: #fff;
		display: flex;

		&-heading {

			margin-bottom: 8px;

		}

		&-btn {

			margin: 6px 24px 6px 0;

		}

		&-text {

			min-width: 500px;
			max-width: 60%;

			@media ($lgWidth) {

				max-width: 80%;

			}

		}

		&-description {

			font-size: 18px;
			line-height: 24px;
			letter-spacing: 0.15px;
			color: rgba(255, 255, 255, 0.6);

		}

	}

	&__flex {

		display: flex;
		align-items: center;
		padding: 20px 0;

	}

	&__right {

		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: 24px;
		margin-left: auto;

	}

	&__lang {

		position: relative;
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: 12px;

		&::after {

			position: absolute;
			width: 1px;
			height: 16px;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			margin: auto;
			background-color: var(--color);
			opacity: .12;

			.header--docs & {

				background-color: #fff;
				opacity: .6;

			}

		}

		&-btn {

			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.1px;
			text-transform: uppercase;
			color: rgba(var(--colorRGB), .12);

			.header--docs & {

				color: rgba(255, 255, 255, .6);

			}

			&.is-current {

				color: var(--blue);

				.header--docs & {

					color: #fff;

				}

			}

			@media ($desktop) {

				&:hover {

					color: var(--blue_dark);

					.header--docs & {

						color: #fff;

					}

				}

			}

		}

	}

	&__account {

		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: 24px;

	}

	&__favourites {

		position: relative;

		@media ($desktop) {

			&:hover svg {

				opacity: 1;

			}

		}

		svg {

			fill: var(--color);
			opacity: .4;

			.header--docs & {

				fill: #fff;
				opacity: .6;

			}

		}

	}

	&__notification {

		position: relative;

		@media ($desktop) {

			&:hover svg {

				opacity: 1;

			}

		}

		svg {

			fill: var(--color);
			opacity: .4;

			.header--docs & {

				fill: #fff;
				opacity: .6;

			}

		}

		&.as-unread::after {

			position: absolute;
			width: 6px;
			height: 6px;
			top: 4px;
			right: 4px;
			content: '';
			border-radius: 50%;
			background-color: var(--red);

		}

	}

	&__user {

		position: relative;

		&-btn {

			display: grid;
			align-items: center;
			grid-auto-flow: column;
			gap: 4px;
			padding: 5px 6px;
			background-color: rgba(0, 66, 105, 0.03);
			border-radius: 50px;

			.header--docs & {

				background-color: rgba(255,255,255,.1);

			}

			&-ico {

				position: relative;

				svg {

					fill: var(--color);
					opacity: .8;

					.header--docs & {

						fill: #fff;
						opacity: .6;

					}

				}

				svg + svg {

					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					fill: none;
					stroke: var(--color);
					opacity: 0;

				}

			}

		}

		&-avatar {

			img {

				border-radius: 50%;

			}

			&-text {

				width: 36px;
				height: 36px;
				color: #fff;
				text-align: center;
				line-height: 36px;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 500;
				border-radius: 50%;
				background-color: var(--blue);

			}

		}

		&-menu {

			position: absolute;
			top: 100%;
			right: -6px;
			padding: 6px;
			z-index: 1;
			pointer-events: none;
			opacity: 0;
			transition: var(--transitionDefault);

		}

		&.is-open &-menu {

			opacity: 1;
			pointer-events: auto;

		}

		&.is-open &-btn-ico {

			svg {

				opacity: 0;

			}

			svg + svg {

				opacity: 1;

			}

		}

		&-list {

			width: 176px;
			background-color: #fff;
			box-shadow: 0px 4px 4px rgba(0, 32, 51, 0.02), 0px 8px 24px rgba(0, 32, 51, 0.12);
			border-radius: 4px;
			padding: 12px 0;

		}

		&-link {

			font-size: 16px;
			font-weight: 300;
			line-height: 20px;
			letter-spacing: 0.1px;
			display: block;
			color: var(--color);
			padding: 12px 16px;
			width: 100%;
			text-align: left;

			@media ($desktop) {

				&:hover {

					color: var(--blue);

				}

			}

		}

	}

}

.btn-menu-toggle {

	display: none;

	@media ($mdWidth) {

		display: block;
		position: absolute;
		width: 24px;
		height: 24px;
		top: 6px;
		right: 16px;

		&__line {

			position: absolute;
			width: 18px;
			height: 2px;
			top: 0;
			right: 3px;
			bottom: 0;
			margin: auto;
			background-color: var(--black_dark);
			transform: rotate(0deg);
			will-change: transform;
			transition: var(--transitionDefault);
			border-radius: 2px;

			.menu-show & {

				height: 3px;
				background-color: var(--grey);

				&--top {

					bottom: 0;
					transform: rotate(-225deg);

				}

				&--center {

					opacity: 0;
					transform: rotate(-360deg);
					width: 18px;

				}

				&--bottom {

					transform: rotate(-315deg);
					top: 0;
					width: 18px;

				}

			}

			&--top {

				bottom: 10px;

			}

			&--center {

				width: 12px;

			}

			&--bottom {

				top: 10px;
				width: 6px;

			}

		}

	}

}

@media ($mdWidth) {

	.menu-show {

		background-color: var(--color);

		.main,
		.footer {

			display: none;

		}

		.header {

			background-color: transparent;
			box-shadow: none;

			&::before {

				position: absolute;
				height: 100px;
				top: 0;
				left: 0;
				right: 0;
				content: '';
				background-color: #fff;

			}

			&__flex {

				flex-direction: column;
				flex-grow: 1;
				align-items: stretch;

			}

			&__menu {

				display: block;
				order: 5;

			}

			&__phone {

				display: flex;

			}

		}

	}

}