.header {

	flex-shrink: 0;
	position: relative;
	z-index: 9;

	&--docs {

		margin-right: calc( var(--mainMarginRight) * -1);
		padding-right: var(--mainMarginRight);
		margin-left: calc( var(--mainMarginLeft) * -1 + 24px );
		padding-left: calc( var(--mainMarginLeft) - 24px );
		padding-bottom: 28px;
		margin-bottom: 30px;
		background-color: var(--blue_dark);
		border-radius: 0 0 0 16px;

	}

	&__title {

		color: #fff;
		display: flex;
		align-items: center;

		.btn {

			margin-right: 24px;

		}

	}

	&__flex {

		display: flex;
		align-items: center;
		padding: 20px 0;

	}

	&__right {

		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: 24px;
		margin-left: auto;

	}

	&__account {

		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: 24px;

	}

	&__favourites {

		position: relative;

		@media ($desktop) {

			&:hover svg {

				opacity: 1;

			}

		}

		svg {

			fill: var(--color);
			opacity: .4;

			.header--docs & {

				fill: #fff;
				opacity: .6;

			}

		}

	}

	&__notification {

		position: relative;

		@media ($desktop) {

			&:hover svg {

				opacity: 1;

			}

		}

		svg {

			fill: var(--color);
			opacity: .4;

			.header--docs & {

				fill: #fff;
				opacity: .6;

			}

		}

		&.as-unread::after {

			position: absolute;
			width: 6px;
			height: 6px;
			top: 4px;
			right: 4px;
			content: '';
			border-radius: 50%;
			background-color: var(--red);

		}

	}

	&__user {

		position: relative;

		&-btn {

			display: grid;
			align-items: center;
			grid-auto-flow: column;
			gap: 4px;
			padding: 5px 6px;
			background-color: rgba(0, 66, 105, 0.03);
			border-radius: 50px;

			.header--docs & {

				background-color: rgba(255,255,255,.1);

			}

			svg {

				fill: var(--color);
				opacity: .8;

				.header--docs & {

					fill: #fff;
					opacity: .6;

				}

			}

		}

		&-avatar {

			overflow: hidden;
			width: 36px;
			height: 36px;
			color: #fff;
			text-align: center;
			line-height: 36px;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 500;
			border-radius: 50%;

			img {

				border-radius: 50%;

			}

			&.is-company {

				background-color: #0b71dd;

			}

		}

		&-menu {

			position: absolute;
			top: 100%;
			right: -6px;
			padding: 6px;
			z-index: 1;
			pointer-events: none;
			opacity: 0;
			transition: var(--transitionDefault);

		}

		&.is-open &-menu {

			opacity: 1;
			pointer-events: auto;

		}

		&-list {

			width: 176px;
			background-color: #fff;
			box-shadow: 0px 4px 4px rgba(0, 32, 51, 0.02), 0px 8px 24px rgba(0, 32, 51, 0.12);
			border-radius: 4px;
			padding: 12px 0;

		}

		&-link {

			font-size: 16px;
			font-weight: 300;
			line-height: 20px;
			letter-spacing: 0.1px;
			display: block;
			color: var(--color);
			padding: 12px 16px;
			width: 100%;
			text-align: left;

			@media ($desktop) {

				&:hover {

					color: var(--blue);

				}

			}

		}

	}

}

.btn-menu-toggle {

	display: none;

	@media ($mdWidth) {

		display: block;
		position: absolute;
		width: 24px;
		height: 24px;
		top: 6px;
		right: 16px;

		&__line {

			position: absolute;
			width: 18px;
			height: 2px;
			top: 0;
			right: 3px;
			bottom: 0;
			margin: auto;
			background-color: var(--black_dark);
			transform: rotate(0deg);
			will-change: transform;
			transition: var(--transitionDefault);
			border-radius: 2px;

			.menu-show & {

				height: 3px;
				background-color: var(--grey);

				&--top {

					bottom: 0;
					transform: rotate(-225deg);

				}

				&--center {

					opacity: 0;
					transform: rotate(-360deg);
					width: 18px;

				}

				&--bottom {

					transform: rotate(-315deg);
					top: 0;
					width: 18px;

				}

			}

			&--top {

				bottom: 10px;

			}

			&--center {

				width: 12px;

			}

			&--bottom {

				top: 10px;
				width: 6px;

			}

		}

	}

}

@media ($mdWidth) {

	.menu-show {

		background-color: var(--color);

		.main,
		.footer {

			display: none;

		}

		.header {

			background-color: transparent;
			box-shadow: none;

			&::before {

				position: absolute;
				height: 100px;
				top: 0;
				left: 0;
				right: 0;
				content: '';
				background-color: #fff;

			}

			&__flex {

				flex-direction: column;
				flex-grow: 1;
				align-items: stretch;

			}

			&__menu {

				display: block;
				order: 5;

			}

			&__phone {

				display: flex;

			}

		}

	}

}