.header {

	flex-shrink: 0;
	position: relative;
	background-color: #fff;
	box-shadow: var(--box-shadow);

	&__top {

		background-color: var(--color);
		color: #fff;
		padding: 12px 0;

	}

	&__bottom {

		padding: 15px 0;

	}

	&__center {

		width: 1274px;
		margin: auto;
		padding: 0 26px;

	}

	&__flex {

		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__phone {

		a {

			display: flex;
			align-items: center;
			color: inherit;
			font-weight: 700;

			svg {

				fill: var(--blue);
				margin-right: 10px;

			}

		}

	}

	&__menu {

		display: flex;

		&-item {

			margin-right: 64px;

		}

		&-item--parent &-link {

			padding-right: 27px;
			background-position: right;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%230e2d4a' viewBox='0 0 24 24'%3E%3Cpath d='M8.3 10.3a1 1 0 000 1.41l2.93 2.97c.22.21.5.32.78.32s.56-.1.77-.32l2.93-2.96a1.01 1.01 0 00-.32-1.63.99.99 0 00-1.09.21L12 12.62l-2.3-2.33a1 1 0 00-1.4 0z'/%3E%3C/svg%3E");

		}

		&-link {

			font-weight: 700;
			color: inherit;

		}

	}

	&__logo {

		margin-right: 64px;

	}

	&__exit {

		svg {

			fill: var(--blue);

		}

	}

	&__user {

		font-weight: 700;
		color: var(--blue);
		margin-left: 10px;

	}


	&__lang {

		font-weight: 700;
		color: var(--blue);
		margin-left: 28px;

		a {

			text-decoration: underline;

		}

	}

}