.indent {

	padding: 24px 40px;

	&__head {

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 16px 0 24px;

		&-left {

			display: flex;
			align-items: center;

		}

		&-counter {

			color: var(--blue);

		}

		&-foot {

			width: 100%;
			margin: 8px 0 12px;
			font-size: 16px;
			line-height: 19px;
			color: var(--grey);

		}

		&-date {

			font-size: 16px;
			color: var(--grey);

		}

	}

	&__number {

		margin-right: 24px;

	}

	&__heading {

		font-size: 20px;
		line-height: 26px;
		font-weight: 500;

	}

	&__desc {

		margin: 50px 0;

		&-inner {

			font-weight: 500;
			font-size: 16px;
			line-height: 19px;

			p {
				& + p {

					margin-top: 12px;

				}

			}

			a {

				text-decoration: underline;

				&:hover {

					text-decoration-color: transparent;
					transition: var(--transitionDefault);

				}

			}

		}

	}

	&__signature {

		margin: 12px 0 34px;
		display: flex;
		justify-content: flex-end;

		.key-value--column + & {

			margin-top: -18px;

		}

		&-item {

			margin-left: 32px;

		}

	}

}