.insights-page {

	flex-shrink: 0;
	position: relative;

	&__bg {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		overflow: hidden;
		pointer-events: none;
		background-image: linear-gradient(180deg, #41369B 10%, #302873 94%);

		img {

			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;

		}

	}

	&__content {

		text-align: center;
		color: #fff;
		padding: 170px 0 58px;

		@media (max-height: 768px) {

			padding: 72px 0 36px;

		}

	}

	&__description {

		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0.15px;
		margin: 18px auto 50px;
		max-width: 670px;

	}

	&__box {

		width: 860px;
		max-width: 100%;
		margin: 32px auto;
		border-radius: 32px;
		background-color: #fff;
		display: flex;
		position: relative;
		box-shadow: 0 4px 4px rgba(0, 32, 51, 0.04), 0 8px 24px rgba(0, 32, 51, 0.12);
		color: var(--color);

		&:not(.is-open-category) .insights-category-list {

			pointer-events: none;
			opacity: 0;

		}

	}

	&__btn-catalog {

		width: 136px;
		height: 64px;
		background-color: var(--warning);
		border-radius: 32px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		color: #fff;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.1px;
		text-transform: uppercase;
		padding: 0 20px 0 15px;
		margin-left: -1px;

		svg {

			fill: #fff;

		}

		&-ico {

			margin-right: 8px;
			will-change: transform;
			transition: transform var(--transitionDefault);

			&-open {

				position: absolute;
				top: 0;
				left: 15px;
				bottom: 0;
				margin: auto;
				transform: scale(0);
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: transform var(--transitionDefault);

			}

		}

	}

	&__box.is-open-category &__btn-catalog {

		&-ico {

			transform: scale(0);

			&-open {

				transform: scale(1);

			}

		}

	}

	&__box.is-open-filter &__btn-catalog {

		display: none;

	}

}

.insights-form {

	position: relative;
	flex-grow: 1;

	&__label {

		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: 1.25px;
		pointer-events: none;
		position: absolute;
		top: 12px;
		left: 18px;
		z-index: 1;

	}

	.insights-page__box.is-open-filter &__label {

		opacity: 0;

	}

	.insights-page__box.is-open-filter &__input {

		padding: 22px 66px 22px 35px;

	}

	&__input {

		height: 64px;
		padding: 32px 66px 12px 18px;
		line-height: 20px;
		background-color: transparent;
		color: rgba(var(--colorRGB), 0.8);
		text-overflow: ellipsis;
		border: 0;
		font-weight: 500;
		border-radius: 0 32px 32px 0;

		&::placeholder {

			opacity: .4;
			color: var(--text);
			letter-spacing: .25px;
			font-weight: 300;

		}

		&:focus::placeholder {

			opacity: 1;

		}

	}

	&__reset {

		position: absolute;
		width: 25px;
		height: 25px;
		top: 0;
		right: 70px;
		bottom: 0;
		margin: auto;
		border-radius: 50%;
		background-color: #edf1f4;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: var(--transitionDefault);

		svg {

			fill: rgba(0, 32, 51, 0.26);

		}

	}

	&.is-noempty &__reset {

		opacity: 1;

	}

	&__submit {

		position: absolute;
		width: 54px;
		height: 54px;
		top: 5px;
		right: 5px;
		border-radius: 50%;
		background-color: var(--warning);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;

		svg {

			fill: #fff;

		}

	}

}

.insights-form-filter {

	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 7;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 32, 51, 0.04), 0px 8px 24px rgba(0, 32, 51, 0.12);
	border-radius: 5px;
	margin: 5px 22px;
	padding: 16px 22px 30px;

}

.insights-category {

	background-color: #fff;

	.center {

		width: 860px;
		padding: 84px 0 73px;

	}

	&__list  {

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;

	}

	&__item {

		height: 181px;
		position: relative;
		background-image: linear-gradient(180deg, rgba(0, 44, 70, 0.03) 0%, rgba(0, 66, 105, 0.07) 100%);
		border-radius: 5px;

	}

	&__link {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 5px;
		padding: 20px 18px;
		color: var(--color);
		overflow: hidden;
		transition: var(--transitionDefault);

		&:hover {

			background-image: linear-gradient(222.22deg, #F7F8F9 7.71%, #EEF2F5 76.22%);
			box-shadow: 0px 4px 4px rgba(0, 32, 51, 0.04), 0px 8px 24px rgba(0, 32, 51, 0.12);

		}

		img {

			position: absolute;
			right: 0;
			bottom: 0;
			transition: var(--transitionDefault);

		}

	}

	@media ($desktop) {

		&__link:hover img {

			transform: scale(1.05);

		}

	}

	&__name {

		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.15px;
		opacity: .8;
		display: block;
		margin-bottom: 3px;

	}

	&__count {

		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.25px;
		opacity: .4;
		display: block;

	}

}

.insights-info {

	background-image: linear-gradient(180deg, rgba(0, 44, 70, 0.03) 0%, rgba(0, 66, 105, 0.07) 100%);
	background-color: #fff;

	.center {

		width: 860px;
		padding: 61px 0 88px;

	}

	&__box  {

		display: flex;
		justify-content: space-between;

	}

	&__head {

		width: 258px;
		color: #000;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;

	}

	&__item {

		width: 274px;
		display: flex;

	}

	&__link {

		background-color: #fff;
		border-radius: 5px;
		padding: 20px 18px;
		color: var(--color);
		padding: 4px;
		flex-grow: 1;
		transition: var(--transitionDefault);

		&:hover {

			box-shadow: 0px 4px 4px rgba(0, 32, 51, 0.04), 0px 8px 24px rgba(0, 32, 51, 0.12);

		}

	}

	&__img {

		overflow: hidden;
		display: block;
		border-radius: 5px;

		img {

			height: 127px;
			transition: var(--transitionDefault);

		}

	}

	@media ($desktop) {

		&__link:hover img {

			transform: scale(1.05);

		}

	}

	&__name {

		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.1px;
		display: block;
		padding: 14px 10px;

	}

	&__title {

		font-weight: 700;
		font-size: 24px;
		line-height: 40px;
		margin-bottom: 11px;

	}

}

.insights-category-list {

	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 5px 22px;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 32, 51, 0.04), 0px 8px 24px rgba(0, 32, 51, 0.12);
	border-radius: 5px;
	max-height: 416px;
	padding: 30px 28px 6px;
	z-index: 7;
	overflow-y: auto;
	display: flex;
	justify-content: space-between;
	transition: opacity var(--transitionDefault);

	scrollbar-width: thin;
	scrollbar-color: rgba(0, 66, 105, 0.24) rgba(0, 66, 105, 0.06);

	&::-webkit-scrollbar {

		width: 10px;
		border-radius: 5px;
		background-color: rgba(0, 66, 105, 0.06);

	}

	&::-webkit-scrollbar-thumb {

		border-radius: 5px;
		background-color: rgba(0, 66, 105, 0.24);

	}

	&__col {

		width: 344px;

	}

	&__item {

		padding: 8px 11px;
		cursor: pointer;
		text-align: left;
		border-radius: 10px;
		transition: var(--transitionDefault);
		margin-bottom: 10px;
		user-select: none;
		position: relative;

		@media ($desktop) {

			&:not(.is-open):hover {

				background-color: rgba(0, 66, 105, 0.03);

				.insights-category-list__name {

					font-weight: 500;
					letter-spacing: 0.1px;

				}

			}

		}

		&.is-open {

			&::before {

				position: absolute;
				top: -2px;
				left: -2px;
				right: -2px;
				bottom: -2px;
				content: '';
				background-color: rgba(0, 66, 105, 0.03);
				border-radius: 10px;

			}

		}

	}

	&__name {

		display: block;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 2px;
		position: relative;
		font-weight: 300;
		letter-spacing: 0.25px;

	}

	&__item.is-open &__name {

		font-weight: 500;
		letter-spacing: 0.1px;

	}

	&__count {

		display: block;
		font-weight: 300;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 0.4px;
		opacity: .4;
		position: relative;

	}

	&__inner {

		overflow: hidden;
		max-height: 0;
		position: relative;
		transition: var(--transitionDefault);

	}

	&__item.is-open &__inner {

		max-height: 999px;

	}

	&__link {

		display: flex;
		justify-content: space-between;
		color: var(--color);
		margin-top: 10px;

		@media ($desktop) {

			&:hover {

				color: var(--blue);

			}

		}

		&-name {

			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.25px;
			opacity: .8;

		}

		&-count {

			font-weight: 300;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: 0.4px;
			color: var(--color);

		}

	}

}

/*
.insights-search-result {

	flex-grow: 1;
	padding-top: 85px;

	&.is-loading::after,
	&.is-loading-add .insights-catalog::after {

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='96' height='32' viewBox='0 0 96 32'%3E%3Ccircle cx='16' cy='16' r='8' fill='%23355073' opacity='.2'%3E%3Canimate attributeName='r' begin='0s' dur='1.2s' keyTimes='0; 0.25; 0.5; 1' repeatCount='indefinite' values='8; 16; 8; 8'/%3E%3C/circle%3E%3Ccircle cx='48' cy='16' r='8' fill='%23355073' opacity='.2'%3E%3Canimate attributeName='r' begin='0.4s' dur='1.2s' keyTimes='0; 0.25; 0.5; 1' repeatCount='indefinite' values='8; 16; 8; 8'/%3E%3C/circle%3E%3Ccircle cx='80' cy='16' r='8' fill='%23355073' opacity='.2'%3E%3Canimate attributeName='r' begin='0.8s' dur='1.2s' keyTimes='0; 0.25; 0.5; 1' repeatCount='indefinite' values='8; 16; 8; 8'/%3E%3C/circle%3E%3C/svg%3E");
		height: 32px;
		width: 96px;
		margin: 34px auto;
		content: '';
		display: block;

	}

}

.insights-catalog {

	&__counter {

		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.25px;
		margin: 15px 0;

	}

	&__list {

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px 34px;
		margin-bottom: 34px;

		&.is-empty {

			display: block;
			margin-bottom: 0;

		}

	}

	&__item {

		display: flex;

	}

	&-item {

		background: #fff;
		box-shadow: 0px 3px 10px rgba(0, 32, 51, 0.12);
		border-radius: 3px;
		display: flex;
		flex-grow: 1;

		&__head {

			width: 220px;
			flex-shrink: 0;
			position: relative;
			overflow: hidden;
			background-color: #d2d2d2;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 24px;

			img {

				width: 100%;
				height: 100%;
				object-fit: contain;
				box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.25);

			}

			&::before {

				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				content: '';
				border-style: solid;
				border-color: #ebebeb transparent transparent #ebebeb;
				border-width: 128px 120px;

			}

		}

		&__preview {

			position: relative;

		}

		&__btn {

			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;

		}

		&__request,
		&__download {

			line-height: 38px;
			display: block;
			font-weight: 500;
			font-size: 14px;
			letter-spacing: 1.25px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			background-color: rgba(var(--blueRGB), 0.8);
			transition: var(--transitionDefault);
			width: 100%;

			&:hover {

				background-color: var(--blue);

			}

		}

		&__request {

			background-color: rgba(104, 104, 104, 0.8);

			&:hover {

				background-color: rgba(104, 104, 104, 1);

			}

		}

		&__body {

			flex-grow: 1;
			padding: 12px 14px 12px 34px;
			display: flex;
			flex-direction: column;

		}

		&__category {

			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			letter-spacing: 0.1px;
			color: rgba(var(--colorRGB), 0.4);
			margin-bottom: 8px;

		}

		&__name {

			font-size: 20px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0.15px;
			margin-bottom: 21px;

		}

		&__param {

			margin-bottom: 21px;
			font-weight: 300;
			font-size: 14px;
			line-height: 20px;
			letter-spacing: 0.25px;
			color: rgba(var(--colorRGB), 0.8);
			display: table;
			align-self: flex-start;

			&-row {

				display: table-row;

			}

			dt, dd {

				display: table-cell;

			}

			dt {

				padding-right: 24px;

			}

		}

		&__foot {

			margin-top: auto;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

		}

	}

	&__empty {

		text-align: center;
		font-size: 14px;
		font-weight: 300;
		line-height: 20px;
		letter-spacing: 0.1px;
		margin-top: 36px;

		a {

			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.15px;

		}

		img {

			margin: 48px auto 0;

		}

	}

}

.insights-item {

	margin-bottom: 34px;

	&__header {

		background-color: rgba(12, 103, 211, 0.8);
		position: relative;
		min-height: 280px;
		color: #fff;
		padding-bottom: 13px;

	}

	&__bg {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		display: flex;
		justify-content: center;
		pointer-events: none;
		background-color: #0c67d3;

		img {

			position: relative;
			top: -256px;

		}

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background-color: rgba(12, 103, 211, 0.8);

		}

	}

	&__back {

		padding: 55px 0 34px;
		display: flex;
		margin-left: 78px;

	}

	&__flex {

		display: flex;

	}

	&__left {

		width: 378px;
		margin-left: 78px;
		margin-right: 75px;
		flex-shrink: 0;

	}

	&__right {

		flex-grow: 1;

	}

	&__img {

		height: 0;

		&-bg {

			box-shadow: 0 4px 4px rgba(0, 32, 51, 0.04), 0 8px 24px rgba(0, 32, 51, 0.12);
			background-color: #d2d2d2;
			position: relative;
			overflow: hidden;
			padding: 38px;
			display: flex;
			justify-content: center;

			&::before {

				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 0;
				content: '';
				border-style: solid;
				border-color: #ebebeb transparent transparent #ebebeb;
				border-width: 228px 189px;

			}

		}

		img {

			background-color: #fff;
			box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);

		}

	}

	&__category {

		display: flex;

		p {

			font-size: 14px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: 0.1px;
			background-color: #4B90E1;
			border-radius: 5px;
			padding: 5px 16px;

		}

	}

	&__title {

		font-weight: bold;
		font-size: 24px;
		line-height: 40px;
		margin: 7px 0;
		max-width: 640px;

	}

	&__gost {

		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.15px;
		opacity: .6;

	}

	&__body {

		padding: 34px 0;
		min-height: 480px;

	}

	&__param {

		margin-bottom: 26px;
		font-weight: 300;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.15px;
		color: rgba(11, 35, 58, 0.8);
		display: table;

		&-row {

			display: table-row;

		}

		dt, dd {

			display: table-cell;

		}

		dt {

			padding-right: 14px;

		}

	}

	&__text {

		margin: 26px 0;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		letter-spacing: 0.15px;
		max-width: 695px;
		opacity: .8;

		h2 {

			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
			margin: 26px 0 7px;
			letter-spacing: 0.1px;

		}

		h2 + p {

			margin-top: 0;

		}

		p {

			margin-top: 24px;

		}

		ul {

			li {

				list-style-position: inside;
				list-style-type: disc;
				margin: 0 8px;

			}

		}

		b {

			font-weight: 500;

		}

	}

	&__sep {

		margin: 34px 0;

	}

	&__foot {

		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	&__lang {

		display: flex;
		align-items: center;
		justify-content: space-between;

		&-label {

			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			letter-spacing: 0.15px;
			margin-right: 22px;

		}

		.checkbox {

			& + .checkbox {

				margin-left: 50px;

			}

			&__control {

				font-size: 16px;
				font-weight: 300;
				line-height: 24px;
				letter-spacing: 0.15px;
				color: rgba(11, 35, 58, 0.4);

			}

			&__input:checked + .checkbox__label {

				color: var(--blue);

			}

		}

	}

	&__btns {

		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: 26px;

		.form-add-favourite {

			svg {

				fill: var(--color);
				opacity: .12;

			}

		}

	}

	&__download {

		.btn {

			min-width: 220px;

		}

	}

}

.insights-item-picture-html {

	background-color: #fff;
	text-align: center;
	padding: 34px 30px;
	position: relative;
	height: 424px;
	border-bottom: 12px solid var(--blue);
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
	color: var(--color);
	flex-grow: 1;

	hr {

		margin: 26px 0 52px;
		height: 1px;

	}

	&__gost {

		opacity: .8;
		font-size: 12px;
		line-height: 14px;

	}

	&__title {

		margin: 10px 0;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;

	}

	&__category {

		opacity: .8;
		font-weight: 300;
		font-size: 10px;
		line-height: 16px;
		letter-spacing: 0.4px;

	}

	&__lang {

		position: absolute;
		left: 0;
		right: 0;
		bottom: 9px;
		opacity: .4;
		font-weight: 300;
		font-size: 9px;
		letter-spacing: 0.4px;

	}

}

.insights-ajax {

	display: flex;
	justify-content: center;
	margin: 46px 0;

}

*/