.key-value {

	&--in-accordion {

		margin: 4px 0 8px 38px;

	}

	&__item {

		display: flex;
		font-size: 16px;
		line-height: 19px;

		& + & {

			margin-top: 18px;

		}

	}

	&__key {

		color: #8f8fae;
		padding-right: 12px;

	}

	&__value {

		&--bold {

			font-weight: 700;

		}

		.tooltip-title--chat,
		.tooltip-help--chat {

			display: inline-block;
			vertical-align: middle;
			margin-left: 12px;
			height: 18px;
			width: 24px;

			svg {

				top: -4px;

			}

		}

	}

	/* table */

	&--table {

		display: table;

	}

	&--table &__item {

		display: table-row;

	}

	&--table &__key,
	&--table &__value {

		display: table-cell;
		vertical-align: top;
		padding-top: 16px;
		padding-bottom: 16px;

	}

	&--table &__key {

		padding-right: 16px;

		&--pt25 {

			padding-top: 25px;

		}

		&--middle {

			vertical-align: middle;

		}

	}

	&--table &__item--expert &__key,
	&--table &__item--expert &__value {

		padding-top: 22px;
		padding-bottom: 34px;

	}

	&--table &__value {

		width: 320px;

		.file-input {

			max-width: 320px;

		}

	}

}