.left-bar {

	background-color: var(--color);
	box-shadow: 0px 10px 24px rgba(4, 0, 77, 0.06);
	border-radius: 0 0 6px 0;

	@media (min-height: 700px) and ($desktop) {

		border-radius: 0;
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;

	}

	@media ($mdWidth) {

		min-height: 0;
		border-radius: 0;
		width: 100%;
		box-shadow: none;
		display: flex;
		flex-direction: column;

	}

	&__top {

		padding: 26px 40px 24px;
		flex-shrink: 0;

	}

	&__logo {

		font-size: 24px;
		font-weight: 700;
		transition: .3s ease;
		color: #fff;

		&-first {

			color: var(--text);
			transition: .3s ease;

		}

		@media ($desktop) {

			&:hover {

				color: var(--text);

			}

			&:hover &-first {

				color: #fff;

			}

		}

	}

	&__body {

		padding: 0 40px;
		flex-shrink: 0;

		@media ($mdWidth) {

			padding: 0 20px;
			display: flex;
			flex-direction: column;

		}

		hr {

			background-color: color(#fff a(10%));

		}

	}

	&__bottom {

		margin-top: auto;
		background-color: color(#fff a(10%));
		flex-shrink: 0;
		padding: 35px 40px;
		display: flex;
		align-items: center;

		@media ($mdWidth) {

			padding: 30px 20px;

		}

	}

	&__user {

		margin: 24px 0;
		color: #fff;

		.user__mail {

			color: rgba(255, 255, 255, 0.6);

		}

	}

	&__balance {

		margin: 26px -20px;

		@media ($mdWidth) {

			margin: -58px 0 12px auto;
			order: -1;

		}

	}

	&__menu {

		margin: -7px 0 22px;

	}

	&__exit {

		margin: 26px 0;

	}

	&__btn-toggle {

		padding: 3px;
		flex-shrink: 0;
		fill: #e8edf0;
		transition: .3s ease;

		@media ($desktop) {

			&:hover {

				fill: #fff;

			}

		}

	}

	&__short-show {

		display: none;

	}

	@media ($desktop) {

		.menu-show & {

			&__top {

				padding: 26px 0 24px;
				flex-shrink: 0;
				text-align: center;

			}

			&__short-hide {

				display: none;

			}

			&__short-show {

				display: block;

			}

			&__user {

				margin: 24px -8px;

			}

			&__menu {

				margin: 16px -8px 22px;

				svg {

					margin: auto;

				}

			}

			.btn--exit {

				padding: 0;
				width: 24px;

				svg {

					left: 2px;

				}

			}

			&__btn-toggle {

				transform: scaleX(-1);

			}

		}

	}

}

@media ($desktop) {

	.menu-show {

		.main__left {

			width: 104px;

		}

		.main__right {

			width: calc(100% - 104px);

		}

	}

}