.left {

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	--color: #687b8f;
	background-color: #0e2d4a;

	&__top {

		padding: 30px 0;
		flex-shrink: 0;

		@media (min-height: 800px) {

			position: sticky;
			top: 0;

		}

	}

	&__bottom {

		padding: 40px;
		margin-top: auto;
		flex-shrink: 0;

	}

	&__logo {

		margin-left: 40px;
		margin-bottom: 34px;
		display: flex;

	}

	&__menu {

		flex-shrink: 0;

	}

}