.list-card {

	&__item {

		border-radius: 3px;
		box-shadow: var(--box-shadow-dark);
		padding: 20px;
		position: relative;

		@media ($smWidth) {

			padding: 20px 12px;

		}

		& + & {

			margin-top: 18px;

			@media ($smWidth) {

				margin-top: 12px;

			}

		}

	}

	&__name {

		font-size: 16px;
		line-height: 19px;
		margin: 2px 0 14px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 16px;
			margin: 0 0 10px;

		}

	}

	&__head {

		display: flex;
		flex-wrap: wrap;
		margin: 2px 0 12px;

		&--certificates {

			@media ($smWidth) {

				display: block;
				position: relative;

			}

		}

		&--certificates &-download {

			@media ($smWidth) {

				position: absolute;
				top: 0;
				right: 0;
				padding: 0;

			}

		}

		&--certificates &-name {

			@media ($smWidth) {

				margin-right: 36px;
				margin-bottom: 6px;

			}

		}

		&-name {

			font-weight: bold;
			font-size: 14px;
			line-height: 20px;
			margin-right: 10px;

		}

		&-download {

			flex-shrink: 0;
			padding-right: 10px;

		}

		&-date {

			color: var(--grey);
			margin-left: auto;
			font-weight: 500;
			font-size: 12px;
			line-height: 20px;
			padding-left: 22px;
			background-repeat: no-repeat;
			background-position: left;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath fill='%238F8FAE' d='M9 14.44A5.44 5.44 0 109 3.55a5.44 5.44 0 000 10.9zM9 16A7 7 0 119 2a7 7 0 010 14z'/%3E%3Cpath fill='%238F8FAE' d='M8.28 9.3c.04.09.1.17.17.25l2.07 2.07a.78.78 0 001.1-1.1L9.78 8.68v-2.8a.78.78 0 10-1.56 0V9c0 .1.02.21.06.3zm5.1-4.72zM2.78 9zm1.84 4.42zm8.87-.12zM2.78 9z' clip-rule='evenodd'/%3E%3C/svg%3E");

			&.is-green {

				color: var(--green);
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath fill='%2336B37E' d='M9 14.44A5.44 5.44 0 109 3.55a5.44 5.44 0 000 10.9zM9 16A7 7 0 119 2a7 7 0 010 14z'/%3E%3Cpath fill='%2336B37E' d='M8.28 9.3c.04.09.1.17.17.25l2.07 2.07a.78.78 0 001.1-1.1L9.78 8.68v-2.8a.78.78 0 10-1.56 0V9c0 .1.02.21.06.3zm5.1-4.72zM2.78 9zm1.84 4.42zm8.87-.12zM2.78 9z' clip-rule='evenodd'/%3E%3C/svg%3E");

			}

		}

	}

	&-ajax {

		display: flex;
		margin-top: 30px;
		justify-content: center;

		.link {

			color: var(--blue);
			font-size: 14px;

		}

	}

}

/* Отзывы */

.review-item-list {

	padding: 24px 20px;
	display: flex;

	&__photo {

		width: 40px;
		margin-right: 8px;
		flex-shrink: 0;

		img {

			border-radius: 50%;

		}

	}

	&__ratio {

		flex-shrink: 0;
		margin: 0 0 0 8px;

	}

	&__head {

		display: flex;
		flex-wrap: wrap;
		margin: 4px 0 6px;
		font-size: 12px;
		line-height: 14px;

	}

	&__name {

		font-weight: bold;
		margin-right: 10px;
		font-size: 12px;
		line-height: 14px;

	}

	&__status {

		font-weight: 500;
		display: flex;

		&::before {

			content: '(';

		}

		&::after {

			content: ')';

		}

	}

	&__date {

		color: var(--grey);
		display: flex;

		&::before {

			content: '•';
			margin: 0 8px;

		}

	}

	&__text {

		font-size: 14px;
		line-height: 1.4;

	}

}

/* Опыт/референция */

.experience-item-list {

	&__head {

		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;

	}

	&__name {

		font-weight: bold;
		font-size: 16px;
		line-height: 23px;
		margin-right: 10px;

	}

	&__param {

		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		line-height: 14px;
		color: var(--grey);
		margin: 4px -2px;

		&-item {

			display: flex;
			margin: 2px;

			&:first-child::before {

				content: '(';

			}

			&::after {

				content: ',';

			}

			&:last-child::after {

				content: ')';

			}

		}

		&-key {

			display: flex;

			&::after {

				content: '=';
				margin: 0 3px;

			}

		}

		&-value {

			color: var(--color);

		}

	}

	&__body {

		display: flex;

	}

	&__img {

		width: 62px;
		margin-right: 14px;
		flex-shrink: 0;

		@media ($smWidth) {

			width: 40px;
			margin-right: 12px;

			img {

				width: 40px;
				height: 40px;

			}

		}

		img {

			border-radius: 50%;
			box-shadow: 0 0 4px color(var(--text) a(16%));

		}

	}

}