.map-form {

	position: relative;
	background-color: #fff;

	@media ($smWidth) {

		margin: 40px 0;
		background-color: transparent;

	}

	&__map {

		position: absolute;
		width: calc(50% + 48px);
		top: 0;
		left: 0;
		bottom: 0;
		background-color: #efefef;
		overflow: hidden;

		@media ($mdWidth) {

			display: none;

		}

		#map {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

		}

		[class$="-ground-pane"] {

			filter: grayscale(100%);

		}

	}

	&__flex {

		display: flex;
		justify-content: flex-end;

		@media ($mdWidth) {

			justify-content: center;

		}

	}

	&__form {

		padding: 82px 0 100px;
		width: 356px;

		@media ($mdWidth) {

			padding: 0 0 60px;

		}

		@media ($smWidth) {

			padding: 0;

		}

	}

	&__title {

		margin: 14px 0;

		@media ($mdWidth) {

			text-align: center;

		}

		@media ($smWidth) {

			margin: 0;

		}

	}

	&__intro {

		font-size: 14px;
		line-height: 20px;
		color: var(--grey);
		max-width: 350px;
		margin: 14px 0 37px;

		@media ($mdWidth) {

			text-align: center;

		}

		@media ($smWidth) {

			margin: 6px 0 22px;
			line-height: 16px;

		}

	}

	&__input {

		margin: 14px 0;
		position: relative;

		svg {

			position: absolute;
			top: 0;
			left: 8px;
			bottom: 0;
			margin: auto;
			fill: #e1e1ee;
			pointer-events: none;

		}

		input {

			padding-left: 38px;

			&:focus + svg {

				fill: var(--blue);

			}

		}

	}

	&__submit {

		display: flex;
		justify-content: flex-end;
		margin-top: 36px;

		@media ($mdWidth) {

			justify-content: center;
			margin-top: 22px;

		}

		.btn {

			width: 170px;

			@media ($smWidth) {

				width: 100%;

			}

		}

	}

}