.center {

	width: 1274px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 26px;

	&--content {

		width: 1060px;

	}

}

@media ($desktop) {


}

@media ($lgWidth) {


}

@media ($mdWidth) {

	.hidden-md {

		display: none !important;

	}

	.visible-md {

		display: block;

	}

	.center {

		padding: 0 16px;

	}

}

@media ($smWidth) {

	.hidden-sm {

		display: none !important;

	}

	.visible-sm {

		display: block;

	}

}

@media ($xsWidth) {

	.hidden-xs {

		display: none !important;

	}

	.visible-xs {

		display: block;

	}

}