.menu {

	display: flex;

	&__item {

		margin: 12px 25px;

	}

	&__link {

		font-weight: 700;
		transition: var(--transitionDefault);
		border-bottom: 2px solid transparent;
		white-space: nowrap;
		color: var(--color);

		&:hover {

			border-bottom-color: var(--color);

		}

	}

}

.menu-page {

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 6;
	display: flex;

	&__wrap {

		display: flex;
		padding: 70px 0;
		transition: var(--transitionDefault);
		max-width: 84px;
		overflow: hidden;

	}

	&:hover &__wrap {

		background-color: color(var(--silver-dark) a(30%));

	}

	&--dark:hover &__wrap {

		background-color: rgba(255, 255, 255, .3);

	}

	&:hover &__btn {

		opacity: 1;

	}

	&__item {

		position: relative;
		margin: 12px 0;

		&--active {

			&::after {

				position: absolute;
				width: 9px;
				left: 0;
				top: 0;
				bottom: 0;
				background-color: var(--blue);
				border-radius: 6px;
				content: '';
				opacity: 0;
				animation: 1s fadeIn forwards;

			}

		}

	}

	&:hover &__btn {

	}

	&__wrap:hover {

		max-width: 256px;

	}

	&__wrap:hover &__text {

		opacity: 1;

	}

	&__list {


	}

	&--dark &__btn {

		color: #fff;

		svg {

			fill: #fff;

			path[stroke-width] {

				stroke: #fff;

			}

		}

		&:hover {

			color: var(--blue);

			svg {

				fill: var(--blue);

				path[stroke-width] {

					stroke: var(--blue);

				}

			}

		}

	}

	&__btn {

		min-width: 84px;
		overflow: hidden;
		height: 72px;
		padding-left: 72px;
		display: flex;
		align-items: center;
		opacity: 0;
		transition: var(--transitionDefault);
		color: var(--blue);

		&:hover {

			color: var(--blue_dark);

			svg {

				fill: var(--blue_dark);

				path[stroke-width] {

					stroke: var(--blue_dark);

				}

			}

		}

		svg {

			fill: var(--blue);
			position: absolute;
			top: 0;
			left: 30px;
			bottom: 0;
			margin: auto;

			path[stroke-width] {

				stroke: var(--blue);

			}

		}

	}

	&__text {

		font-weight: bold;
		font-size: 14px;
		white-space: nowrap;
		padding-right: 18px;
		opacity: 0;
		transition: var(--transitionDefault);

	}

}

/*
.menu-user {

	display: flex;
	align-items: center;
	background-color: var(--black_dark);
	margin: -26px;
	padding: 13px 18px;
	margin-bottom: 26px;

	&__avatar {

		width: 39px;
		height: 39px;
		border-radius: 50%;
		box-shadow: 0px 0px 4px rgba(155, 155, 184, 0.16);
		text-align: center;
		text-transform: uppercase;
		line-height: 39px;
		font-size: 16px;
		font-weight: 700;
		flex-shrink: 0;

		&--blue {

			color: #fff;
			background-image: linear-gradient(to bottom, var(--blue), var(--blue_dark));

		}

	}

	&__name {

		font-weight: 700;
		font-size: 14px;
		color: var(--snow);
		margin-left: 10px;

	}

}

.menu-tab {

	position: relative;

	&::before {

		position: absolute;
		width: 4px;
		top: 0;
		left: 0;
		bottom: 0;
		content: '';
		background-color: var(--border);
		border-radius: 2px;

	}

	&__link {

		display: block;
		line-height: 55px;
		padding-left: 30px;
		color: var(--text);
		transition: var(--transitionDefault);

		&::before {

			position: absolute;
			width: 4px;
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			background-color: var(--blue);
			border-radius: 2px;
			opacity: 0;
			transition: var(--transitionDefault);

		}

		&.is-active {

			color: var(--color);

			&::before {

				opacity: 1;

			}

		}

	}

}
*/

@keyframes fadeIn {

	to {

		opacity: 1;

	}

}

.menu-tags {

	display: flex;

	&__section {

		margin-right: 40px;
		position: relative;

	}

	&__btn {

		display: flex;

		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: #fff;

		.catalog & {

			color: var(--black_dark);

			svg {

				fill: var(--grey);

			}

		}

		svg {

			fill: var(--silver-dark);
			margin-right: 4px;

		}

	}

	&__box {

		display: none;
		position: absolute;
		min-width: 178px;
		top: 100%;
		left: 0;
		margin-top: 20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 -1px 2px color(var(--text) a(13%)), var(--box-shadow);
		padding: 12px 0;
		z-index: 7;

		&::after {

			position: absolute;
			width: 12px;
			height: 12px;
			top: -4px;
			left: 26px;
			content: '';
			background-color: #fff;
			transform: rotate(45deg);

		}

	}

	&__section:hover &__btn {

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: -12px;
			bottom: -22px;
			content: '';

		}

		&::before {

			position: absolute;
			width: 12px;
			height: 12px;
			top: 100%;
			margin-top: 16px;
			left: 26px;
			content: '';
			transform: rotate(45deg);
			box-shadow: 0 -1px 2px color(var(--text) a(13%)), var(--box-shadow);

		}

		&-text {

			text-decoration: underline;

		}

	}

	&__section:hover &__box {

		display: block;

		&--row {

			display: flex;

		}

	}

	&__list {

		&--bold {

			font-weight: bold;

		}

	}

	&__item {

		a {

			font-size: 12px;
			line-height: 19px;
			color: var(--black_dark);
			padding: 3px 22px;
			display: block;

			&:hover {

				color: var(--blue);

			}

		}

	}

	&__col {

		min-width: 128px;

	}

	&__head {

		font-weight: bold;
		font-size: 12px;
		line-height: 19px;
		color: var(--black_dark);
		padding: 3px 22px;
		white-space: nowrap;

	}

}