.menu {

	display: flex;

	@media ($mdWidth) {

		display: block;
		padding: 4px 0;

	}

	&__item {

		margin: 12px 25px;

		@media ($mdWidth) {

			margin: 18px 0;
			font-size: 12px;
			line-height: 16px;
			color: var(--grey);

			&.visible-md {

				color: #fff;

				& + & {

					margin-top: 26px;

				}

			}

			&.visible-md + &:not(.visible-md) {

				margin-top: 22px;

				&::before {

					height: 1px;
					content: '';
					display: block;
					opacity: .05;
					background-color: var(--light);
					margin-bottom: 18px;

				}

			}

		}

	}

	&__link {

		font-weight: 700;
		transition: var(--transitionDefault);
		border-bottom: 2px solid transparent;
		white-space: nowrap;
		color: var(--color);

		@media ($desktop) {

			&:hover {

				border-bottom-color: var(--color);

			}

		}

		@media ($mdWidth) {

			color: inherit;

		}

	}

}

.menu-left {

	margin: 4px 0;

	&__item {

		& + & {

			margin-top: 20px;

		}

	}

	&__item--notification &__link::after {

		height: 6px;
		width: 6px;
		border-radius: 3px;
		background-color: var(--red);
		margin-left: 5px;
		content: '';

	}

	&__item--active &__link {

		color: #fff;

		svg {

			fill: #fff;
			opacity: 1;

		}

	}

	&__link {

		line-height: 16px;
		color: var(--snow);
		display: flex;
		align-items: center;
		position: relative;

		svg {

			fill: var(--snow);
			opacity: .4;
			margin-right: 10px;

		}

		&::before {

			position: absolute;
			top: -6px;
			left: -26px;
			right: -26px;
			bottom: -6px;
			content: '';
			z-index: -1;
			background-color: var(--black_dark);
			opacity: 0;
			transition: opacity var(--transitionDefault);

		}

		&:hover::before {

			opacity: 1;

		}

	}

	&__sub {

		position: relative;
		padding-left: 34px;
		margin: 22px 0;

		&::after {

			position: absolute;
			width: 1px;
			top: -12px;
			left: 11px;
			bottom: 7px;
			content: '';
			background-color: var(--snow);
			opacity: .4;

		}

		&-item {

			& + & {

				margin-top: 24px;

			}

		}

		&-link {

			line-height: 16px;
			color: var(--snow);
			display: block;

			&::after {

				position: absolute;
				width: 9px;
				height: 1px;
				top: 8px;
				left: -22px;
				content: '';
				background-color: var(--snow);
				opacity: .4;

			}

			&::before {

				position: absolute;
				top: -6px;
				left: -60px;
				right: -26px;
				bottom: -6px;
				content: '';
				z-index: -1;
				background-color: var(--black_dark);
				opacity: 0;
				transition: opacity var(--transitionDefault);

			}

			&:hover::before {

				opacity: 1;

			}

		}

	}

}

.menu-user {

	display: flex;
	align-items: center;
	background-color: var(--black_dark);
	margin: -26px;
	padding: 13px 18px;
	margin-bottom: 26px;

	&__avatar {

		width: 39px;
		height: 39px;
		border-radius: 50%;
		box-shadow: 0px 0px 4px rgba(155, 155, 184, 0.16);
		text-align: center;
		text-transform: uppercase;
		line-height: 39px;
		font-size: 16px;
		font-weight: 700;
		flex-shrink: 0;

		&--blue {

			color: #fff;
			background-image: linear-gradient(to bottom, var(--blue), #0066DF);

		}

	}

	&__name {

		font-weight: 700;
		font-size: 14px;
		color: var(--snow);
		margin-left: 10px;

	}

}

.menu-tab {

	position: relative;

	&::before {

		position: absolute;
		width: 4px;
		top: 0;
		left: 0;
		bottom: 0;
		content: '';
		background-color: var(--border);
		border-radius: 2px;

	}

	&__link {

		display: block;
		line-height: 55px;
		padding-left: 30px;
		color: var(--text);
		transition: var(--transitionDefault);

		&::before {

			position: absolute;
			width: 4px;
			top: 0;
			left: 0;
			bottom: 0;
			content: '';
			background-color: var(--blue);
			border-radius: 2px;
			opacity: 0;
			transition: var(--transitionDefault);

		}

		&.is-active {

			color: var(--color);

			&::before {

				opacity: 1;

			}

		}

	}

}