.modal {

	flex-grow: 1;
	position: relative;
	z-index: 10;
	display: none;
	width: 100%;
	justify-content: center;
	align-items: center;

	&--fullscreen {

		justify-content: stretch;
		align-items: stretch;

	}

	&--fullscreen &__box {

		padding: 0 !important;
		flex-grow: 1;
		display: flex;

	}

	&--fullscreen &__close-btn {

		top: 50px;
		right: 50px;
		transform: scale(1.2);

		svg {

			fill: var(--color);

		}

	}


	&__box {

		position: relative;
		padding: 50px 40px;

		@media ($smWidth) {

			padding: 70px 20px;

		}

		@media ($xsWidth) {

			padding: 70px 0 0;

		}

	}

	&__bg {

		position: absolute;
		top: 80px;
		left: 0;
		right: 0;
		pointer-events: none;

		@media ($smWidth) {

			top: 110px;
			left: 10px;

		}

		@media ($xsWidth) {

			display: none;

		}

	}

	&__item {

		position: relative;
		box-shadow: 0px 10px 24px rgba(4, 0, 77, 0.06);
		border-radius: 6px;
		padding: 36px 100px 100px;
		width: 560px;
		background-color: #fff;

		@media ($smWidth) {

			padding: 20px;
			width: 320px;

		}

		@media ($xsWidth) {

			box-shadow: none;
			border-radius: 0;

		}

		&--info {

			padding: 54px 60px 60px;

			@media ($smWidth) {

				padding: 20px;
				text-align: center;
				width: 100%;
				max-width: 400px;

			}

		}

		&--input-file {

			padding: 0 !important;
			width: 100vw !important;
			max-width: 100%;
			display: flex;
			border-radius: 0;

		}

		&--bg {

			padding: 32px 90px 26px;
			width: 580px;
			min-height: 580px;
			background-color: #eff2f5;

			@media ($smWidth) {

				padding: 20px;
				width: 320px;
				min-height: 540px;

			}

			@media ($xsWidth) {

				min-height: 0;

			}

		}

	}

	&__close-btn {

		position: absolute;
		width: 20px;
		height: 20px;
		top: 6px;
		right: 38px;
		z-index: 1;

		@media ($smWidth) {

			top: 26px;
			right: 18px;

		}

		svg {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			transition: .3s;
			fill: #fff;

		}

	}

	&__head {

		text-align: center;
		margin-bottom: 25px;

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: 0.8;
			z-index: 9;
			background-color: var(--color);

		}

	}

}

.modal-form {

	&__title {

		margin-bottom: 44px;

		@media ($smWidth) {

			margin-bottom: 20px;

		}

	}

	&__input {

		margin: 24px 0;

		@media ($smWidth) {

			margin: 20px 0;

		}

	}

	&__text {

		margin: 20px 0;
		color: var(--text);

		&--14 {

			font-size: 14px;
			line-height: 20px;
			margin: 10px 0;

		}

	}

	&__submit {

		margin-top: 26px;
		width: 100%;

		@media ($smWidth) {

			display: block;

			.btn {

				width: 100%;

			}

		}

	}

	&__btn-center {

		display: flex;
		justify-content: center;
		margin-top: 26px;

		@media ($smWidth) {

			display: block;

			.btn {

				width: 100%;

				& + .btn {

					margin: 10px 0;

				}

			}

		}

	}

	&__btns {

		display: flex;
		justify-content: space-between;

		@media ($smWidth) {

			display: block;

			.btn {

				width: 100%;

				& + .btn {

					margin: 10px 0;

				}

			}

		}

		.btn {

			width: calc(50% - 10px);

		}

		&-3 {

			display: flex;
			justify-content: space-between;

			.btn + .btn {

				margin-left: 20px;

				@media ($smWidth) {

					margin: 10px 0;

				}

			}

			@media ($smWidth) {

				display: block;

				.btn {

					width: 100%;

				}

			}

		}

	}

	&__copyright {

		text-align: center;
		font-size: 12px;
		line-height: 20px;
		color: color(var(--color) a(30%));
		margin-top: 25px;

		@media ($smWidth) {

			margin-top: 16px;

		}

	}

}

.modal-report {

	&__radio {

		display: flex;
		justify-content: space-between;
		margin: 24px 0;

		@media ($smWidth) {

			display: block;

		}

		&-input {

			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.0001;

		}

		&-input:checked ~ &-text::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			border: 2px solid var(--blue);
			border-radius: 6px;

		}

		&-item {

			width: 190px;
			box-shadow: 0px 10px 24px rgba(4, 0, 77, 0.06);
			border-radius: 6px;
			background-color: #fff;
			position: relative;
			padding: 30px 25px 25px;
			text-align: center;
			cursor: pointer;

			@media ($smWidth) {

				width: 100%;
				height: 90px;
				margin-top: 20px;
				padding: 0 10px 0 85px;
				display: flex;
				align-items: center;
				text-align: left;

			}

		}

		&-ico {

			display: block;
			margin-bottom: 22px;

			@media ($smWidth) {

				position: absolute;
				left: 20px;
				bottom: 0;
				margin: 0;

			}

			svg {

				display: block;
				margin: auto;

			}

		}

		&-text {

			color: var(--text);
			line-height: 20px;
			font-size: 14px;
			display: block;

			b {

				display: block;
				line-height: 23px;

			}

		}

	}

}

/* modal-share */

.modal-share {

	@media ($smWidth) {

		.user__img img {

			width: 60px;
			height: 60px;

		}

	}

	&__account-stat {

		box-shadow: 0px 10px 24px rgba(4, 0, 77, 0.06);
		border-radius: 6px;
		background-color: #fff;
		margin: 50px 0 20px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@media ($smWidth) {

			margin: 20px 0;
			display: block;

		}

		&-item {

			width: 50%;
			text-align: center;
			position: relative;
			margin: 12px 0 34px;

			@media ($smWidth) {

				width: auto;
				margin: 0 20px;
				text-align: left;
				border-top: 2px solid var(--border);
				padding: 17px 0 20px 60px;

				&:first-child {

					border-top: 0;

				}

				.h1, .h2 {

					font-size: 16px !important;
					line-height: 20px !important;

				}

			}

			&--total {

				width: 100%;
				margin: -40px 0 0;

			}

			&--border-left::before {

				position: absolute;
				width: 2px;
				top: 13px;
				left: -1px;
				bottom: 5px;
				content: '';
				background-color: var(--border);

				@media ($smWidth) {

					display: none;

				}

			}

		}

		&-value {

			width: 40px;
			height: 40px;
			line-height: 40px;
			font-weight: 500;
			font-size: 12px;
			color: #fff;
			margin: 13px auto;
			border-radius: 6px;
			text-align: center;

			@media ($smWidth) {

				width: 40px !important;
				height: 40px !important;
				line-height: 40px !important;
				font-size: 12px !important;
				margin: 0 !important;
				position: absolute;
				top: 18px;
				left: 0;

			}

			&--red {

				background-color: var(--red);

			}

		}

		&-head {

			font-size: 14px;
			line-height: 20px;
			color: var(--text);
			margin-top: 2px;

			@media ($smWidth) {

				margin-top: 0;

			}

		}

		&-item--total &-value {

			width: 80px;
			height: 80px;
			font-size: 24px;
			line-height: 80px;
			margin-bottom: 20px;

		}

		&-item--total &-head {

			margin-top: 0;

		}

	}

}

/* modal-input-file */

.modal-input-file {

	position: relative;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	display: flex;
	width: 100%;
	padding: 20px;

	&__control {

		position: absolute;
		top: 0;
		left: 0;
		font-size: 9999px;
		cursor: pointer;
		opacity: .00001;

	}

	&.is-dragenter &__inner,
	&:hover &__inner {

		border: 2px dashed color(var(--text) a(100%));

	}

	&__inner {

		border: 2px dashed color(var(--text) a(50%));
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		border-radius: 6px;

	}

	&__body {

		flex-grow: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}

	&__head {

		margin-bottom: 14px;
		font-size: 20px;

	}

	&__footer {

		flex-shrink: 0;
		font-size: 14px;
		line-height: 20px;
		color: var(--text);
		width: 420px;
		max-width: 100%;
		padding: 23px;

	}

	&__ico {

		margin: 24px 0 22px;

	}

}