.news {

	position: relative;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;

	.center {

		display: flex;

	}

	&__bg {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		overflow: hidden;
		pointer-events: none;
		display: flex;
		align-items: center;
		justify-content: center;
		/* background-color: #fff; */

		img {

			position: relative;
			top: -655px;
			left: 50%;
			margin-left: -490px;

		}

	}

	&__box {

		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 48px 65px 0;

	}

	&__content {

		width: 540px;
		padding-bottom: var(--footerHeight);

	}

	&__swiper {

		outline:1px solid red;
		margin: 44px 0;

	}

	&-big {

		&__head {

			display: block;
			overflow: hidden;
			height: 380px;

			img {

				object-fit: cover;
				transition: var(--transitionDefault);

			}

			@media ($desktop) {

				&:hover img {

					transform: scale(1.05);

				}

			}

		}

		&__body {

			padding: 35px 52px;

		}

		&__title {

			font-weight: 700;
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 12px;

			a {

				color: var(--color);

			}

		}

		&__text {

			font-weight: 300;
			letter-spacing: 0.15px;
			font-size: 16px;
			line-height: 22px;
			color: #3c4f62;
			margin-bottom: 20px;

		}

		&__date {

			display: block;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			letter-spacing: 1.5px;
			color: #A6B1B8;
			margin-bottom: 10px;
			text-transform: uppercase;

		}

		&__time {

			font-style: italic;
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 0.1px;

		}

	}

	&__scroll {

		width: 608px;
		flex-shrink: 0;
		outline:1px solid red;
		margin-top: 116px;

		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: rgba(11, 35, 58, 0.4) #DDE1EB;

		&::-webkit-scrollbar {

			width: 4px;
			border-radius: 2px;
			background-color: #DDE1EB;

		}

		&::-webkit-scrollbar-thumb {

			border-radius: 2px;
			background-color: rgba(11, 35, 58, 0.4);

		}

	}

	&__list {

		padding-bottom: 116px;
		width: 413px;

	}

	&-list {

		&__item {

			display: flex;
			margin-bottom: 40px;
			color: var(--color);

		}

		&__head {

			width: 255px;
			margin-right: 25px;
			flex-shrink: 0;
			overflow: hidden;

			img {

				object-fit: cover;
				transition: var(--transitionDefault);

			}

			@media ($desktop) {

				&:hover img {

					transform: scale(1.05);

				}

			}

		}

		&__name {

			font-weight: 500;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 0.15px;
			margin-bottom: 6px;

		}

		&__desc {

			font-weight: 300;
			letter-spacing: 0.1px;
			font-size: 14px;
			line-height: 20px;
			color: #3c4f62;
			margin-bottom: 5px;

		}

		&__date {

			display: block;
			font-size: 16px;
			font-weight: 300;
			line-height: 24px;
			letter-spacing: 1.5px;
			color: #A6B1B8;
			margin-bottom: 10px;
			text-transform: uppercase;

		}

		&__time {

			font-style: italic;
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 0.1px;

		}

	}

}