.notification {

	position: fixed;
	top: var(--headerHeight);
	left: 0;
	right: 0;
	z-index: 30;

	&__message {

		padding: 16px;
		position: absolute;
		max-width: 412px;
		top: 16px;
		right: var(--indent);
		background-color: #fff;
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		box-shadow: 0px 4px 4px rgba(0, 32, 51, 0.04), 0px 8px 24px rgba(0, 32, 51, 0.12);
		border-radius: 8px;
		border-left: 8px solid #f2c94c;
		opacity: 0;
		transform: translate3d(var(--indent), 0, 0);
		transition: opacity var(--transitionDefault), transform var(--transitionDefault) var(--transitionDefault);
		pointer-events: none;
		cursor: pointer;

	}

	&.is-show &__message {

		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: var(--transitionDefault);
		pointer-events: auto;

	}

}