.pagin {

	margin: 60px 0;
	display: flex;
	justify-content: flex-end;

	@media ($smWidth) {

		margin: 30px 0 40px;

	}

	&__item {

		&--current {

			border-radius: 3px;
			background-color: var(--blue);
			color: #fff;
			pointer-events: none;

		}

		svg {

			fill: var(--grey);

		}

		&--sep {

			svg {

				fill: var(--color);

			}

		}

	}

	&__link {

		color: inherit;
		display: block;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		font-size: 14px;

		svg {

			fill: var(--color);

		}

		&:hover {

			color: var(--grey);

			svg {

				fill: var(--grey);

			}

		}

	}

}