.pagin {

	margin: 10px 0;
	display: flex;
	justify-content: center;

	@media ($smWidth) {

	}

	&__item {

		&--current {

			background-color: rgba(0, 66, 105, 0.07);

		}
/*
		svg {

			fill: var(--grey);

		}

		&--sep {

			svg {

				fill: var(--color);

			}

		} */

	}

	&__link {

		color: rgba(var(--colorRGB), 0.8);
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 16px;
/*
		svg {

			fill: var(--color);

		}
 */
		&:hover {

			color: var(--color);

/* 			svg {

	fill: var(--grey);

}
 */
		}

	}

}