.pagin {

	margin: 10px 0;
	display: flex;
	justify-content: center;

	&__item {

		&--current {

			background-color: rgba(0, 66, 105, 0.07);

		}

		&--next {

			margin-left: 20px;

			@media ($smWidth) {

				display: none;

			}

		}

		&--prev {

			margin-right: 20px;

			@media ($smWidth) {

				display: none;

			}

		}

		&--sep {

			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;

		}

	}

	&__link {

		color: rgba(var(--colorRGB), 0.8);
		min-width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 16px;
		display: flex;
		align-items: center;
		column-gap: 14px;
		justify-content: center;

		svg {

			fill: rgba(var(--colorRGB), 0.8);

		}

		&:hover {

			color: var(--color);

			svg {

				fill: var(--coloe);

			}

		}

	}

}