.pagination {

	display: flex;
	justify-content: center;
	margin-top: 30px;

	@media ($smWidth) {

		margin-top: 20px;

	}

	&__item {

		margin: 0 5px;
		width: 30px;
		height: 30px;
		background-color: #fff;
		box-shadow: 0px 4px 14px rgba(4, 0, 77, 0.08);
		border-radius: 6px;
		text-align: center;
		color: var(--blue);
		line-height: 30px;
		font-size: 14px;

		a {

			color: var(--blue);
			display: block;

		}

		&--sep {

			background-color: transparent;
			box-shadow: none;

		}

		&--current {

			color: #fff;
			background-color: var(--blue);
			box-shadow: none;
			border-radius: 4px;

		}

		&--next,
		&--prev {

			background-color: transparent;
			box-shadow: none;
			width: 40px;

			svg {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				fill: var(--blue);

			}

			a {

				font-size: 0;
				color: transparent;

			}

		}

	}

}