.pickmeup {

	position: absolute;
	touch-action: manipulation;
	padding-top: 10px;
	z-index: 10;

	&.pmu-flat {

		position:relative

	}

	&.pmu-hidden {

		display:none

	}

	.pmu-instance {

		padding: 16px;
		text-align:center;
		width: 320px;
		box-shadow: 0 0 4px color(var(--text) a(13%)), var(--box-shadow);
		border-radius: 6px;
		background-color: #fff;

	}

	nav {

		display: flex;
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		margin: 0 8px 12px;

		.pmu-month {

			flex-grow: 1;

		}

		.pmu-prev,
		.pmu-next {

			height: 24px;
			width: 24px;
			cursor: pointer;
			fill: #a7a7c1;

			&:hover {

				fill: var(--color);

			}

		}

	}

	.pmu-day-of-week {

		margin: 0;
		font-size: 11px;
		line-height: 32px;
		color: var(--text);
		text-transform: uppercase;

		div {

			flex-grow: 1;

		}

	}

	.pmu-disabled {

		pointer-events: none;

	}

	.pmu-years,
	.pmu-months,
	.pmu-days {

		display: flex;
		flex-wrap: wrap;

		.pmu-button {

			line-height: 32px;
			width: calc(100% / 7);
			cursor: pointer;

			&.pmu-not-in-month {

				color: var(--text);

			}

			&.pmu-selected {

				color: var(--blue);
				font-weight: 700;
				box-shadow: inset 0 0 0 2px #99C8FF;
				border-radius: 3px;

			}

			&:hover {

				color: var(--blue);

			}

		}

	}

	.pmu-years,
	.pmu-months {

		.pmu-button {

			line-height: calc(32px * 7 / 3);
			width: 25%;

		}

	}

	.pmu-today {

		position: relative;

		&::after {

			position: absolute;
			height: 2px;
			left: 4px;
			right: 4px;
			bottom: 4px;
			content: '';
			background-color: var(--blue);

		}

	}

	&:not(.pmu-view-days) .pmu-days,
	&:not(.pmu-view-days) .pmu-day-of-week,
	&:not(.pmu-view-months) .pmu-months,
	&:not(.pmu-view-years) .pmu-years {

		display:none

	}

}