.product {

	margin-bottom: 100px;

	.center {

		width: 940px;

	}

	&__body {

		box-shadow: var(--box-shadow);
		background-color: #fff;
		border-radius: 3px;
		padding: 40px;
		position: relative;

	}

	&__heading {

		font-size: 26px;
		font-weight: 700;
		line-height: 1.1;
		color: var(--grey);

	}

	&__head {

		font-size: 22px;
		font-weight: 700;
		line-height: 29px;
		color: var(--grey);

	}

	&__section {

		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		color: var(--grey);
		margin: 40px 0 20px;

	}

	&__text {

		font-size: 18px;
		line-height: 1.6;
		color: var(--black_dark);
		margin: 30px 0;
		max-width: 728px;

	}

	&__header {

		.is-lock & {

			display: none;

		}

	}

	&__footer {

		.is-lock &,
		.is-initial & {

			display: none;

		}

	}

	&__foot {

		display: flex;
		justify-content: space-between;
		margin: 60px 0 -16px;

		.form {

			width: calc(50% - 10px);

		}

		.btn {

			width: 100%;

		}

	}

	&__flex {

		display: flex;
		justify-content: space-between;

		.accordion & {

			margin: 20px -20px 40px;

		}

		&-left {

			width: 294px;
			margin-right: 30px;
			flex-shrink: 0;

			.accordion & {

				width: 254px;

			}

		}

		&-right {

			width: 294px;
			margin-left: 30px;
			flex-shrink: 0;

		}

		&-body {

			flex-grow: 1;

		}

	}

	&__table {

		margin: 30px 0 40px;

	}

	&__experience {

		display: flex;
		align-items: center;

		@media ($smWidth) {

			display: block;

		}

		.product__heading {

			margin-right: 18px;

		}

	}

}

.product-content {

	font-size: 14px;
	line-height: 1.4;

	&__head {

		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		color: var(--grey);
		margin: 20px 0 34px;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 18px;
			margin: 12px 0;

		}

	}

	&__body {

		h3:not([class]) {

			font-size: 14px;
			line-height: 19px;
			margin: 12px 0;

		}

		p {

			margin: 14px 0 20px;

		}

		ul {

			margin: 14px 0 34px;

			@media ($smWidth) {

				margin-bottom: 22px;

				li {

					margin: 12px 0;
					padding-left: 14px;

				}

			}

			li {

				margin: 14px 0;
				padding-left: 16px;

				&::before {

					position: absolute;
					width: 6px;
					height: 6px;
					top: 6px;
					left: 0;
					content: '';
					border-radius: 50%;
					background-color: var(--blue);

				}

			}

		}

		ol {

			margin: 22px 0 36px;
			counter-reset: headings 0;

			@media ($smWidth) {

				margin-bottom: 22px;

			}

			li {

				margin: 14px 0;
				padding-left: 34px;
				counter-increment: headings 1;

				&::before {

					position: absolute;
					top: 0;
					left: 0;
					font-size: 16px;
					line-height: 19px;
					font-weight: 700;
					color: var(--blue);
					content: counter(headings, decimal) '.';

				}

			}

		}

	}

	&__row {

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 20px 0 14px;

		@media ($smWidth) {

			display: block;

			h4 {

				margin-bottom: 6px;

			}

		}

		h4 {

			max-width: 500px;
			font-size: 14px;
			line-height: 1.4;

		}

		.status {

			margin-left: 24px;

			@media ($smWidth) {

				margin: 0;

			}

		}

	}

	/*

	&__status {

		font-weight: 400;
		margin: 14px 0;

	}

	&__standarts {

		color: var(--grey);
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 30px;

		@media ($smWidth) {

			font-size: 14px;
			margin-bottom: 20px;

		}

		b {

			font-weight: 500;

		}

	}
 */
}

.product-stat {

	display: flex;
	justify-content: space-between;
	margin: 20px 0 34px;

	@media ($smWidth) {

		margin: 16px 0;
		display: block;

	}

	&__item {

		width: calc((100% - 46px) / 3);
		border-radius: 3px;
		box-shadow: var(--box-shadow-dark);
		padding: 16px 14px 22px;
		text-align: center;
		display: flex;
		justify-content: flex-start;
		flex-direction: column-reverse;

		@media ($smWidth) {

			width: auto;
			padding: 22px 20px;
			margin: 12px 0;

		}

	}

	&__key {

		color: var(--grey);
		font-size: 14px;
		line-height: 1.4;
		margin-top: 12px;

	}

	&__value {

		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		color: var(--blue);

	}

	&__load {

		font-size: 13px;

	}

}

.product-menu {

	display: flex;
	flex-wrap: wrap;
	margin: 32px -8px -8px;

	&__item {

		width: calc(100% / 3 - 16px);
		position: relative;
		margin: 8px;
		overflow: hidden;
		border-radius: 3px;

	}

	&__ico {

		position: absolute;
		top: 8px;
		right: 8px;
		fill: var(--grey);

	}

	&__name {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: color(var(--color) a(53%));
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		line-height: 25px;

	}

	&__link:hover &__img {

		transform: scale(1.05);

	}

	&__link:hover &__ico {

		fill: #fff;

	}

	&__img {

		object-fit: cover;
		transition: var(--transitionDefault);

	}

}

.product-header {

	padding-bottom: 26px;
	border-bottom: 1px solid var(--silver);
	margin: 6px 0 60px;

	.is-initial & {

		border-bottom: 0;
		padding-bottom: 0;
		margin: 20px 0 56px;

	}

	&__flex {

		display: flex;
		justify-content: space-between;

		.is-initial &--initial-block {

			display: block;

		}

	}

	&__img {

		flex-shrink: 0;
		width: 145px;
		margin-right: 20px;
		position: relative;

		.is-initial & {

			width: 380px;
			margin-right: 0;

		}

	}

	&__content {

		flex-grow: 1;

		.is-initial & {

			max-width: 420px;

		}

	}

	&__photo {

		display: none;

		.is-initial & {

			display: flex;
			justify-content: flex-end;
			align-items: flex-start;

		}

	}

	&__logo-manufacturer {

		position: absolute;
		top: 0;
		left: 0;
		background-color: #fff;
		overflow: hidden;
		box-shadow: -1px -1px 1px color(var(--text) a(13%)), 1px 1px 1px color(var(--text) a(13%));
		border-radius: 3px;
		display: none;

		.is-initial & {

			display: block;

		}

	}

	&__preview {

		.is-initial & {

			display: none;

		}

	}

	&__body {

		flex-grow: 1;
		margin: 15px 20px 24px;

		.is-initial & {

			margin: 2px 0;

		}

	}

	&__foot {

		display: none;

		.is-initial & {

			display: flex;
			justify-content: space-between;

		}

		&-btn {

			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			color: var(--blue);
			display: flex;

			svg {

				margin-right: 8px;

			}

			&:hover {

				color: var(--blue_dark);

				svg {

					fill: var(--blue_dark);

				}

			}

		}

	}

	&__ratio {

		flex-shrink: 0;
		margin: 15px 0;

		.is-initial & {

			margin: 34px 0 46px;

		}

		&-link {

			display: flex;
			align-items: center;

		}

		&-value {

			font-size: 48px;
			font-weight: 700;
			line-height: 58px;
			margin-right: 16px;
			color: var(--black_dark);

		}

		&-review {

			font-size: 16px;
			font-weight: 400;
			line-height: 25px;
			color: var(--grey);

		}

	}

	&__name {

		font-size: 22px;
		font-weight: 700;
		line-height: 29px;
		margin-bottom: 8px;

	}

	&__manufacturer {

		display: flex;
		align-items: center;
		flex-wrap: wrap;

		&-name {

			font-size: 16px;
			line-height: 19px;
			color: var(--grey);
			margin: 10px 0;

		}

	}

	&__country {

		display: flex;
		font-size: 16px;
		line-height: 19px;
		color: var(--black_dark);
		margin: 10px 30px 10px 0;

		svg {

			margin-right: 10px;
			border-radius: 50%;
			box-shadow: var(--box-shadow-dark);

		}

	}

}

.product-models {

	margin-bottom: 100px;

	&__head {

		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

		.sort {

			margin-top: 22px;

		}

	}

}

.product-localizations {

	position: relative;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	color: var(--blue);
	display: flex;
	align-items: center;
	width: 256px;
	margin: 40px 0;

	&__value {

		font-size: 15px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		line-height: 66px;
		text-align: center;

	}

	&__ico {

		width: 66px;
		height: 66px;
		flex-shrink: 0;
		margin-right: 18px;
		position: relative;
		border-radius: 50%;
		box-shadow: var(--box-shadow);

		svg {

			position: absolute;
			top: -4px;
			left: -4px;

		}

	}

}

.product-lock {

	text-align: center;
	padding: 78px 0 102px;

	&__logo {

		display: flex;
		justify-content: center;
		margin-bottom: 38px;

	}

	&__title {

		font-size: 24px;
		font-weight: 500;
		line-height: 24px;
		margin-bottom: 18px;

	}

	&__text {

		font-size: 16px;
		line-height: 20px;
		max-width: 382px;
		margin: auto;

	}

	&__btn {

		margin-top: 38px;
		display: flex;
		justify-content: center;

		.btn {

			max-width: 100%;
			width: 290px;

		}

	}

}