.product {

	box-shadow: var(--box-shadow);
	background-color: #fff;
	border-top-right-radius: 3px;
	padding: 38px 40px 24px;
	position: relative;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 30px;

	@media ($mdWidth) {

		padding: 24px;
		margin-bottom: 24px;

	}

	@media ($smWidth) {

		padding: 24px 16px;
		font-size: 14px;

		.accordion {

			margin-bottom: 24px;

		}

	}

	@media ($xsWidth) {

		margin-left: -16px;
		margin-right: -16px;

	}

	&__head {

		margin: 10px 0;

		@media ($smWidth) {

			border-bottom: 2px solid var(--light);
			padding-bottom: 24px;
			margin-bottom: 16px;

		}

		&-title {

			font-weight: bold;
			margin-bottom: 17px;

			@media ($smWidth) {

				font-size: 14px;
				line-height: 1.4;
				margin-bottom: 10px;

			}

		}

		&-row {

			display: flex;
			flex-wrap: wrap;
			margin: -10px 0;

		}

		&-label {

			padding-left: 32px;
			margin: 10px 0 10px auto;

			@media ($mdWidth) {

				display: none;

			}

		}

		&-ratio {

			margin: 10px 26px 10px 0;

			@media ($smWidth) {

				margin-right: 20px;

			}

		}

		&-manufacturer {

			font-size: 16px;
			line-height: 19px;
			margin: 10px 0;

			@media ($smWidth) {

				font-size: 12px;

			}

		}

	}

	&__foot {

		display: flex;
		position: sticky;
		bottom: 0;
		padding: 24px 45px;
		margin: 36px -40px -24px;
		background-color: #fff;
		z-index: 3;

		@media ($mdWidth) {

			padding: 24px;
			margin: 24px -24px -24px;

		}

		@media ($smWidth) {

			padding: 16px 16px 24px;
			margin: 24px -16px -24px;

		}

		&::after {

			position: absolute;
			height: 24px;
			left: 0;
			right: 0;
			bottom: 100%;
			content: '';
			pointer-events: none;
			background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

		}

		&-item {

			flex-grow: 1;
			flex-basis: 50%;

			& + & {

				margin-left: 20px;

				@media ($smWidth) {

					margin-left: 8px;

				}

			}

		}

		.btn {

			width: 100%;

		}

	}

	&__section {

		color: var(--grey);
		margin: 24px 0;

		@media ($smWidth) {

			margin: 16px 0;

		}

	}

	&__flex {

		display: flex;
		margin: 6px 0;

		@media ($mdWidth) {

			display: block;
			margin: 0;

		}

		&-left {

			@media ($mdWidth) {

				display: none;
				margin: 0 0 18px;

				.filter-show & {

					display: block;

				}

			}

			@media ($desktop) {

				flex-shrink: 0;
				width: 306px;
				margin-right: 18px;

			}

		}

		&-right {

			@media ($desktop) {

				flex-shrink: 0;
				width: 294px;
				margin-left: 30px;

			}

		}

		&-body {

			flex-grow: 1;
			position: relative;

		}

		&--review {

			@media ($desktop) {

				.product__flex-left {

					display: none;

				}

				.sort {

					position: absolute;
					right: 0;
					bottom: 100%;
					margin-bottom: 24px;

				}

			}

			@media ($mdWidth) {

				display: flex;
				flex-direction: column-reverse;

			}

			.btn-open-filter {

				@media ($mdWidth) {

					display: none;

				}

				@media ($smWidth) {

					display: flex;

				}

			}

		}

	}

	/* Область применения */

	&__images {

		margin: 64px 0 80px;

		@media ($smWidth) {

			margin: 48px 0 62px;

		}

	}

	&__use {

		max-width: 728px;

	}

	&__heading {

		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		margin: 40px 0 20px;

		@media ($smWidth) {

			font-size: 14px;
			margin: 20px 0 10px;

		}

	}

	&__list {

		li {

			padding-left: 10px;
			margin: 4px 0;

			&::before {

				position: absolute;
				top: 0;
				left: 0;
				content: '-';

			}

		}

		&-link {

			li {

				font-weight: 500;
				margin: 10px 0;

			}

			a {

				text-decoration: underline;

				&:hover {

					text-decoration: none;

				}

			}

		}

		& + p {

			margin-top: 16px;

		}

	}

	&__table {

		margin: 30px 0;

		@media ($smWidth) {

			margin: 16px 0;

		}

	}

	&__plan-load {

		margin: 30px 0;

		@media ($smWidth) {

			margin: 20px 0;

		}

	}

	/* Модельный ряд */

	&__sort {

		display: flex;
		align-items: center;
		justify-content: space-between;

		@media ($smWidth) {

			flex-wrap: wrap;
			margin: 16px 0 8px;

			.product__section {

				margin: 8px 0;

			}

			.sort {

				flex-grow: 1;
				margin: 8px 0;

			}

			&--sm-align-items-end {

				align-items: flex-end;

				.sort {

					margin-bottom: 0;

				}

			}

		}

		&-left {

			display: flex;
			align-items: center;

			@media ($smWidth) {

				display: block;

			}

			.product__section {

				margin-right: 18px;

			}

		}

	}

	&__models {

		display: flex;
		justify-content: space-between;

	}

}


/* Аудиты */

.product-content {

	font-size: 14px;
	line-height: 1.4;

	&__head {

		font-weight: 500;
		font-size: 18px;
		line-height: 20px;
		color: var(--grey);
		margin: 30px 0;

		@media ($smWidth) {

			font-size: 14px;
			line-height: 18px;
			margin: 12px 0;

		}

	}

	&__body {

		h3:not([class]) {

			font-size: 14px;
			line-height: 19px;
			margin: 12px 0;

		}

		p {

			margin: 14px 0 20px;

		}

		ul {

			margin: 14px 0 34px;

			@media ($smWidth) {

				margin-bottom: 22px;

				li {

					margin: 12px 0;
					padding-left: 14px;

				}

			}

			li {

				margin: 14px 0;
				padding-left: 16px;

				&::before {

					position: absolute;
					width: 6px;
					height: 6px;
					top: 6px;
					left: 0;
					content: '';
					border-radius: 50%;
					background-color: var(--blue);

				}

			}

		}

		ol {

			margin: 14px 0 34px;
			counter-reset: headings 0;

			@media ($smWidth) {

				margin-bottom: 22px;

			}

			li {

				margin: 14px 0;
				padding-left: 24px;
				counter-increment: headings 1;

				&::before {

					position: absolute;
					top: 0;
					left: 0;
					font-size: 16px;
					line-height: 19px;
					font-weight: 700;
					color: var(--blue);
					content: counter(headings, decimal) '.';

				}

			}

		}

		&--style-numeric {

			h3:not([class]) {

				margin: 10px 0 14px;
				font-size: 16px;
				line-height: 20px;
				font-weight: 500;

			}

			p {

				margin: 14px 18px 20px;

				b:not([class]) {

					font-weight: 500;

				}

			}

			ul {

				margin-left: 18px;

			}

			ol {

				margin-left: 18px;

				li {

					padding-left: 16px;

					&::before {

						font-size: inherit;
						line-height: inherit;
						font-weight: inherit;
						color: inherit;
						content: counter(headings, decimal) ')';

					}

				}

			}

		}

	}

	&__row {

		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 20px 0 14px;

		@media ($smWidth) {

			display: block;

			h4 {

				margin-bottom: 6px;

			}

		}

		h4 {

			max-width: 500px;
			font-size: 14px;
			line-height: 1.4;

		}

		.status {

			margin-left: 24px;

			@media ($smWidth) {

				margin: 0;

			}

		}

	}

	&__status {

		font-weight: 400;
		margin: 14px 0;

	}

	&__standarts {

		color: var(--grey);
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 30px;

		@media ($smWidth) {

			font-size: 14px;
			margin-bottom: 20px;

		}

		b {

			font-weight: 500;

		}

	}

}

.product-stat {

	display: flex;
	justify-content: space-between;
	margin: 20px 0 34px;

	@media ($smWidth) {

		margin: 16px 0;
		display: block;

	}

	&__item {

		width: calc((100% - 46px) / 3);
		border-radius: 3px;
		box-shadow: var(--box-shadow-dark);
		padding: 16px 14px 22px;
		text-align: center;
		display: flex;
		justify-content: flex-start;
		flex-direction: column-reverse;

		@media ($smWidth) {

			width: auto;
			padding: 22px 20px;
			margin: 12px 0;

		}

	}

	&__key {

		color: var(--grey);
		font-size: 14px;
		line-height: 1.4;
		margin-top: 12px;

	}

	&__value {

		display: flex;
		align-items: flex-end;
		justify-content: center;
		font-weight: bold;
		font-size: 20px;
		line-height: 23px;
		color: var(--blue);

	}

	&__load {

		font-size: 13px;

	}

}