.quality-billboard {

	padding: 96px 0 122px 30px;

	&__img {

		margin-bottom: 40px;

		img {

			max-width: 100%;

		}

	}

	&__title {

		font-size: 53px;
		font-weight: 700;
		line-height: 62px;
		margin-bottom: 13px;
		margin-left: 40px;

	}

	&__text {

		font-size: 24px;
		line-height: 28px;
		margin-left: 40px;

	}

}

.quality-catalog {

	margin-bottom: 100px;

	@media ($smWidth) {

		margin-bottom: 40px;

	}

	&__item {

		margin: 18px 0;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: var(--box-shadow);
		padding: 33px 38px 23px;
		position: relative;
		display: flex;

		@media ($mdWidth) {

			padding: 24px;

		}

		@media ($smWidth) {

			padding: 20px;
			display: block;

		}

	}

	&__img {

		width: 64px;
		height: 64px;
		margin-right: 30px;
		flex-shrink: 0;
		border-radius: 50%;
		box-shadow: var(--box-shadow);

		@media ($mdWidth) {

			margin-right: 24px;

		}

		@media ($smWidth) {

			float: left;
			margin-right: 20px;
			margin-bottom: 20px;

		}

	}

	&__head {

		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		color: var(--grey);
		margin: 6px 0;

	}

	&__value {

		font-size: 14px;
		line-height: 16px;

	}

	&__name {

		width: 268px;
		flex-shrink: 0;
		margin-right: 20px;

		@media ($mdWidth) {

			width: 200px;
			margin-right: 18px;

		}

		@media ($smWidth) {

			width: auto;
			margin-right: 0;

		}

	}

	&__date {

		width: 128px;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: auto;
			white-space: nowrap;

		}

	}

	&__cat {

		flex-grow: 1;
		padding-right: 45px;

		@media ($mdWidth) {

			margin-right: 18px;
			padding-right: 0;

		}

		@media ($smWidth) {

			margin: 18px 0;
			clear: left;

		}

	}

	&__link {

		color: inherit;
		font-weight: 500;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 1;

		}

		@media ($desktop) {

			&:hover {

				color: var(--blue);

			}

		}

	}

}

.quality-item {

	background-color: #fff;
	border-radius: 3px;
	box-shadow: var(--box-shadow);
	padding: 42px 50px;
	position: relative;
	margin-bottom: 100px;

	@media ($mdWidth) {

		padding: 36px;

	}

	@media ($smWidth) {

		margin: 0 calc(var(--smIndent) * -1);
		box-shadow: none;
		border-radius: 0;
		padding: calc(var(--smIndent) * 1.5) var(--smIndent);

	}

	hr {

		margin: 30px 0;

		@media ($smWidth) {

			margin: 24px 0;
			height: 1px;

		}

	}

	&__status {

		float: right;
		margin-left: 32px;
		font-weight: 400;

		@media ($smWidth) {

			float: none;
			margin: 10px 0;
			display: flex;
			justify-content: flex-end;

		}

	}

}

.quality-table {

	font-size: 18px;
	line-height: 21px;

	@media ($smWidth) {

		display: block;

		tbody, tr, th, td, caption {

			display: block;
			margin: 8px 0;
			padding: 0;
			width: auto;
			font-size: 14px;
			line-height: 1.4;

		}

		tr {

			margin: 18px 0;

		}

	}

	caption {

		font-size: 20px;
		font-weight: 500;
		line-height: 40px;
		padding: 0 0 12px;
		text-align: left;

		@media ($smWidth) {

			font-size: 18px;
			line-height: 21px;

		}

	}

	th {

		color: var(--grey);
		text-align: left;
		font-weight: 400;
		vertical-align: top;
		padding: 12px 30px 12px 0;
		width: 214px;

	}

	td {

		padding: 12px 0;
		vertical-align: top;

		a[href^=tel] {

			color: inherit;

		}

	}

	&--fw500 {

		caption {

			font-size: 24px;
			font-weight: 700;
			line-height: 40px;
			padding-bottom: 15px;

		}

		th,
		td {

			font-weight: 500;
			padding-top: 15px;
			padding-bottom: 15px;

		}

	}

}

.quality-catalog-col {

	position: relative;
	margin: 100px 0;

	@media ($mdWidth) {

		margin: 40px 0;

	}

	&__title {

		text-align: center;
		margin: 0 0 82px;
		font-weight: 500;

		@media ($mdWidth) {

			margin: 0 0 36px;

		}

		@media ($smWidth) {

			margin: 0 0 24px;

		}

	}

	&__all {

		position: absolute;
		top: 0;
		right: 0;
		font-size: 18px;
		line-height: 40px;

		@media ($mdWidth) {

			display: flex;
			justify-content: center;
			margin-top: 32px;
			position: relative;
			font-size: 16px;

		}

	}

	&__list {

		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;

		@media ($smWidth) {

			margin: 0;
			display: block;

		}

	}

	&__item {

		width: 312px;
		background-color: #fff;
		border-radius: 3px;
		box-shadow: var(--box-shadow);
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 28px 22px 0;

		@media ($mdWidth) {

			width: calc(50% - 14px);

			&:nth-child(n+3) {

				display: none;

			}

		}

		@media ($smWidth) {

			width: 100%;
			margin: 18px 0 40px;

		}

		&::after {

			position: absolute;
			width: 17px;
			height: 24px;
			top: 12px;
			right: 14px;
			pointer-events: none;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='24' fill='none' viewBox='0 0 17 24'%3E%3Cpath fill='%23308AFF' d='M16.22 6.16l-1.58-1.32-.36-2.03a1.4 1.4 0 00-1.39-1.16h-2.05L9.26.33a1.4 1.4 0 00-1.81 0L5.87 1.65H3.82a1.4 1.4 0 00-1.39 1.17l-.35 2.03L.5 6.17A1.4 1.4 0 00.2 7.95l1.03 1.78-.36 2.03a1.4 1.4 0 00.91 1.57l1.74.63v8.63a1.4 1.4 0 002.21 1.16l2.62-1.82 2.63 1.82a1.4 1.4 0 002.2-1.16v-8.62l1.8-.66a1.4 1.4 0 00.9-1.56l-.37-2.03 1.03-1.78c.34-.6.21-1.34-.31-1.78zM8.74 20.49a.7.7 0 00-.8 0l-3.02 2.1v-6.54a1.4 1.4 0 001.52.38l1.93-.71 1.93.7a1.4 1.4 0 001.47-.32v6.5l-3.03-2.1zM14.3 9.02a1.4 1.4 0 00-.17.95l.36 2.02-1.93.7a1.4 1.4 0 00-.62.45l-.02.03c-.04.04-.07.1-.1.15l-1.03 1.78-1.93-.7a1.41 1.41 0 00-.96 0l-1.94.7-1.03-1.78a1.4 1.4 0 00-.2-.26l-.02-.02a1.4 1.4 0 00-.52-.34L2.25 12l.36-2.02c.05-.33 0-.67-.17-.95L1.4 7.25l1.57-1.33c.26-.2.43-.5.48-.83l.36-2.03h2.06c.33 0 .65-.12.9-.33l1.57-1.32 1.58 1.32c.25.21.58.33.9.33h2.06l.36 2.02c.06.33.23.62.49.83l1.57 1.33-1.02 1.78z'/%3E%3Cpath fill='%23308AFF' d='M8.36 4.38a4.06 4.06 0 100 8.12 4.06 4.06 0 000-8.13zm0 6.7a2.65 2.65 0 110-5.3 2.65 2.65 0 010 5.3z'/%3E%3C/svg%3E");

		}

		&::before {

			position: absolute;
			height: 40px;
			left: 0;
			right: 0;
			bottom: -36px;
			content: '';
			pointer-events: none;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='312' height='40' viewBox='0 0 312 40'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath fill='%23FAFAFD' d='M0 0h312v40H0z'/%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath fill='%23fff' d='M15.02 13.3L29.84 27l11.82-13.7L55.52 27l12.82-13.7L81.15 27l12.82-13.7L106.78 27l12.86-13.7L132.46 27l12.81-13.7L158.09 27l12.86-13.7L183.76 27l12.82-13.7L209.4 27l12.86-13.7L235.07 27l12.82-13.7L260.7 27l12.86-13.7L286.38 27l12.81-13.7L312 27v-330a3 3 0 00-3-3H3a3 3 0 00-3 3V27l15.02-13.7z'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Cpath fill='%23fff' d='M0 0h312v40H0z'/%3E%3C/clipPath%3E%3Cfilter id='filter0_d' width='320' height='341' x='-4' y='-306' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix values='0 0 0 0 0.607843 0 0 0 0 0.607843 0 0 0 0 0.721569 0 0 0 0.13 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");

		}

	}

	&__head {

		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		color: var(--grey);
		margin-bottom: 8px;

	}

	&__value {

		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		margin-bottom: 19px;
		display: block;

	}

	&__name {

		min-height: calc(16px + 8px + 19px * 3);

	}

	&__date {

		margin-top: auto;

	}

	&__link {

		color: var(--color);

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';

		}

	}

}