.search-menu {

	display: flex;

	@media ($smWidth) {

		display: block;

	}

	&__form {

		flex-grow: 1;
		position: relative;

		@media ($smWidth) {

			display: flex;

			.live-search {

				flex-grow: 1;

			}

		}

		.input {

			height: 32px;
			padding: 6px;
			padding-right: 32px;

		}

	}

	&__btn {

		margin-left: 8px;
		flex-shrink: 0;

		@media ($smWidth) {

			display: none;

		}

		.btn--toggle {

			min-width: 160px;

		}

	}

	&.is-full &__btn {

		@media ($smWidth) {

			display: block;
			margin: 16px 0 0;
			width: 100%;

			.dropdown-toggle__btn,
			.dropdown-toggle__body,
			.dropdown-toggle__menu {

				width: 100%;

			}

		}

	}

	&__toggle-menu,
	&__toggle-filter {

		display: none;
		margin-left: 12px;
		align-self: center;
		flex-shrink: 0;

		svg {

			fill: var(--grey);

		}

		@media ($smWidth) {

			display: block;

		}

	}

	&.is-form-only &__btn {

		display: none;

	}

}