.service-access {

	padding: 94px 0;

	@media ($mdWidth) {

		padding: 60px 0;

	}

	@media ($smWidth) {

		padding: 40px 0;

	}

	&__title {

		text-align: center;
		margin-bottom: 48px;

		@media ($mdWidth) {

			margin-bottom: 24px;

		}

	}

	&__box {

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 48px;

		@media ($mdWidth) {

			display: block;
			padding: 40px 0 0;
			margin: auto;
			width: 600px;

		}

		@media ($smWidth) {

			width: auto;
			padding-top: 28px;

		}

	}

	&__content {

		width: 580px;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: auto;

		}

		.btn {

			width: 375px;
			margin-top: 78px;

			@media ($mdWidth) {

				margin: 40px auto 0;
				width: 314px;

			}

			@media ($smWidth) {

				max-width: 100%;
				margin-top: 26px;

			}

		}

		ul {

			margin: 2px 0;

			li {

				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				padding-left: 40px;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%232B8CFF' d='M8.38 10.94a.58.58 0 00-.18-.1.63.63 0 00-.63.1l-.8.7a.5.5 0 00-.12.17.45.45 0 000 .38.5.5 0 00.12.16l4.22 3.71c.1.1.25.15.4.15.15 0 .3-.05.4-.15l8.8-7.7a.5.5 0 00.12-.17.44.44 0 000-.39.5.5 0 00-.13-.16l-.8-.7a.59.59 0 00-.19-.1.64.64 0 00-.62.1l-7.17 6.29c-.1.1-.25.15-.4.15a.62.62 0 01-.41-.15l-2.6-2.29z'/%3E%3C/svg%3E");

				& + li {

					margin-top: 38px;

					@media ($smWidth) {

						margin-top: 14px;

					}

				}

				@media ($smWidth) {

					font-size: 14px;
					line-height: 16px;
					padding-left: 28px;
					background-size: 22px 22px;

				}

			}

		}

	}

	&__img {

		position: relative;
		flex-grow: 1;

		@media ($lgWidth) {

			display: flex;
			align-items: flex-end;

			img {

				max-width: 100%;
				height: auto;

			}

		}

		@media ($mdWidth) {

			display: none;

		}

	}

}