
/* width */

.w100p {

	width: 100%;

}

.w100 {

	width: 100px;

}



/* margin */

.mt10 {

	margin-top: 10px;

}

.mt20 {

	margin-top: 20px;

}

.mt30 {

	margin-top: 30px;

}

.mb20 {

	margin-bottom: 20px;

}

.mb24 {

	margin-bottom: 24px;

}

.mb30 {

	margin-bottom: 30px;

}