
/* width */

.w100p {

	width: 100%;

}

.w100 {

	width: 100px;

}

.fs14 {

	font-size: 14px;

}

/* margin */

.mt10 {

	margin-top: 10px;

}

.mt16 {

	margin-top: 16px;

}

.mt20 {

	margin-top: 20px;

}

.mt36 {

	margin-top: 36px;

}

.mb0 {

	margin-bottom: 0;

}

.mb20 {

	margin-bottom: 20px;

}

.mb24 {

	margin-bottom: 24px;

}

.mb30 {

	margin-bottom: 30px;

}

.mb34 {

	margin-bottom: 34px;

}