.tab-filter {

	&__form {

		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 26px;

		&-btns {

			display: flex;

		}

	}

	&__btn {

		position: relative;
		margin-right: 12px;

		input {

			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			opacity: .0001;

		}

		input:checked ~ &-label {

			color: #fff;
			background-color: var(--blue);

		}

		&-label {

			display: block;
			font-size: 18px;
			line-height: 40px;
			letter-spacing: 0.15px;
			color: var(--blue);
			padding: 0 30px;
			cursor: pointer;
			background-color: #F7F9FA;
			border-radius: 20px;

		}

	}

	&__total {

		font-size: 14px;
		letter-spacing: 0.1px;
		color: #3C4F62;

	}

}