.table {

	border: 0;
	border-collapse: collapse;

	font-size: 14px;
	line-height: 1.4;

	th,
	td {

		vertical-align: top;
		padding: 4px 0;

	}

	th {

		padding-right: 18px;
		color: var(--grey);
		font-weight: 400;
		text-align: left;

	}

	td {

		b {

			font-weight: 500;

		}

	}

}

.table-mini {

	border: 0;
	border-collapse: collapse;
	margin: -5px;

	th {

		text-align: left;
		vertical-align: top;
		padding: 5px;
		font-size: 12px;
		line-height: 1.4;
		font-weight: 400;
		color: var(--grey);
		width: 180px;

	}

	td {

		text-align: left;
		vertical-align: top;
		padding: 5px;
		font-size: 12px;
		line-height: 1.4;

	}

}

.table-status {

	border: 0;
	border-collapse: collapse;
	margin: 17px 0 34px;
	width: 100%;

	th,
	td {

		vertical-align: top;
		padding-bottom: 34px;
		font-weight: 400;
		text-align: left;
		font-size: 16px;
		line-height: 19px;

	}

	th {

		padding-right: 36px;
		color: var(--grey);
		width: 40%;

	}

	td {

		color: var(--color);

	}

	tr:last-child {

		th, td {

			padding-bottom: 0;

		}

	}

	&__label {

		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 14px;

	}

	h3 {

		line-height: 28px;
		font-weight: 500;
		font-size: 16px;

	}

	ul {

		li {

			margin: 14px 0;

			&::before {

				content: '-';

			}

		}

	}

	ol {

		li {

			list-style-type: decimal;
			list-style-position: inside;

			& + li {

				margin-top: 14px;

			}

		}

	}

	p {

		b {

			font-weight: 500;

		}

		& + p {

			margin-top: 14px;

		}

	}

	&__red {

		background-repeat: no-repeat;
		padding-left: 36px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23F44336' fill-rule='evenodd' d='M12 2a10 10 0 110 20 10 10 0 010-20zm-1 14a1 1 0 112 0 1 1 0 01-2 0zm1-2a1 1 0 01-1-1V8a1 1 0 112 0v5a1 1 0 01-1 1z'/%3E%3C/svg%3E");

	}

	&__green {

		background-repeat: no-repeat;
		padding-left: 36px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M22 12a10 10 0 11-20 0 10 10 0 0120 0zm-12.62-.93a1 1 0 01.33.22L11 12.6l3.3-3.3a1 1 0 111.4 1.42l-4 4a1 1 0 01-1.4 0l-2-2a1 1 0 011.08-1.64z' fill='%2336B37E'/%3E%3C/svg%3E");

	}

}

.table-param {

	width: 100%;
	border-collapse: collapse;
	border: 0;
	font-size: 12px;
	line-height: 19px;

	@media ($mdWidth) {

		line-height: 14px;

	}

	thead {

		td {

			background-color: var(--snow);
			color: var(--grey);
			padding: 19px 0 19px 14px;
			white-space: nowrap;
			width: 100px;

			@media ($mdWidth) {

				padding: 20px 0 20px 12px;
				width: auto;

			}

			&:first-child {

				border-radius: 3px 0 0 3px;
				padding-left: 28px;

				@media ($mdWidth) {

					padding-left: 14px;

				}

			}

			&:last-child {

				border-radius: 0 3px 3px 0;
				padding-right: 14px;

				@media ($mdWidth) {

					padding-right: 10px;

				}

			}

		}

	}

	tbody {

		td {

			padding: 16px 0 16px 14px;
			border-bottom: 1px solid var(--border);

			@media ($mdWidth) {

				padding: 14px 0 14px 12px;

			}

			&:first-child {

				padding-left: 28px;

				@media ($mdWidth) {

					padding-left: 14px;

				}

			}

			&:last-child {

				padding-right: 14px;

				@media ($mdWidth) {

					padding-right: 10px;

				}

			}

		}

		tr:nth-child(2n) td {

			background-color: var(--light);

		}

		p {

			margin: 1em 0;

		}

		b {

			font-weight: 500;

		}

	}

}