.tabs {

	&__item:not(.is-active) {

		display: none;

	}

	&__nav {

		display: flex;
		align-items: flex-end;
		position: relative;

		@media ($smWidth) {

			margin-top: -16px;

			overflow-x: auto;

			scrollbar-width: thin;
			scrollbar-color: #bbc0c6 transparent;

			&::-webkit-scrollbar {

				height: 6px;
				border-radius: 3px;
				background-color: transparent;

			}

			&::-webkit-scrollbar-thumb {

				border-radius: 3px;
				background-color: #bbc0c6;

			}

		}

		&-wrap {

			position: relative;

			@media ($smWidth) {

				margin: 0 calc(var(--smIndent) * -1);

				&::before {

					left: var(--smIndent);
					right: var(--smIndent);

				}

			}

			&::before {

				position: absolute;
				height: 4px;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				border-radius: 2px;
				background-color: var(--silver);

			}

		}

	}

	&__nav &__btn {

		white-space: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 19px;
		color: var(--grey);
		padding: 30px;
		flex-basis: 100%;
		text-align: center;
		cursor: pointer;
		transition: var(--transitionDefault);
		position: relative;
		user-select: none;

		@media ($mdWidth) {

			font-size: 14px;
			line-height: 16px;
			padding: 16px 8px;

			span {

				display: block;

			}

		}

		@media ($smWidth) {

			min-width: 178px;
			margin-left: var(--smIndent);

		}

		&::after {

			position: absolute;
			height: 4px;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			border-radius: 2px;
			opacity: 0;
			transition: var(--transitionDefault);
			background-color: var(--blue);

		}

		&.is-active {

			color: var(--blue);

			&::after {

				opacity: 1;

			}

		}

	}

}