
.tooltip {

	&-title {

		display: block;
		width: 24px;
		height: 24px;
		position: relative;

		&::after,
		&::before {

			position: absolute;
			width: 10px;
			height: 10px;
			left: 8px;
			content: '';
			margin-bottom: 8px;
			bottom: 100%;
			background-color: #fff;
			transform: rotate(45deg);
			transition: opacity var(--transitionDefault);
			pointer-events: none;
			visibility: hidden;
			opacity: 0;
			box-shadow: var(--box-shadow-dark);

		}

		&::after {

			box-shadow: none;

		}

		&:hover::after,
		&:hover::before,
		&:hover &__inner {

			opacity: 1;
			visibility: visible;

		}

		&__inner {

			color: var(--blue);
			padding: 4px 12px;
			position: absolute;
			left: -32px;
			margin-bottom: 12px;
			font-size: 14px;
			bottom: 100%;
			font-weight: 400;
			white-space: nowrap;
			line-height: 32px;
			background-color: #fff;
			border-radius: 5px;
			box-shadow: var(--box-shadow-dark);
			opacity: 0;
			z-index: 2;
			visibility: hidden;
			transition: opacity var(--transitionDefault);

		}

	}

}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}