:root {

	--color: #0b233a;
	--colorRBG: 11, 35, 58;
	--text: #355073;
	--blue: #2b8cff;

/*

--grey: #8f8fae;
--green: #36b37e;

--blue_dark: #0066df;
--red: #f44336;
--black_dark: #0b233a;
--silver: #efeff6;
--silver-dark: #e2e2f1;
--text_status: #42526e;

--snow: #e3f0ff;
--snow_dark: #99c8ff;
--light: #fafafd;

--error: #f00;
--border: #efeff6;

--transitionDefault: 0s;

--box-shadow: 0 4px 4px color(var(--text) a(13%));
--box-shadow-dark: 0 0 4px color(var(--text) a(13%)), var(--box-shadow);

--mdIndent: 32px;
--smIndent: 16px; */

}

$desktop: (min-width: 1250px);
$mdWidth: (max-width: 1249px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);