:root {

	--grey: #8f8fae;
	--green: #36b37e;
	--blue: #2b8cff;
	--red: #f44336;
	--black_dark: #0b233a;
	--silver: #efeff6;
	--text_status: #42526e;
	--green_status: #b8f9de;
	--red_status: #fccbc7;
	--yellow_status: #ffeaa1;
	--snow: #e3f0ff;

	--error: #f00;
	--border: #efeff6;

}