:root {

	--dark: #0b233a;
	--color: #0b233a;
	--colorRGB: 11, 35, 58;
	--text: #355073; /* old #9b9bb8 */
	--blue: #2b8cff;
	--blueRGB: 43, 140, 255;
	--blue_dark: #1f6cdb;
	--grey: #8f8fae;
	--green: #36b37e;
	--red: #cf405a;
	--error: #f44336;
	--errorRGB: 244, 67, 54;
	--bg: #fff;
	--warning: #f38b01;

	--box-shadow: 0 4px 4px rgba(155, 155, 184, 0.13);

	--transitionDefault: 0s;

	--indent: 34px;

}

$desktop: (min-width: 1250px);
$mdWidth: (max-width: 1249px);
$smWidth: (max-width: 767px);
$xsWidth: (max-width: 359px);