.why-we {

	margin: 107px 0 115px;
	text-align: center;

	&__title {

		margin: 20px 0;
		color: var(--black_dark);

	}

	&__list {

		display: flex;
		flex-wrap: wrap;
		margin: 16px 0;
		justify-content: space-between;

	}

	&__item {

		width: 276px;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		padding: 18px;

	}

	&__ico {

		margin: 30px auto;

	}

}