.workgroup-chat {

	background-color: #fff;
	border-radius: 5px;

	&__list {

		padding: 48px 28px 36px;
		padding: 26px 0;

	}

	&__empty {

		text-align: center;
		font-weight: 300;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.15px;
		color: #A6B1B8;
		margin: 100px 0;

	}

	&__item:not(.hide) ~ &__empty {

		display: none;

	}

	&__item {

		position: relative;
		padding: 22px 28px 36px;

		&--reply {

			padding-left: 78px;

			&::before {

				position: absolute;
				width: 3px;
				top: 82px;
				left: 96px;
				bottom: 36px;
				content: '';
				background-color: #A6B1B8;
				border-radius: 2px;

			}

		}

		&-btn {

			position: absolute;
			right: 28px;
			bottom: 12px;
			opacity: 0;
			pointer-events: none;


		}

		&:hover {

			background-color: #f9fbff;

		}

		&:hover &-btn {

			opacity: 1;
			pointer-events: auto;

		}

	}

}

.workgroup-chat-form-group {

	padding: 17px 22px;
	background-color: var(--color);
	border-radius: 5px 5px 0 0;
	position: sticky;
	top: 0;
	z-index: 5;

	.input {

		border: 0;
		height: 40px;
		line-height: 20px;
		padding: 10px 40px 10px 14px;

	}

	&__btn {

		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.15px;

		& + & {

			margin-top: 12px;

		}

	}

	&.is-chat &__filter,
	&.is-user &__chat,
	&.is-user &__message,
	&.is-message &__chat,
	&.is-message &__user {

		display: none;

	}

}

.workgroup-chat-filter {

	display: flex;
	align-items: center;
	margin-left: -6px;

	&__btn-back {

		margin-right: 4px;

		svg {

			fill: #fff;

		}

	}

	&__fieldset {

		position: relative;
		flex-grow: 1;

	}

	&.is-empty &__reset {

		opacity: 0;
		pointer-events: none;

	}

	&__reset {

		position: absolute;
		width: 23px;
		height: 23px;
		top: 0;
		right: 16px;
		bottom: 0;
		margin: auto;
		background-color: #f6f6f6;
		border-radius: 50%;

		svg {

			fill: #c9c9c9;

		}

	}

}

.workgroup-chat-form {

	display: flex;
	align-items: center;
	margin-right: -12px;

	&__fieldset {

		flex-grow: 1;
		position: relative;

	}

	&__input-file {

		position: absolute;
		width: 30px;
		height: 30px;
		top: 5px;
		right: 5px;
		bottom: 5px;
		margin: auto;
		justify-content: center;

		svg {

			margin: 0;
			fill: #A6B1B8;

		}

	}

	&__submit {

		margin: 0 12px 0 26px;
		flex-shrink: 0;
		opacity: .6;

		&:hover {

			opacity: 1;

		}

		svg {

			fill: none;
			stroke: #fff;

		}

	}

	&__content-menu {

		&:not(.is-open) .context-menu__btn-ico:hover {

			background-color: rgba(255, 255, 255, 0.2);

		}

		.context-menu__btn-ico {

			padding: 5px;
			width: 40px;
			height: 40px;

		}

		.context-menu__list {

			min-width: 230px;

		}

	}

}

.workgroup-chat-item {

	padding-left: 50px;

	&__head {

		display: flex;
		position: relative;
		justify-content: space-between;

	}

	&__avatar {

		position: absolute;
		top: 0;
		left: -50px;

		img {

			border-radius: 50%;

		}

		&-text {

			text-align: center;
			display: block;
			font-size: 14px;
			width: 38px;
			height: 38px;
			line-height: 38px;
			border-radius: 50%;
			background-color: #c9c9c9;
			color: #fff;
			letter-spacing: 0.1px;
			text-transform: uppercase;

		}

	}

	&__name {

		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.1px;
		color: #3C4F62;
		display: block;

	}

	&__desc {

		font-size: 14px;
		font-weight: 400;
		color: #A6B1B8;
		display: block;

	}

	&__date {

		display: flex;
		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.1px;
		color: #A6B1B8;
		white-space: nowrap;

		span {

			margin-left: 16px;

		}

	}

	&__body {

		margin-top: 20px;

	}

	&__text {

		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.15px;

	}

}