.table-workgroups {

	width: 100%;
	border-collapse: collapse;
	border: 0;

	&__thead {

		position: sticky;
		top: 8px;
		z-index: 5;
		box-shadow: 0 -4px 4px 4px #f7f9fa;

		td {

			padding: 15px 11px;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.1px;
			color: rgba(255, 255, 255, 0.6);
			background-color: var(--color);
			min-width: 120px;

			&:first-child {

				border-radius: 5px 0 0 5px;
				padding-left: 22px;

			}

			&:last-child {

				border-radius: 0 5px 5px 0;
				padding-right: 22px;

			}

			.context-menu__list {

				min-width: 174px;

			}

			.context-menu__btn-label {

				color: rgba(255, 255, 255, 0.6);

				svg {

					fill: rgba(255, 255, 255, 0.6);

				}

				&:hover {

					color: #fff;

					svg {

						fill: #fff;

					}

				}

			}

		}

	}

	&__my-first-td {

		padding: 10px 3px 10px 8px !important;
		min-width: 0 !important;
		width: 30px;

	}

	&__sep {

		td {

			height: 8px !important;
			padding: 0 !important;
			background-color: transparent !important;

		}

	}

	&__unread-td {

		padding: 0 0 0 19px !important;
		min-width: 0 !important;

		.table-workgroups-unread-item &::before {

			width: 6px;
			height: 6px;
			content: '';
			display: block;
			border-radius: 50%;
			background-color: var(--warning);

		}

	}

	&__my-last-td,
	&__btn-context-menu {

		padding: 0 13px 0 3px !important;
		min-width: 32px !important;

	}

	&__body {

		tr {

			border: 1px solid #F6F6F6;

			&:hover td {

				background-color: #f6f6f6;

			}

			& + tr td {

				border-top: 1px solid #ececec;

			}

			&:first-child td {

				&:first-child {

					border-radius: 5px 0 0 0;

				}

				&:last-child {

					border-radius: 0 5px 0 0;

				}

			}

			&:last-child td {

				&:first-child {

					border-radius: 0 0 0 5px;

				}

				&:last-child {

					border-radius: 0 0 5px 0;

				}

			}

			&.table-workgroups-unread-item td {

				font-weight: 400;

			}

		}

		td {

			background-color: #fff;
			padding: 15px 11px;
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.15px;
			vertical-align: middle;

			&:first-child {

				padding-left: 22px;

			}

			&:last-child {

				padding-right: 22px;

			}

		}

	}

	&__count {

		display: flex;
		font-weight: 300;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.1px;
		color: #3C4F62;

		svg {

			fill: #3C4F62;
			margin-right: 4px;

		}

	}

	&__status {

		width: 120px;

		.btn {

			width: 100%;

		}

		div.btn {

			pointer-events: none;

		}

	}

}