.workgroup-item-stage-result {

	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "head head"
						 "grafik stat"
						 "table table";


	@media ($lgWidth) {

		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: "head grafik stat"
							 "table table table";

	}

	&__item {

		background-color: #fff;
		border-radius: 5px;
		padding: 20px;
		position: relative;

	}

	&__title {

		margin-bottom: 20px;

		@media ($lgWidth) {

			margin-bottom: 40px;

		}

	}

}

.workgroup-item-stage-result-head {

	grid-area: head;
	display: flex;

	@media ($lgWidth) {

		display: block;

	}

	hr {

		position: absolute;
		width: 1px;
		top: 20px;
		left: 0;
		right: 0;
		bottom: 20px;
		margin: auto;
		background-color: #ececec;

		@media ($lgWidth) {

			position: static;
			width: 100%;
			height: 1px;
			margin: 20px 0;

		}

	}

	&__item {

		width: 50%;

		@media ($lgWidth) {

			width: auto;

		}

	}

	&__row {

		display: flex;
		align-items: center;
		margin-bottom: 26px;

		.btn--label {

			padding: 5px 12px;

		}

	}

	&__download {

		display: flex;
		margin-left: 20px;
		white-space: nowrap;

		svg {

			margin-right: 8px;

		}

	}

	&__date {

		color: #3C4F62;
		font-size: 18px;
		white-space: nowrap;

		th {

			text-align: left;
			font-weight: 300;
			line-height: 26px;
			letter-spacing: 0.15px;
			padding: 4px 0;

		}

		td {

			padding: 4px 16px;
			font-weight: 500;
			line-height: 20px;
			letter-spacing: 0.1px;
		}

	}

	&__stat {

		text-align: center;
		display: flex;

		&-col {

			display: flex;
			width: 50%;
			flex-direction: column-reverse;

		}

		dd {

			padding: 6px 0 2px;

		}

		dt {

			font-weight: 300;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 0.15px;
			color: #3C4F62;

		}

	}

}

.workgroup-item-stage-result-stat {

	grid-area: stat;

	&__table {

		tr + tr td {

			padding-top: 10px;

		}

		td {

			padding: 0 10px;
			font-weight: 300;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 0.15px;
			color: #3C4F62;
			vertical-align: top;

			b {

				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.1px;
				color: var(--color);

			}

			small {

				font-size: 18px;
				color: #A6B1B8;

			}

		}

	}

	&__empty {

		font-weight: 300;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.15px;
		color: #3C4F62;

	}

}

.workgroup-item-stage-result-grafik {

	grid-area: grafik;

	&__row {

		display: flex;
		align-items: flex-start;
		justify-content: space-between;

	}

	&__table {

		td {

			vertical-align: middle;
			text-align: left;
			padding: 6px 10px;
			font-weight: 300;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 0.15px;
			color: #3C4F62;

			b {

				font-weight: 500;
				letter-spacing: 0.1px;
				color: var(--color);

			}

		}

		&-green {

			padding: 0 !important;
			width: 12px;

			svg {

				fill: var(--green);

			}

		}

		&-red {

			padding: 0 !important;
			width: 12px;

			svg {

				fill: var(--error);

			}

		}

	}

	&__svg {

		transform: rotate(-90deg);

		&-green {

			fill: none;
			stroke: var(--green);

		}

		&-white {

			fill: none;
			stroke: #fff;

		}

		&-red {

			fill: none;
			stroke: var(--error);

		}

		&-empty {

			fill: none;
			stroke: #F9FBFF;

		}

		line {

			stroke: #fff;
			stroke-width: 2px;

		}

	}

}

.workgroup-item-stage-result-table {

	grid-area: table;

}
