.workgroup-user {

	&__head {

		img {

			border-radius: 50%;

		}

	}

	&__avatar-text {

		border-radius: 50%;
		text-align: center;
		background-color: var(--warning);
		color: #fff;
		letter-spacing: 0.1px;
		text-transform: uppercase;;

		&.is-grey {

			background-color: #c9c9c9;

		}

	}

	/* checkbox */

	&--checkbox {

		display: flex;
		align-items: flex-start;
		padding: 10px 12px;
		cursor: pointer;
		user-select: none;
		transition: var(--transitionDefault);

		&:hover {

			background-color: rgba(0, 66, 105, 0.05);

		}

	}

	&--checkbox &__head {

		width: 42px;
		height: 42px;
		flex-shrink: 0;
		display: flex;
		align-items: center;

	}

	&--checkbox &__avatar-text {

		width: 32px;
		height: 32px;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0) 100%);
		font-size: 14px;
		line-height: 32px;

	}

	&--checkbox &__name {

		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.1px;
		color: #3C4F62;
		display: block;

	}

	&--checkbox &__desc {

		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.15px;
		color: #3C4F62;
		opacity: 0.7;
		display: block;

	}

	/* column */

	&--column &__head {

		display: flex;
		justify-content: center;

	}

	&--column &__avatar-text {

		width: 50px;
		height: 50px;
		line-height: 50px;
		font-weight: 500;
		font-size: 16px;

	}

	&--column &__name {

		font-weight: 300;
		font-size: 14px;
		line-height: 20px;
		margin-top: 6px;
		letter-spacing: 0.1px;
		text-align: center;

	}

	/* big */

	&--big {

		display: flex;
		align-items: center;

	}

	&--big &__head {

		width: 83px;
		height: 83px;
		margin-right: 18px;
		flex-shrink: 0;
		display: flex;
		align-items: center;

	}

	&--big &__avatar-text {

		width: 83px;
		height: 83px;
		background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.24), rgba(255, 255, 255, 0) 100%);
		font-size: 24px;
		font-weight: 700;
		line-height: 83px;

	}

	&--big &__name {

		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.1px;
		color: #3C4F62;
		display: block;

	}

	&--big &__desc {

		font-weight: 300;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.15px;
		color: #3C4F62;
		opacity: 0.7;
		display: block;
		margin-top: 4px;

	}

}