.you-get {

	padding: 94px 0;
	background-color: #fff;

	@media ($mdWidth) {

		margin: 60px 0;

	}

	@media ($smWidth) {

		margin: 40px 0;

	}

	&__title {

		@media ($smWidth) {

			margin: 0 0 22px;

		}

	}

	&__box {

		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__img {

		flex-grow: 1;

		@media ($mdWidth) {

			display: none;

		}

		img {

			top: -12px;
			left: -20px;

		}

	}

	&__content {

		width: 500px;
		flex-shrink: 0;

		ul {

			margin: 30px 0;
			color: var(--text);

			li {

				font-size: 16px;
				line-height: 19px;
				margin-top: 22px;
				padding-left: 40px;
				margin-left: -40px;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%232B8CFF' d='M8.38 10.94a.58.58 0 00-.18-.1.63.63 0 00-.63.1l-.8.7a.5.5 0 00-.12.17.45.45 0 000 .38.5.5 0 00.12.16l4.22 3.71c.1.1.25.15.4.15.15 0 .3-.05.4-.15l8.8-7.7a.5.5 0 00.12-.17.44.44 0 000-.39.5.5 0 00-.13-.16l-.8-.7a.59.59 0 00-.19-.1.64.64 0 00-.62.1l-7.17 6.29c-.1.1-.25.15-.4.15a.62.62 0 01-.41-.15l-2.6-2.29z'/%3E%3C/svg%3E");

			}

		}

	}

}