.you-get {

	margin: 107px 0;

	@media ($mdWidth) {

		margin: 60px 0;

	}

	@media ($smWidth) {

		margin: 40px 0;

	}

	&__title {

		text-align: center;
		margin: 54px 0;

		@media ($smWidth) {

			margin: 0 0 22px;

		}

	}

	&__head {

		text-align: center;
		font-size: 24px;
		margin-bottom: 50px;
		line-height: 28px;
		font-weight: 500;
		color: var(--grey);

		@media ($smWidth) {

			font-size: 16px;
			line-height: 20px;
			font-weight: 700;
			margin-bottom: 16px;

		}

		& ~ & {

			margin-top: 46px;

			@media ($smWidth) {

				margin-top: 26px;

			}

		}

	}

	&__box {

		display: flex;

		@media ($mdWidth) {

			display: block;

		}

		& ~ & {

			flex-direction: row-reverse;

			img {

				top: -10px;
				left: 45px;

			}

		}

	}

	&__img {

		flex-grow: 1;

		@media ($mdWidth) {

			display: none;

		}

		img {

			top: -7px;
			left: -23px;

		}

	}

	ul {

		flex-shrink: 0;
		width: 530px;

		@media ($mdWidth) {

			margin: auto;
			width: 600px;

		}

		@media ($smWidth) {

			width: auto;

			li {

				font-size: 14px;
				line-height: 16px;
				padding-left: 36px;

				& + li {

					margin-top: 13px;
				}

			}

		}


		li {

			font-weight: 500;
			font-size: 20px;
			line-height: 23px;
			padding-left: 38px;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' fill='none' viewBox='0 0 25 24'%3E%3Cpath fill='%23fff' fill-opacity='.01' d='M.69 0h24v24h-24z'/%3E%3Cpath fill='%232B8CFF' fill-rule='evenodd' d='M22.69 12a10 10 0 11-20 0 10 10 0 0120 0zm-12.62-.93a1 1 0 01.32.22l1.3 1.3 3.29-3.3a1 1 0 111.41 1.42l-4 4a1 1 0 01-1.41 0l-2-2a1 1 0 011.09-1.64z' clip-rule='evenodd'/%3E%3C/svg%3E");

			& + li {

				margin-top: 36px;

			}

		}

	}


}