.you-get {

	padding: 94px 0;
	background-color: #fff;

	@media ($smWidth) {

		padding: 44px 0;

	}

	&__title {

		@media ($smWidth) {

			margin-bottom: 20px;
			margin-left: 40px;

		}

		@media ($xsWidth) {

			margin-left: 0;

		}

	}

	&__box {

		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;

		@media ($smWidth) {

			display: block;

		}

	}

	&__img {

		flex-grow: 1;

		@media ($smWidth) {

			display: none;

		}

		img {

			top: -12px;
			left: -20px;

			@media ($mdWidth) {

				left: -50px;

			}

		}

	}

	&__content {

		width: 500px;
		flex-shrink: 0;

		@media ($mdWidth) {

			width: 50%;

		}

		@media ($smWidth) {

			width: auto;

		}

		ul {

			margin: 30px 0;
			color: var(--grey);

			@media ($smWidth) {

				margin: 20px 0;

			}

			li {

				font-size: 16px;
				line-height: 19px;
				margin-top: 22px;
				padding-left: 40px;
				margin-left: -40px;
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%232B8CFF' d='M8.38 10.94a.58.58 0 00-.18-.1.63.63 0 00-.63.1l-.8.7a.5.5 0 00-.12.17.45.45 0 000 .38.5.5 0 00.12.16l4.22 3.71c.1.1.25.15.4.15.15 0 .3-.05.4-.15l8.8-7.7a.5.5 0 00.12-.17.44.44 0 000-.39.5.5 0 00-.13-.16l-.8-.7a.59.59 0 00-.19-.1.64.64 0 00-.62.1l-7.17 6.29c-.1.1-.25.15-.4.15a.62.62 0 01-.41-.15l-2.6-2.29z'/%3E%3C/svg%3E");

				@media ($smWidth) {

					margin: 14px 0;
					font-size: 14px;
					line-height: 16px;
					padding-left: 34px;
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%232B8CFF' d='M7.36 10.94a.5.5 0 00-.72 0l-.7.7a.5.5 0 000 .71l3.7 3.71a.5.5 0 00.71 0l7.71-7.7a.5.5 0 000-.72l-.7-.7a.5.5 0 00-.72 0l-6.28 6.29a.5.5 0 01-.72 0l-2.28-2.29z'/%3E%3C/svg%3E");

				}

			}

		}

	}

}