					<div class="product__images">

						<div class="product__images-list">

							<div class="swiper-container swiper-container--product-vertical product-vertical">

								<ul class="swiper-wrapper product-vertical__list">

{% for img in [1,2,3,4,5] %}

									<li class="swiper-slide product-vertical__item{% if loop.first %} is-current{% endif %}">

										<a href="/img/insights/product/images/{{ img }}--780x672.jpg">

											<picture>

												<source srcset="/img/insights/product/images/{{ img }}--112x112.webp 1x, /img/insights/product/images/{{ img }}--224x224@2x.webp 2x" type="image/webp">
												<source srcset="/img/insights/product/images/{{ img }}--112x112.jpg 1x, /img/insights/product/images/{{ img }}--224x224@2x.jpg 2x">

												<img src="/img/insights/product/images/{{ img }}--112x112.jpg" alt="{{ title }}" loading="eager" width="112" height="112">

											</picture>

										</a>

									</li>

{% endfor %}

								</ul>

							</div>

						</div>

						<div class="product__images-big">

							<ul>

{% for img in [1,2,3,4,5] %}

								<li class="product__images-big-item{% if loop.first === false %} hide{% endif %}">

									<picture>

										<source srcset="/img/insights/product/images/{{ img }}--390x336.webp 1x, /img/insights/product/images/{{ img }}--780x672@2x.webp 2x" type="image/webp">
										<source srcset="/img/insights/product/images/{{ img }}--390x336.jpg 1x, /img/insights/product/images/{{ img }}--780x672@2x.jpg 2x">

										<img src="/img/insights/product/images/{{ img }}--390x336.jpg" alt="{{ title }}" loading="lazy" width="390" height="336">

									</picture>

								</li>

{% endfor %}

							</ul>

						</div>

					</div>