{% set title = "Информация о компании" %}
{% set folder = "manager/company/item" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__head">

				<a href="/certificates" class="content__back">
					Назад
				</a>

				<h1 class="h2">
					{{ title }}
				</h1>

			</div>

			<div class="content__body">

				<div class="content__box company">

					<h2 class="company__name h2">
						ПАО «Газпром нефть»
					</h2>

					<p class="company__responsible">
						Ответственное лицо: <b>Иванов Н.С.</b>
					</p>

					<div class="accordion accordion--border">

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Регистрационные данные
							</div>

							<div class="accordion__body">

{% include "manager/company/item/reg.html" %}

							</div>

						</div>

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Информация о главном офисе компании
							</div>

							<div class="accordion__body">

{% include "manager/company/item/info.html" %}

							</div>

						</div>

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Банковские реквизиты
							</div>

							<div class="accordion__body">

{% include "manager/company/item/bank.html" %}

							</div>

						</div>

						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Производственная площадка №1
							</div>

							<div class="accordion__body">

{% include "manager/company/item/base-2.html" %}

							</div>

						</div>


						<div class="accordion__item">

							<div class="accordion__head accordion__btn">
								Производственная площадка №2
							</div>

							<div class="accordion__body">

{% include "manager/company/item/base-2.html" %}

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}