					<div class="product__sort product__sort--sm-align-items-end">

						<div class="product__sort-left">

							<h2 class="product__section heading">
								Опыт поставок и референция
							</h2>

							<div class="status-ico status-ico--red">

								<button class="link button" type="button" data-modal="experience">
									78 рекламаций
								</button>

							</div>

						</div>

{% set btnRadio = true %}
{% include "_include/sort.html" %}

					</div>

					<div class="product__flex">

						<div class="product__flex-left">

{% include "insights/catalog/product/experience/filter.html" %}

						</div>

						<div class="product__flex-body">

{% include "insights/catalog/product/experience/list.html" %}

						</div>

					</div>