					<div class="product__experience">

						<h2 class="product__heading">
							Опыт поставок и референция
						</h2>

						<div class="status-ico status-ico--red">

							<button class="link button" type="button" data-modal="experience">
								78 рекламаций
							</button>

						</div>

					</div>

					<div class="product__flex-right-btn">

						<div class="hidden-sm">

{% include "_include/sort.html" %}

						</div>

						<div class="visible-sm">

							<button class="btn btn--sort btn-open-filter" type="button">

								фильтр

								<svg width="24" height="24" viewBox="0 0 24 24">
									<path d="M7 13h10l1-2H6l1 2zM4 6c-.56 0-.8.4-.55.9L4 8h16l.55-1.1c.25-.5 0-.9-.54-.9H3.99zm6.78 11.56a.87.87 0 00.73.44h.98c.28 0 .61-.2.73-.44L14 16h-4l.78 1.56z"/>
								</svg>

							</button>

						</div>

					</div>

					<div class="product__flex">

						<div class="product__flex-left product__filter">

{% include "insights/catalog/product/experience/filter.html" %}

						</div>

						<div class="product__flex-body">

{% include "insights/catalog/product/experience/list.html" %}

						</div>

					</div>