{% set title = "Насос центробежный горизонтальный ТУ-2606-1510-88 - Опыт поставок и референция" %}

{% set description = "Применяются в технологических установках для перекачивания нефти, нефтепродуктов, сжиженных углеводородных газов." %}

{% set urlPage = "/insights/catalog/product" %}
{% set ogImage = "img/insights/product/images/1--780x672.jpg" %}
{% set ogImage256 = "img/insights/product/images/1--224x224.jpg" %}

{% set breadcrumbs = ['INSIGHTS','Каталог','Насосное оборудование','Центробежные насосы','Насос центробежный горизонтальный ТУ-2606-1510-88'] %}

{% extends "template/base.html" %}

{% block content %}

	<div class="center center--md-content">

		<div class="catalog-flex catalog-flex--menu">

			<div class="catalog-flex__left">

{% include "_include/live-search.html" %}

{% set menuCurrent = "experience" %}
{% include "insights/catalog/product/menu.html" %}

			</div>

			<div class="catalog-flex__body">

				<div class="product">

{% include "insights/catalog/product/head.html" %}

{% include "insights/catalog/product/experience/body.html" %}

{% include "insights/catalog/product/foot.html" %}

				</div>

			</div>

		</div>

	</div>

{% endblock %}