{% set title = "Насос центробежный горизонтальный ТУ-2606-1510-88" %}

{% set description = "Применяются в технологических установках для перекачивания нефти, нефтепродуктов, сжиженных углеводородных газов." %}

{% set urlPage = "insights/catalog/product" %}
{% set ogImage = "img/insights/catalog/product/main/photo@2x.jpg" %}
{% set ogImage256 = "img/insights/catalog/product/main/photo.jpg" %}

{% set authorized = false %}

{% extends "template/base.html" %}

{% block content %}

	<div class="product">

		<div class="center">

{% include "insights/catalog/product/back.html" %}

			<article class="product__body is-initial">

				<header class="product__header">

{% include "insights/catalog/product/head.html" %}

				</header>

				<section class="product__tab product__tab--main">

{% include "insights/catalog/product/main/body.html" %}

				</section>

				<section class="product__tab product__tab--description visuallyhidden">

{% include "insights/catalog/product/description/body.html" %}

				</section>

				<section class="product__tab product__tab--models visuallyhidden">

{% include "insights/catalog/product/models/body.html" %}

				</section>

				<section class="product__tab product__tab--performance visuallyhidden">

{% include "insights/catalog/product/performance/body.html" %}

				</section>

				<section class="product__tab product__tab--review visuallyhidden">

{% include "insights/catalog/product/review/body.html" %}

				</section>

				<section class="product__tab product__tab--lock visuallyhidden">

{% include "insights/catalog/product/lock/body.html" %}

				</section>

				<footer class="product__footer">

{% include "insights/catalog/product/foot.html" %}

				</footer>

			</article>

			<script>

				( (hash) => {

					if (hash) {

						document.querySelector('.product__tab--main').classList.add('visuallyhidden');
						document.querySelector('.product__tab--' + hash.slice(1)).classList.remove('visuallyhidden');
						document.querySelector('.product__body').classList.remove('is-initial');
						document.querySelector('.product__body').classList.toggle('is-lock', hash === "#lock");

					}

				})(window.location.hash);

			</script>

		</div>

	</div>

{% endblock %}