						<div class="key-value__item">

							<dt class="key-value__key">

								Ответственный менеджер:

							</dt>

							<dd class="key-value__value key-value__value--bold">

								Гилемханов Р.А.

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Эксперт:

							</dt>

							<dd class="key-value__value key-value__value--bold">

								Иванов И.И.

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Скачать программу <br>мероприятий:

							</dt>

							<dd class="key-value__value">

								<a class="btn btn--silver" href="/favicon.png" download="Программа_1234.doc" title="Скачать Программа_1234">

									<span class="btn__inner">

										Программа_1234.doc

{% include "_include/ico-download.html" %}

									</span>

								</a>

							</dd>

						</div>