{% set title = "Выезд на площадку" %}
{% set folder = "certification/departure" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

				<div class="content__head">

					<button onClick="history.back()" type="button" class="content__back button">
						Назад
					</button>

					<h1 class="h2">
						Заявка №1234567890
					</h1>

				</div>

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №1234567890
							</p>

{% include "_include/tooltip-group.html" %}

						</div>

						<div class="indent__head-right">

							<p class="status status--yellow">
								Проведение сертификации
							</p>

						</div>

					</div>

{% set step = 2 %}
{% include "_include/certification-step.html" %}

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Назначен эксперт Иванов И.И. Он планирует приехать к вам 10 октября в 10:00. Вам необходимо подтвердить время или назначить другое. Он проведет анализ состояния производства продукции на производственной площадке. Вам доступна для скачивания программа мероприятий по анализу состояния производства. После проведения анализа вам будет доступен для скачивания отчет,  а также вы сможете загрузить ответы на комментарии. При изменении статуса заявки вы получите уведомление в личном кабинете.
						</p>

					</div>

					<dl class="key-value key-value--table w100p">

						<div class="key-value__item">

							<dt class="key-value__key">

								Ответственный менеджер:

							</dt>

							<dd class="key-value__value key-value__value--bold">

								Гилемханов Р.А.

								<a href="/" class="ico-chat">
									<svg width="18" height="18" viewBox="0 0 18 18">
										<path d="M12 12h4V2H2v10h7.33L12 14v-2zm2 2v2a1 1 0 01-1.6.8L8.67 14H2a2 2 0 01-2-2V2a2 2 0 012-2h14a2 2 0 012 2v10a2 2 0 01-2 2h-2z"/>
										<path d="M4 6h10V4H4v2zm0 4h6V8H4v2z"/>
									</svg>
								</a>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Эксперт:

							</dt>

							<dd class="key-value__value key-value__value--bold">

								Петров И.И.

								<a href="/" class="ico-chat">
									<svg width="18" height="18" viewBox="0 0 18 18">
										<path d="M12 12h4V2H2v10h7.33L12 14v-2zm2 2v2a1 1 0 01-1.6.8L8.67 14H2a2 2 0 01-2-2V2a2 2 0 012-2h14a2 2 0 012 2v10a2 2 0 01-2 2h-2z"/>
										<path d="M4 6h10V4H4v2zm0 4h6V8H4v2z"/>
									</svg>
								</a>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Скачать программу <br>мероприятий:

							</dt>

							<dd class="key-value__value">

								<a class="btn btn--silver" href="/favicon.png" download="Программа_1234.doc" title="Скачать Программа_1234">

									<span class="btn__inner">

										<span class="btn__ellipsis">
											<span class="btn__ellipsis-inner">
												Программа_1234.doc
											</span>
										</span>

										<svg width="24" height="24" viewBox="0 0 24 24">
											<path d="M10.69 17.3A.98.98 0 009 18c0 .26.1.51.29.7l1.96 1.98a1.08 1.08 0 001.54 0l1.92-1.93a1 1 0 00-.7-1.7.98.98 0 00-.7.29l-1.29 1.3-1.33-1.35z"/>
											<path d="M13 20V10a1 1 0 00-1-1 1 1 0 00-1 1v10a1 1 0 001 1 1 1 0 001-1z"/>
											<path d="M7.94 5.48A5.1 5.1 0 002 10.5C2 13.4 4.38 16 7.1 16h2.88v-2H7.1c-1.66 0-3.11-1.66-3.11-3.5a3.1 3.1 0 013.1-3.09h.01c.39 0 .69.05.97.15l.17.07c.6.24.88-.25.88-.25l.15-.27A4.25 4.25 0 0112.98 5a4.14 4.14 0 014.07 3.65l.05.34s.07.52.66.52h.28c1.14 0 1.98.97 1.98 2.16 0 1.21-1 2.35-2.07 2.35h-3.97V16h3.96C20.1 16 22 13.96 22 11.66c0-2-1.31-3.66-3.14-4.07A6.08 6.08 0 0012.98 3c-1.98.02-3.9.9-5.04 2.48z"/>
										</svg>

									</span>

								</a>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Подтвердите или измените <br>дату и время приезда эксперта:

							</dt>

							<dd class="key-value__value">

								<input type="tel" class="input inputmask inputmask--date" value="10/10/2020" placeholder="дд/мм/гггг">

								<input type="tel" class="input inputmask inputmask--time" value="10:00" placeholder="мм:чч">

								<button class="btn btn--link" type="button" data-modal="departure-date">
									Подтвердить
								</button>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Скачать отчет с замечаниями:

							</dt>

							<dd class="key-value__value">

								<span class="btn btn--disabled">

									Отчет не загружен

								</span>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Загрузить ответы на комментарии:

							</dt>

							<dd class="key-value__value">

								<span class="btn btn--disabled">

									Выберите файл

								</span>

							</dd>

						</div>

					</dl>

					<div class="content__foot">

						<button class="btn btn--white" type="button">
							Есть вопросы?
						</button>

						<button class="btn btn--blue" disabled="disabled">
							Подтвердить
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}