					<dl class="key-value key-value--column">

						<div class="key-value__item">

							<dt class="key-value__key key-value__key--middle">

								Ваш сертификат:

							</dt>

							<dd class="key-value__value">

{% if status === 'load' %}

								<a class="btn btn-download" href="/img/INTI-S.10-000001-2020.png" target="_blank" title="открыть сертификат INTI-S.10-000001-2020">
									<span class="btn-download__inner">
										<span class="btn-download__text">
											INTI-S.10-000001-2020
										</span>
									</span>
								</a>

{% else %}

								<span class="btn btn--disabled">

									Сертификат не загружен

								</span>

{% endif %}

							</dd>

						</div>

					</dl>

					<div class="indent__signature">

						<div class="indent__signature-item">

{% if status === 'load' %}

							<a class="btn btn--link" href="/">
								Посмотреть в базе
							</a>

{% else %}

							<span class="btn btn--link-grey">
								Посмотреть в базе
							</span>

{% endif %}

						</div>

					</div>