					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №1234567890
							</p>

{% include "_include/tooltip-group.html" %}

						</div>

						<div class="indent__head-right">

							<p class="status status--green">
								Выдан сертификат
							</p>

						</div>

					</div>

{% set step = 5 %}
{% include "certification/steps.html" %}

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Поздравляем с успешным прохождением сертификации! Чтобы получить сертификат нужно подписать акты об оказании услуг в рамках пользовательского соглашения
						</p>

					</div>