			<aside class="modal__item modal__item--cart modal-mini align-center">

				<div class="modal-mini__logo">

					<img src="/img/modal/shopping-cart.svg"  width="54" height="54" loading="lazy" alt="">

				</div>

				<h3 class="modal-mini__title">
					Товар добавлен в корзину
				</h3>

				<p class="modal-mini__text">
					Стандарт <span id="name-product-add-in-cart">СТО IIOGT S.10.1 – 2020</span> добавлен в корзину. Вы можете продолжить покупки или оформить заказ.
				</p>

				<div class="modal-mini__btns">

					<button class="btn btn--white modal__close" type="button">
						Продолжить покупки
					</button>

					<a class="btn btn--blue" href="/cart/">
						Оформить заказ
					</a>

				</div>

			</aside>