			<form action="/" class="modal__item modal__item--manager-certificates-agreed modal-manager-certificates form-required">

				<h3 class="modal-manager-certificates__title">
					Согласовать заявку
				</h3>

				<div class="modal-manager-certificates__input-box">

					<div class="input-box">

						<span class="input-box__label">
							Адрес проведения испытания:
						</span>

						<textarea class="input input--fs16 input--textarea-4-row">141101, РОССИЯ, Московская область, Щелковский район, город Щелково, улица Заводская, дом 14, лит. А (здание испытательного комплекса и центральной заводской лаборатории)</textarea>

					</div>

				</div>

				<div class="modal-manager-certificates__input-box">

					<div class="input-box">

						<span class="input-box__label">
							Главный эксперт:
						</span>

						<div class="select select--border">

							<select class="form-required__item">
								<option value="none">Выбрать</option>
								<option value="1">Сушков Дмитрий Викторович</option>
								<option value="2">Ильин Владимир Вячеславович</option>
							</select>

						</div>

					</div>

				</div>

				<div class="modal-manager-certificates__input-box">

					<div class="input-box">

						<span class="input-box__label">
							Эксперт:
						</span>

						<div class="select select--border">

							<select class="form-required__item">
								<option value="none">Выбрать</option>
								<option value="1">Сушков Дмитрий Викторович</option>
								<option value="2">Ильин Владимир Вячеславович</option>
							</select>

						</div>

					</div>

				</div>

				<div class="one-more-expert">

					<div class="one-more-expert__inner"></div>

					<script type="text/html" class="one-more-expert__template">

						<div class="modal-manager-certificates__input-box">

							<div class="input-box">

								<span class="input-box__label">
									Эксперт:
								</span>

								<div class="select select--border">

									<select>
										<option value="none">Добавить эксперта</option>
										<option value="1">Сушков Дмитрий Викторович</option>
										<option value="2">Ильин Владимир Вячеславович</option>
									</select>

								</div>

							</div>

						</div>

					</script>

					<button class="one-more-expert__add btn btn--add w100p mb34" type="button">
						Добавить еще одного эксперта
					</button>

				</div>

				<div class="modal-manager-certificates__input-box">

					<div class="input-box">

						<span class="input-box__label">
							Результаты анализа заявки:
						</span>

						<label class="file-input">

							<input type="file" required="required">

							<span class="file-input__btn btn">
								Выберите файл
							</span>

						</label>

					</div>

				</div>

				<button class="btn btn--blue modal-manager-certificates__submit form-required__submit" disabled="disabled">
					Согласовать заявку
				</button>

			</form>

			<form action="/" class="modal__item modal__item--manager-certificates-canceled modal-manager-certificates">

				<h3 class="modal-manager-certificates__title">
					Отклонить заявку
				</h3>

				<div class="modal-manager-certificates__input-box">

					<div class="input-box">

						<span class="input-box__label">
							Описание причины:
						</span>

						<textarea class="input input--fs16 input--textarea-4-row">Равным образом укрепление и развитие структуры позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.</textarea>

					</div>

				</div>

				<div class="modal-manager-certificates__input-box">

					<div class="input-box">

						<span class="input-box__label">
							Отчет с замечаниями и предложениями:
						</span>

						<label class="file-input">

							<input type="file" required="required">

							<span class="file-input__btn btn">
								Выберите файл
							</span>

						</label>

					</div>

				</div>

				<button class="btn btn--blue modal-manager-certificates__submit">
					Отклонить заявку
				</button>

			</form>
