			<form action="/certification/step-2/done/" class="modal__item modal__item--certification-date modal-mini">

				<h3 class="modal-mini__title">
					Подтверждение даты и времени
				</h3>

				<p class="modal-mini__text">
					После того, как вы подтвердите дату и время, вы не сможете ее изменить. Если вам будет необходимо изменить дату и время после подтверждения, свяжитесь с ответственным менеджером в личной переписке.
				</p>

				<div class="modal-mini__btns">

					<button class="btn btn--white modal__close" type="button">
						Отмена
					</button>

					<button class="btn btn--blue">
						Подтвердить
					</button>

				</div>

			</form>

			<form action="/certification/step-2/done/hold/" class="modal__item modal__item--certification-date-change modal-mini">

				<h3 class="modal-mini__title">
					Изменение даты и времени
				</h3>

				<p class="modal-mini__text">
					Согласование изменения даты и времени занимает от 2 до 10 рабочих дней. Вы уверены, что хотите изменить дату и время? После подтверждения вы сможете внести изменения только через личную переписку с ответственным менеджером.
				</p>

				<div class="modal-mini__btns">

					<button class="btn btn--white">
						Изменить время
					</button>

					<button class="btn btn--blue modal__close" type="reset">
						Отмена
					</button>

				</div>

			</form>

			<form action="/certification/step-2/done/" class="modal__item modal__item--certification-date-canceled modal-mini certification-modal-date-canceled" data-action-change="/certification/step-2/done/hold/">

				<h3 class="modal-mini__title">
					Выбранные дата и время недоступны
				</h3>

				<p class="modal-mini__text">
					В выбранные вами дату и время эксперт не сможет приехать на площадку. Предлагаем вам новое время: <b>15 октября в 13:00</b>. Обращаем внимание, что если вы измените дату и время, согласование зайимет до 10 рабочих дней.
				</p>

				<div class="hide certification-modal-date-canceled__box-date-time">

{% include "certification/step-2/box-date-time--modal.html" %}

				</div>

				<div class="modal-mini__btns">

					<button class="btn btn--white certification-modal-date-canceled__btn-show" type="button">
						Изменить время
					</button>

					<button class="btn btn--blue">
						Подтвердить
					</button>

				</div>

			</form>

			<aside class="modal__item modal__item--certification-repeat modal-mini">

				<h3 class="modal-mini__title">
					Необходим повторный аудит
				</h3>

				<p class="modal-mini__text">
					На площадке были обнаружены нарушения, которые необходимо исправить, после чего эксперт совершит повторный выезд на площадку. После устранения недочетов выберите время приезда эксперта.
				</p>

				<div class="modal-mini__btns">

					<button type="button" class="btn btn--white">
						Есть вопросы?
					</button>

					<button type="button" class="btn btn--blue modal__close">
						Понятно
					</button>

				</div>

			</aside>

			<aside class="modal__item modal__item--certification-delivery-inti modal-mini">

				<h3 class="modal-mini__title">
					Доставка ИНТИ
				</h3>

				<p class="modal-mini__text">
					При выборе доставки ИНТИ наш курьер приедет к вам на площадку за образцами продукции. Доставка оплачивается отдельно. Точная сумма будет известна после уточнения деталей. Для согласования деталей свяжитесь с менеджером.
				</p>

				<div class="modal-mini__btns">

					<button type="button" class="btn btn--white modal__close">
						Отмена
					</button>

					<a href="/" class="btn btn--blue">
						Написать менеджеру
					</a>

				</div>

			</aside>

			<aside class="modal__item modal__item--certification-track modal-mini">

				<h3 class="modal-mini__title">
					Подпись акта в бумажном виде
				</h3>

				<p class="modal-mini__text">
					Подпишите и поставьте печати на акты в двух экземплярах со своей стороны и направьте по адресу: 121205, город Москва, территория Сколково инновационного центра, улица Сикорского, дом 11, эт/оф/пом 5/1/30. <br>
					Отправьте трек номер менеджеру.
				</p>

				<div class="modal-mini__btns">

					<button type="button" class="btn btn--white modal__close">
						Позже
					</button>

					<a href="/" class="btn btn--blue">
						Отправить трек
					</a>

				</div>

			</aside>