			<form action="/" class="modal__item modal__item--get-price modal-form form-required form">

				<input type="hidden" name="id" value="1935">
				<input type="hidden" name="tip" value="org">
				<input type="hidden" name="lang" value="EN">
				<input type="hidden" name="lic" value="one">

				<h3 class="modal-form__title">
					Запрос цены
				</h3>

				<div class="modal-form__input">

					<label class="input-box">

						<span class="input-box__label">
							* ФИО:
						</span>

						<input class="input" required="required" name="fio">

					</label>

				</div>

				<div class="modal-form__input">

					<label class="input-box">

						<span class="input-box__label">
							* Контактный номер:
						</span>

						<input class="input" required="required" name="phone" type="tel">

					</label>

				</div>

				<div class="modal-form__input">

					<label class="input-box">

						<span class="input-box__label">
							* Email:
						</span>

						<input class="input" required="required" name="email" type="email">

					</label>

				</div>

				<button class="btn btn--blue modal-form__submit form-required__submit" disabled="disabled">
					Запросить цену
				</button>

				<p class="modal-form__foot">
					* Нажимая кнопку «Запросить цену», я соглашаюсь <br> с условиями <a href="/" target="_blank">пользовательского соглашения</a>
				</p>

			</form>