	<div class="modal__item modal__item--get-price">

		<form action="/" class="modal-login" id="form-modal-get-price">

			<input type="hidden" name="id" value="123">
			<input type="hidden" name="lang" value="ru">

			<h3 class="modal-login__head">
				Пройдите регистрацию/авторизацию
			</h3>

			<div class="modal-login__btn-next-reg">

				<a href="/" class="btn btn--blue" target="_blank">
					Перейти
				</a>

			</div>

			<div class="modal-login__or">
				или
			</div>

			<h3 class="modal-login__head">
				Оформите запрос
			</h3>

			<div class="modal-login__fieldset">

				<div class="inputbox">

					<label for="modal-login-name" class="inputbox__label">
						Ваше ФИО
					</label>

					<input class="input" required="required" name="name" id="modal-login-name">

				</div>

				<div class="inputbox">

					<label for="modal-login-email" class="inputbox__label">
						Рабочий email
					</label>

					<input class="input" required="required" name="email" type="email" id="modal-login-email">

				</div>

			</div>

			<div class="modal-login__foot">

				<p class="modal-login__rule">
					Нажимая кнопку, вы соглашаетесь <br>
					с <a href="/" class="link" target="_blank">Политикой конфиденциальности</a>
				</p>

				<button class="btn btn--blue form__submit">
					Отправить
				</button>

			</div>

		</form>

	</div>