			<aside class="modal__item modal__item--certificates-stage-agreed modal-indent">

				<div class="indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

						</div>

						<div class="indent__head-right">

							<p class="status status--green">
								Заявка согласована
							</p>

						</div>

					</div>

					<dl class="key-value key-value--column">

{% include "certificates/agreed/body.html" %}

						<div class="key-value__item">

							<dt class="key-value__key">
								Скачать результаты <br>анализа заявки:
							</dt>

							<dd class="key-value__value">

								<a class="btn btn-download" href="/favicon.png" download="Результаты анализа_1234567890.doc" title="Скачать Результаты анализа_1234567890">
									<span class="btn-download__inner">
										<span class="btn-download__text">
											Результаты анализа_1234567890.doc
										</span>
									</span>
								</a>

							</dd>

						</div>

					</dl>

				</div>

			</aside>

			<aside class="modal__item modal__item--certificates-stage-contract modal-indent">

				<div class="indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

						</div>

						<div class="indent__head-right">

							<p class="status status--yellow">
								Заключение договора
							</p>

						</div>

					</div>

{% include "contract/desc.html" %}

{% set status = "green" %}
{% set file = "Квитанция_об_оплате.png" %}
{% include "contract/body.html" %}

				</div>

			</aside>

			<aside class="modal__item modal__item--certificates-stage-step-1 modal-certificates">

				<div class="indent">

{% set step = 1 %}
{% include "template/modal/history-head.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-1/experts.html" %}

{% set status = "load" %}
{% include "certification/step-1/analiz.html" %}

{% set fileLoad = "Комментарии по отчету.doc" %}
{% include "certification/file-comm.html" %}

					</dl>

				</div>

			</aside>

			<aside class="modal__item modal__item--certificates-stage-step-2 modal-certificates">

				<div class="indent">

{% set step = 2 %}
{% include "template/modal/history-head.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-2/experts.html" %}

{% set status = "done" %}
{% include "certification/step-2/date-time.html" %}

{% set status = "load" %}
{% include "certification/step-2/analiz.html" %}

{% include "certification/file-comm.html" %}

					</dl>

				</div>

			</aside>

			<aside class="modal__item modal__item--certificates-stage-step-3 modal-certificates">

				<div class="indent">

{% set step = 3 %}
{% include "template/modal/history-head.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-3/experts.html" %}

{% set selected = "independent" %}
{% include "certification/step-3/select.html" %}

{% set status = "load" %}
{% include "certification/step-3/analiz.html" %}

{% include "certification/file-comm.html" %}

					</dl>

				</div>

			</aside>

			<aside class="modal__item modal__item--certificates-stage-step-4 modal-certificates">

				<div class="indent">

{% set step = 4 %}
{% include "template/modal/history-head.html" %}

					<dl class="key-value key-value--column">

{% include "certification/step-4/experts.html" %}

{% set status = "green" %}
{% include "certification/step-4/result.html" %}

{% set status = "load" %}
{% include "certification/step-4/analiz.html" %}

					</dl>

				</div>

			</aside>

			<aside class="modal__item modal__item--certificates-stage-step-5 modal-certificates">

				<div class="indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №1234567890
							</p>

						</div>

						<div class="indent__head-right">

							<p class="status status--green">
								Выдан сертификат
							</p>

						</div>

					</div>

{% set step = 5 %}
{% include "certification/steps.html" %}

{% include "certification/step-5/desc.html" %}

{% set status = "green" %}
{% include "certification/step-5/signature.html" %}

{% set status = "load" %}
{% include "certification/step-5/certificate.html" %}

				</div>

			</aside>