	<aside class="modal__item modal__item--invitations-complete modal-dialog modal__hide-btn-close">

		<p class="modal-dialog__text">
			Поздравляем, теперь вы участник рабочей <br>
			группы. Смотрите <a href="/docs/my-workgroups/">“Мои рабочие группы”</a>
		</p>

		<div class="modal-dialog__foot">

			<button class="btn btn--outline modal__close" type="button">
				Закрыть
			</button>

			<a href="/" class="btn btn--blue" id="modal-invitations-complete-link">
				Перейти в рабочую группу
			</a>

		</div>

	</aside>