	<div class="modal__item modal__item--red">

		<form action="/" class="modal-login form">

			<h3 class="modal-login__head">
				Пройдите регистрацию
			</h3>

			<div class="modal-login__btn-next-reg">

				<button class="btn btn--blue" type="button" data-modal="reg">
					Перейти
				</button>

			</div>

			<div class="modal-login__or">
				или
			</div>

			<h3 class="modal-login__head">
				Авторизацию
			</h3>

			<div class="modal-login__fieldset">

				<div class="inputbox">

					<label for="modal-reg-name" class="inputbox__label">
						Ваше ФИО
					</label>

					<input class="input" required="required" name="name" id="modal-reg-name">

				</div>

				<div class="inputbox">

					<label for="modal-reg-email" class="inputbox__label">
						Рабочий email
					</label>

					<input class="input" required="required" name="email" type="email" id="modal-reg-email">

				</div>

			</div>

			<div class="modal-login__foot">

				<p class="modal-login__rule">
					Нажимая кнопку, вы соглашаетесь <br>
					с <a href="/" class="link" target="_blank">Политикой конфиденциальности</a>
				</p>

				<button class="btn btn--blue form__submit">
					Отправить
				</button>

			</div>

		</form>

	</div>