			<form action="/" class="modal__item modal__item--review modal-review">

				<h3 class="modal-review__title">
					Оставить отзыв
				</h3>

				<div class="modal-review__radio">

					<div class="modal-review__label">
						Срок поставки:
					</div>

					<div class="modal-review__control">

						<input type="radio" class="modal-review__input" required="required" data-star="1.0" value="1" name="delivery">
						<input type="radio" class="modal-review__input" required="required" data-star="2.0" value="2" name="delivery">
						<input type="radio" class="modal-review__input" required="required" data-star="3.0" value="3" name="delivery">
						<input type="radio" class="modal-review__input" required="required" data-star="4.0" value="4" name="delivery">
						<input type="radio" class="modal-review__input" required="required" data-star="5.0" value="5" name="delivery">

						<span class="modal-review__value"></span>
						<span class="modal-review__stars"></span>

					</div>

				</div>

				<div class="modal-review__radio">

					<div class="modal-review__label">
						Соответствие характеристикам:
					</div>

					<div class="modal-review__control">

						<input type="radio" class="modal-review__input" required="required" data-star="1.0" value="1" name="compliance">
						<input type="radio" class="modal-review__input" required="required" data-star="2.0" value="2" name="compliance">
						<input type="radio" class="modal-review__input" required="required" data-star="3.0" value="3" name="compliance">
						<input type="radio" class="modal-review__input" required="required" data-star="4.0" value="4" name="compliance">
						<input type="radio" class="modal-review__input" required="required" data-star="5.0" value="5" name="compliance">

						<span class="modal-review__value"></span>
						<span class="modal-review__stars"></span>

					</div>

				</div>

				<div class="modal-review__radio">

					<div class="modal-review__label">
						Эксплуатация:
					</div>

					<div class="modal-review__control">

						<input type="radio" class="modal-review__input" required="required" data-star="1.0" value="1" name="use">
						<input type="radio" class="modal-review__input" required="required" data-star="2.0" value="2" name="use">
						<input type="radio" class="modal-review__input" required="required" data-star="3.0" value="3" name="use">
						<input type="radio" class="modal-review__input" required="required" data-star="4.0" value="4" name="use">
						<input type="radio" class="modal-review__input" required="required" data-star="5.0" value="5" name="use">

						<span class="modal-review__value"></span>
						<span class="modal-review__stars"></span>

					</div>

				</div>

				<div class="modal-review__radio">

					<div class="modal-review__label">
						Общие впечатления:
					</div>

					<div class="modal-review__control">

						<input type="radio" class="modal-review__input" required="required" data-star="1.0" value="1" name="total">
						<input type="radio" class="modal-review__input" required="required" data-star="2.0" value="2" name="total">
						<input type="radio" class="modal-review__input" required="required" data-star="3.0" value="3" name="total">
						<input type="radio" class="modal-review__input" required="required" data-star="4.0" value="4" name="total">
						<input type="radio" class="modal-review__input" required="required" data-star="5.0" value="5" name="total">

						<span class="modal-review__value"></span>
						<span class="modal-review__stars"></span>

					</div>

				</div>

				<label for="modal-review-comm" class="modal-review__label">
					Комментарий:
				</label>

				<textarea name="comm" id="modal-review-comm" class="input" placeholder="Напишите..." required="required"></textarea>

				<div class="modal__flex-end">

					<button class="btn btn--white modal__close" type="button">
						Отмена
					</button>

					<button class="btn btn--blue">
						Отправить отзыв
					</button>

				</div>

			</form>

			<aside class="modal__item modal__item--review-login">

				<h3 class="modal__heading">
					Пожалуйста, зарегистрируйтесь
				</h3>

				<p class="modal__text">
					Для того, чтобы оставить отзыв, Вам необходимо зарегистрироваться и заполнить данные о компании в личном кабинете, или осуществить вход в аккаунт.
				</p>

				<p class="modal__rule">
					* Нажимая кнопку «Зарегистрироваться» я соглашаюсь с условиями пользовательского соглашения
				</p>

				<div class="modal__flex-end">

					<a class="btn btn--white" href="/account/login/">
						Вход
					</a>

					<a class="btn btn--blue" href="/account/signup/">
						Регистрация
					</a>

				</div>

			</aside>

			<aside class="modal__item modal__item--review-verified modal-info">

				<img class="modal-info__ico" src="/img/modal/sync.svg" loading="lazy" width="58" height="58" alt="">

				<h3 class="modal-review__title">
					Ваш аккаунт еще <br>не верифицирован
				</h3>

				<p class="modal-info__text">
					В данный момент мы проверяем введенные Вами данные. Проверка занимает до 3 рабочих дней. Если у вас есть вопросы, пожалуйста, свяжитесь с нами
				</p>

				<div class="modal-info__btn">

					<button class="btn btn--blue" type="button">
						Есть вопросы?
					</button>

				</div>

			</aside>

			<aside class="modal__item modal__item--review-noaccess modal-info">

				<img class="modal-info__ico" src="/img/modal/candidate.svg" loading="lazy" width="54" height="54" alt="">

				<h3 class="modal-review__title">
					Вы являетесь <br>компанией-производителем
				</h3>

				<p class="modal-info__text">
					Отзыв может написать только верифицированный аккаунт нефтегазовой или инжиниринговой компании. Если у вас есть вопросы, пожалуйста, свяжитесь с нами
				</p>

				<div class="modal-info__btn">

					<button class="btn btn--blue" type="button">
						Есть вопросы?
					</button>

				</div>

			</aside>