	<form action="/" class="form modal__item modal__item--workgroup-item-stage-download modal-stage modal__hide-btn-close">

		<input type="hidden" name="id">

		<p class="modal-stage__text">
			Когда вы скачиваете файл при локальном редактировании - не забудьте прикрепить обновленный файл в чат. Вы также можете посмотреть <a href="/" target="_blank">полную инстукцию</a>.
		</p>

		<div class="modal-stage__foot">

			<button class="btn btn--outline modal__close" type="button">
				Закрыть
			</button>

			<button class="btn btn--blue form__submit">
				Скачать
			</button>

		</div>

		<div class="modal-stage__checkbox">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input" name="not-modal">

					<span class="checkbox__label">
						Больше не показывать
					</span>

				</label>

			</div>

		</div>

	</form>