	<form action="/" class="form modal__item modal__item--workgroup-item-updating modal-request">

		<p class="modal-request__head h3">
			Запросить актуализацию
		</p>

		<label class="modal-request__inputbox">

			<span class="modal-request__label">
				Опишите причину актуализации стандарта
			</span>

			<textarea class="input" name="desc" placeholder="Введите причину."></textarea>

		</label>

		<div class="modal-request__foot">

			<button class="btn btn--blue form__submit">
				Отправить
			</button>

		</div>

	</form>