	<form action="/" class="modal__item modal__item--workgroup-item-stage-vote modal-stage-vote" id="workgroup-item-stage-vote-against" data-required="Необходим обоснованный голос против|Скачайте документ, добавьте свои комментарии и загрузите стандарт в окно ниже">

		<div class="modal-stage-vote__head">

			<h3 class="modal-stage-vote__title h3">
				Проголосовать против
			</h3>

		</div>

		<p class="modal-stage-vote__text">
			<a href="/" target="_blank">Скачайте документ</a>, добавьте свои комментарии и загрузите стандарт в окно ниже
		</p>

		<label class="modal-stage-vote__input-file">

			<input class="modal-stage-vote__input-file-input" type="file" name="file" required="required">

			<span class="modal-stage-vote__input-file-text">
				Перетащите документ <br>или <span class="color-blue">загрузите</span>
			</span>

		</label>

		<label class="modal-stage-vote__inputbox">

			<span class="modal-stage-vote__label">
				Общие комментарии к документу
			</span>

			<textarea class="input" name="description" placeholder="Введите комментарий"></textarea>

		</label>

		<div class="flex flex--justify-end">

			<button class="modal-stage-vote__submit btn btn--blue" disabled="disabled">
				Отправить
			</button>

		</div>

	</form>