{% set title = "INTI insights" %}

{% set description = "Поиск и выбор проверенного оборудования, услуг, технологий с подробным описанием каждого продукта, опыта использования и отзывами потребителей" %}

{% extends "template/base.html" %}

{% block content %}

{% set short = true %}
{% set folder = "insights/noempty/" %}

{% include "insights/body.html" %}

	<div class="insights-search-result">

		<div class="center">

			<div class="insights-catalog">

				<h1 class="insights-catalog__title">
					Запрос “Центробежные”
				</h1>

{% include "insights/catalog/filter.html" %}
{% include "insights/catalog/list.html" %}

			</div>

		</div>

	</div>

{% endblock %}