{% set title = "Рассмотрение заявки" %}
{% set folder = "certificates/review" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

{% include "certificates/head.html" %}

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

{% include "_include/tooltip-group.html" %}

						</div>

						<div class="indent__head-right">

							<p class="status status--yellow">
								Рассмотрение заявки
							</p>

						</div>

					</div>

{% include "certificates/info.html" %}

					<div class="indent__desc">

						<div class="indent__desc-inner">

							<p>
								Мы обратываем заявку. На рассмотрение уходит не более 5 рабочих дней. <br>Не позднее 1 октября по Вашей заявке будет назначен ответсвенный менеджер и рабочая экспертная группа, а так же Вам будет доступен для скачивания отчет по результатам анализа заявки. При изменении статуса заявки вы получите уведомление в личном кабинете.
							</p>

							<p>
								Обратите внимание, мы  рассматриваем информацию и документацию, которая отражена в разделе “Информация о компании”. Пожалуйста, поддерживайте актуальность данных.
							</p>

						</div>

					</div>

					<div class="content__foot">

						<a class="btn btn--white" href="/">
							Проверить данные
						</a>

						<button class="btn btn--blue" type="button">
							Есть вопросы?
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}