{% set title = "Испытания продукции | Доставка ИНТИ" %}
{% set folder = "manager/certification/step-3/shipping" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/" class="content__box indent">

{% include "manager/certification/head.html" %}

{% set step = 3 %}
{% include "certification/steps.html" %}

					<dl class="key-value key-value--column">

{% include "manager/certification/info.html" %}

{% include "manager/certification/step-3/address.html" %}

{% set delivery = "shipping" %}
{% include "manager/certification/step-3/delivery.html" %}

{% set files = ["not","not"] %}
{% include "manager/certification/step-3/files.html" %}

					</dl>

					<div class="indent__desc">

						<p class="indent__desc-inner">
							Пользователь выбрал доставку ИНТИ. Вам необходимо связаться с ним в чате, чтобы обсудить детали доставки. После того, как детали будут согласованы, ожидайте загрузки отчета по разультатам проведения испытаний от ответственного за проведение испытаний.
						</p>

					</div>

				</form>

			</div>

		</div>

	</div>

{% endblock %}