					<div class="product__sort">

						<div class="product__sort-left">

							<h2 class="product__section heading">
								Сертификаты
							</h2>

						</div>

{% set btnRadio = true %}
{% include "_include/sort.html" %}

					</div>

					<div class="product__flex">

						<div class="product__flex-left">

{% include "insights/catalog/product/certificates/filter.html" %}

						</div>

						<div class="product__flex-body">

{% include "insights/catalog/product/certificates/list.html" %}

						</div>

					</div>