{% set title = "Выдача сертификата | Проверяется" %}
{% set folder = "certification/issue/checked" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<div class="content__box indent">

{% include "certification/issue/step-5.html" %}

					<dl class="key-value key-value--table w100p">

						<div class="key-value__item">

							<dt class="key-value__key">

								Подписание акта:

							</dt>

							<dd class="key-value__value">

								<a class="btn btn--silver" href="/favicon.png" download="Акт №567890.pdf" title="Скачать Акт №567890">

									<span class="btn__inner">

										Акт №567890.pdf

{% include "_include/ico-download.html" %}

									</span>

								</a>

							</dd>

						</div>

					</dl>

					<div class="indent__signature">

						<div class="indent__signature-item">

							<span class="status-ico status-ico--grey">
								Проверяется
							</span>

						</div>

					</div>

					<dl class="key-value key-value--table w100p">

						<div class="key-value__item">

							<dt class="key-value__key">

								Ваш сертификат:

							</dt>

							<dd class="key-value__value">

								<span class="btn btn--disabled">

									Сертификат не загружен

								</span>

							</dd>

						</div>

					</dl>

					<div class="indent__signature">

						<div class="indent__signature-item indent__signature-item--disabled">
							Посмотреть в базе
						</div>

					</div>

					<div class="content__foot">

						<button class="btn btn--blue" disabled="disabled">
							Подтвердить
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}