{% set title = "Выезд на площадку | Ожидается подтверждение" %}
{% set folder = "certification/departure/done/hold" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<div class="content__box indent">

{% include "certification/departure/step-2.html" %}

					<dl class="key-value key-value--table w100p">

{% include "certification/departure/experts.html" %}

{% set status = "hold" %}
{% include "certification/departure/date-time.html" %}

{% include "certification/departure/files.html" %}

					</dl>

{% include "certification/departure/foot.html" %}

				</div>

			</div>

		</div>

	</div>

{% endblock %}