					<div class="product__images">

						<div class="swiper-gallery-preview swiper-gallery-preview--use">

							<div class="swiper-gallery-preview__preview">

								<ul class="swiper-gallery-preview__list">

{% for img in [1,2,3] %}

									<li class="swiper-gallery-preview__item{% if loop.first %} is-current{% endif %}">

										<a class="swiper-gallery-preview__link" target="_blank" href="/img/insights/product/images/{{ img }}--780x672.jpg">

											<picture>

												<source srcset="/img/insights/product/images/{{ img }}--112x112.webp 1x, /img/insights/product/images/{{ img }}--224x224.webp 2x" type="image/webp">
												<source srcset="/img/insights/product/images/{{ img }}--112x112.jpg 1x, /img/insights/product/images/{{ img }}--224x224.jpg 2x">

												<img src="/img/insights/product/images/{{ img }}--112x112.jpg" alt="{{ title }}" loading="eager" width="112" height="112">

											</picture>

										</a>

									</li>

{% endfor %}

								</ul>

							</div>

							<div class="swiper-gallery-preview__big swiper-gallery-preview__big--center">

								<ul>

{% for img in [1,2,3] %}

									<li class="swiper-gallery-preview__big-item{% if loop.first === false %} hide{% endif %}">

										<picture>

											<source srcset="/img/insights/product/images/{{ img }}--390x336.webp 1x, /img/insights/product/images/{{ img }}--780x672.webp 2x" type="image/webp">
											<source srcset="/img/insights/product/images/{{ img }}--390x336.jpg 1x, /img/insights/product/images/{{ img }}--780x672.jpg 2x">

											<img src="/img/insights/product/images/{{ img }}--390x336.jpg" alt="{{ title }}" loading="lazy" width="390" height="336">

										</picture>

									</li>

{% endfor %}

								</ul>

							</div>

						</div>

					</div>