					<div class="product__images">

						<div class="swiper-gallery-preview swiper-gallery-preview--use">

							<div class="swiper-gallery-preview__preview">

								<ul class="swiper-gallery-preview__list">

{% for img in [1,2,3] %}

									<li class="swiper-gallery-preview__item{% if loop.first %} is-current{% endif %}">

{% include "insights/catalog/product/use/preview.html" %}

									</li>

{% endfor %}

								</ul>

							</div>

							<div class="swiper-gallery-preview__big swiper-gallery-preview__big--center">

								<ul>

{% for img in [1,2,3] %}

									<li class="swiper-gallery-preview__big-item{% if loop.first === false %} hide{% endif %}">

{% include "insights/catalog/product/use/big.html" %}

									</li>

{% endfor %}

								</ul>

							</div>

						</div>

					</div>