{% set title = site %}

{% set dev = true %}

{% extends "template/base.html" %}

{% block content %}

<div class="center">

	<h1>
		Страницы
	</h1>

	<ul class="h3">
		<li><a href="https://inti-lk.wndrbase.com/">ЛК</a></li>
		<li><a href="https://inti.wndrbase.com/">ver 1</a></li>
		<li><a href="https://inti-v2.wndrbase.com/">ver 2</a></li>
		<li>
			<a href="/error/403/">403</a>,
			<a href="/error/404/">404</a>,
			<a href="/error/503/">503</a>,
			<a href="/error/500/">500</a>
		</li>
		<li><a href="/main/">Главная</a></li>
	</ul>

	<h2>
		Docs
	</h2>

	<ul class="h3">
		<li><a href="/docs/">INTI.docs</a></li>
		<li><a href="/docs/standarts/">Каталог стандартов</a></li>
		<li><a href="/docs/analytics/">Каталог аналитических обзоров</a></li>
		<li><a href="/docs/catalog/">Каталог (не актуальный)</a></li>
		<li><a href="/docs/catalog/login/">Каталог (авторизирован)</a></li>
		<li><a href="/docs/catalog/empty/">Каталог (ничего не найдено)</a></li>
		<li><a href="/docs/standart/">Карточка стандарта</a></li>
		<li><a href="/docs/analytic/">Карточка аналитического обзора</a></li>
		<li><a href="/docs/analytic/login/">Карточка аналитического обзора (авторизирован)</a></li>
	</ul>

	<h2>
		Insights
	</h2>

	<ul class="h3">
		<li><a href="/insights/">INTI.insights</a></li>
		<li><a href="/insights/catalog/">Каталог</a></li>
		<li><a href="/insights/noempty/">Поиск не пустой</a></li>
		<li><a href="/insights/product/">Карточка товара</a></li>
	</ul>

	<h2>
		Quality
	</h2>

	<ul class="h3">
		<li><a href="/quality/">INTI.quality</a></li>
		<li><a href="/quality/login/">INTI.quality (авторизирован)</a></li>
	</ul>

	<h2>
		Регистрация пользователей
	</h2>

	<ul class="h3">
		<li><a href="/account/login/">Вход</a></li>
		<li><a href="/account/signup/">Регистрация</a></li>
		<li><a href="/account/recovery/">Забыли пароль?</a></li>
	</ul>

	<hr>

	<h2>
		Формы
	</h2>

	<div class="flex flex--wrap">

		<div class="item w100p">

			<input class="input" placeholder=".input">

		</div>

		<div class="item">

			<label class="input-box">

				<span class="input-box__label">
					label:
				</span>

				<input class="input" placeholder="placeholder">

			</label>

		</div>

		<div class="item">

			<div class="input-box">

				<span class="input-box__label">
					label:
				</span>

				<div class="select">

					<select>
						<option value="none">Выбрать</option>
						<option value="1">Рассмотрение заявки</option>
						<option value="2">Заявка согласована</option>
						<option value="3">Заявка отклонена</option>
						<option value="4">Заключение договора</option>
						<option value="5">Договор заключен</option>
						<option value="6">Договор отклонен</option>
						<option value="7">Проведенеие сертификации</option>
						<option value="8">Выдан сертификат</option>
						<option value="9">Сертификация не пройдена</option>
					</select>

				</div>

			</div>

		</div>

	</div>

	<h3>
		Кнопки
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn btn--blue">
				blue
			</button>

		</div>

		<div class="item">

			<button class="btn btn--blue" disabled="disabled">
				blue [disabled]
			</button>

		</div>

		<div class="item">

			<button class="btn btn--warning">
				warning (оранженвый)
			</button>

		</div>

		<div class="item">

			<button class="btn btn--warning" disabled="disabled">
				warning [disabled]
			</button>

		</div>

		<div class="item">

			<button class="btn btn--white">
				white
			</button>

		</div>

		<div class="item">

			<button class="btn btn--white" disabled="disabled">
				white disabled
			</button>

		</div>

		<div class="item">

			<button class="btn btn--outline">
				outline
			</button>

		</div>

		<div class="item">

			<button class="btn btn--big-radius">
				big-radius
			</button>

		</div>

	</div>

	<h3>
		Tooltip
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="tooltip-wrap">

				<div class="tooltip-static">

					<div class="tooltip-static__inner">
						tooltip-static Такой компании нет в базе, Введите полное название компании, она будет принята к рассмотрению.
					</div>

				</div>

				<svg width="24" height="24" viewBox="0 0 24 24">
					<path d="M12.77 3.98a2 2 0 0 1 .65.44l6.16 6.16a2 2 0 0 1 0 2.84l-6.16 6.16a2 2 0 0 1-2.84 0l-6.16-6.16a2 2 0 0 1 0-2.84l6.16-6.16a2 2 0 0 1 2.19-.44Zm-1.48 9.73A1 1 0 0 0 13 13V8a1 1 0 0 0-2 0v5c0 .27.1.52.3.7Zm0 3a1 1 0 1 0 1.42-1.42 1 1 0 0 0-1.42 1.42Z"/>
				</svg>

			</div>

		</div>

	</div>

	<div class="flex flex--wrap">

		<div class="item">

			<details class="tooltip-help">

				<summary class="tooltip-help__btn">
					Подсказка
				</summary>

				<p class="tooltip-help__inner">
					tooltip-help Законадательством данные  закреплены и регулируются ст.433 и 438 Гражданского кодекса РФ. По результатам исполнения услуги оформляют акты об оказании услуг, которые мы можем подписать электронно или традиционным способом
				</p>

			</details>

		</div>

		<div class="item">

			<details class="tooltip-help tooltip-help--achtung">

				<summary class="tooltip-help__btn">
					Подсказка
				</summary>

				<p class="tooltip-help__inner">
					tooltip-help--achtung Законадательством данные  закреплены и регулируются ст.433 и 438 Гражданского кодекса РФ. По результатам исполнения услуги оформляют акты об оказании услуг, которые мы можем подписать электронно или традиционным способом
				</p>

			</details>

		</div>

	</div>

	<h3>
		Select
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="select">

				<select>
					<option value="none">Выбрать</option>
					<option value="1">Рассмотрение заявки</option>
					<option value="2">Заявка согласована</option>
					<option value="3">Заявка отклонена</option>
					<option value="4">Заключение договора</option>
					<option value="5">Договор заключен</option>
					<option value="6">Договор отклонен</option>
					<option value="7">Проведенеие сертификации</option>
					<option value="8">Выдан сертификат</option>
					<option value="9">Сертификация не пройдена</option>
					<option value="0">Все статусы</option>
				</select>

			</div>

		</div>

		<div class="item">

			<div class="select">

				<select>
					<option value="">Выбрать</option>
					<option value="2">Заявка согласована</option>
					<option value="3">Заявка отклонена</option>
					<option value="4">Заключение договора</option>
					<option value="5">Договор заключен</option>
					<option value="6">Договор отклонен</option>
					<option value="7">Проведенеие сертификации</option>
					<option value="8">Выдан сертификат</option>
					<option value="9">Сертификация не пройдена</option>
					<option value="0">Все статусы</option>
				</select>

			</div>

		</div>

		<div class="item">

			<div class="select">

				<select>
					<option value="">Выбрать</option>
					<option value="2">Заявка согласована</option>
					<option value="3">Заявка отклонена</option>
					<option value="4">Заключение договора</option>
					<option value="5">Договор заключен</option>
					<option value="6">Договор отклонен</option>
					<option value="7">Проведенеие сертификации</option>
					<option value="8">Выдан сертификат</option>
					<option value="9">Сертификация не пройдена</option>
					<option value="0" selected="selected">Все статусы</option>
				</select>

			</div>

		</div>

		<div class="item">

			<div class="select">

				<select>
					<option value="none">Выбрать</option>
					<option value="1">ПАО Газпром нефть</option>
					<option value="2">Газпром</option>
					<option value="3">Газпром нефть - ЦР</option>
					<option value="4">Газпром нефть - ПИ</option>
					<option value="5">Газпром нефть - МА</option>
					<option value="6">Газпром нефть - ЩЫ</option>
					<option value="7">Газпром нефть - ЁЕ</option>
				</select>

			</div>

		</div>

		<div class="item">

			<div class="select select--scroll">

				<select>
					<option value="0">Выбрать</option>
					<option value="1">ПАО Газпром нефть</option>
					<option value="2">Газпром</option>
					<option value="3">Газпром нефть - ЦР</option>
					<option value="4">Газпром нефть - ПИ</option>
					<option value="5">Газпром нефть - МА</option>
					<option value="6">Газпром нефть - ЩЫ</option>
					<option value="7">Газпром нефть - ЁЕ</option>
				</select>

			</div>

		</div>

		<div class="item">

			<div class="select select--filter select--scroll">

				<select>
					<option value="">Выбрать</option>
					<option value="1">ПАО Газпром нефть</option>
					<option value="2">Газпром</option>
					<option value="3">Газпром нефть - ЦР</option>
					<option value="4">Газпром нефть - ПИ</option>
					<option value="5">Газпром нефть - МА</option>
					<option value="6">Газпром нефть - ЩЫ</option>
					<option value="7">Газпром нефть - ЁЕ</option>
				</select>

			</div>

		</div>

	</div>

	<h3>
		Checkbox
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<div class="checkbox">

				<label class="checkbox__control">

					<input type="checkbox" class="checkbox__input">

					<span class="checkbox__label">
						Рекомендовано с комментариями
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div class="checkbox-dropdown">

				<button class="checkbox-dropdown__btn button" type="button" data-declension="параметр,параметра,параметров">
					Выберите параметры
				</button>

				<div class="checkbox-dropdown__list">

					<div class="checkbox">

						<label class="checkbox__control">

							<input type="radio" name="checkbox-radio" class="checkbox__input checkbox-dropdown__input">

							<span class="checkbox__label">
								Рекомендовано
							</span>

						</label>

					</div>

					<div class="checkbox">

						<label class="checkbox__control">

							<input type="radio" name="checkbox-radio" class="checkbox__input checkbox-dropdown__input">

							<span class="checkbox__label">
								Рекомендовано с комментариями
							</span>

						</label>

					</div>

					<div class="checkbox">

						<label class="checkbox__control">

							<input type="radio" name="checkbox-radio" class="checkbox__input checkbox-dropdown__input">

							<span class="checkbox__label">
								Не рекомендовано
							</span>

						</label>

					</div>

				</div>

			</div>

		</div>

	</div>

	<hr>

	<h2>
		Статусы
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<span class="status status--green">
				green
			</span>

		</div>

		<div class="item">

			<span class="status status--red">
				red
			</span>

		</div>

		<div class="item">

			<span class="status status--yellow">
				yellow
			</span>

		</div>

	</div>

	<h3>
		С иконками
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<span class="status-ico status-ico--red">
				red
			</span>

		</div>

		<div class="item">

			<span class="status-ico status-ico--grey">
				grey
			</span>

		</div>

		<div class="item">

			<span class="status-ico status-ico--green">
				green
			</span>

		</div>

	</div>

	<hr>

	<h2>
		Модалки
	</h2>

	<div class="flex flex--wrap">

		<div class="item w100p">

			<p>
				модальное окно можно вызвать и js:
			</p>

			<code>

		const eventModalShow = new CustomEvent("modalShow", {
			detail: {
				selector: "login"
			}
		});

		window.modal.dispatchEvent(eventModalShow);

			</code>

			<p>
				где `login` модификатор модального окна
			</p>

		</div>

		<div class="item">

			<button class="btn btn--blue" type="button" data-modal="get-price">
				Оформите запрос
			</button>

		</div>

		<div class="item">

			<button class="btn btn--blue" type="button" data-modal="add-docs">
				Предложить стандарт
			</button>

		</div>

		<div class="item">

			<button class="btn btn--blue" type="button" data-modal="add-quality">
				Оформление заявки
			</button>

		</div>

		<div class="item">

			<button class="btn btn--blue" type="button" onclick="notification('Ваша запрос принят','мы оповестим вас в личном кабинете и по e-mail в течении 2 дней')">
				Уведомление с заголовком
			</button>

		</div>

		<div class="item">

			<button class="btn btn--blue" type="button" onclick="notification(false,'Ваша запрос принят, мы оповестим вас <br>в личном кабинете и по e-mail в течении 2 дней',10)">
				Уведомление с таймером 10 сек
			</button>

		</div>

	</div>

	<hr>

	<h3>
		Пагинация если 8 и менее страниц
	</h3>

{% include "docs/catalog/pagin.html" %}

	<h3>
		Пагинация если более 8 страниц
	</h3>

{% include "template/pagin.html" %}

</div>

{% endblock %}