{% set title = "Account" %}

{% extends "template/base.html" %}

{% block content %}

	<style>

		details:not([class]) {

			padding: 10px;

		}

		details:not([class]) details {

			margin: 10px;

		}

		details:not([class]) ul {

			margin: 10px 0 10px 30px;

		}

		summary:not([class]) {

			font-size: 18px;
			font-weight: 700;
			cursor: pointer;

		}

		main hr {

			margin: 20px 0;

		}

		main h1, main h2, main h3 {

			margin: 20px 0 10px;

		}

		main .flex {

			margin: 0 -10px;

		}

		main p {

			margin: 0 10px;

		}

		main .item {

			margin: 10px;

		}

		code {

			margin: 10px;
			background-color: #fff;
			color: #000;
			display: block;
			border: 1px solid #efefef;
			white-space: pre;

		}

	</style>

	<h1>
		Страницы
	</h1>

	<details>

		<summary>
			Сертификация прото
		</summary>

		<details>

			<summary>
				Отправить заявку
			</summary>

			<ul class="h3">
				<li><a data-modal="login">Оформление заявки</a></li>
				<li><a data-modal="thanks">Спасибо за заявку!</a></li>
			</ul>

		</details>

		<details>

			<summary>
				Компания
			</summary>

			<ul class="h3">
				<li><a href="/company">Информация о компании</a></li>
				<li><a href="/company/add">Добавить производственную площадку</a></li>
			</ul>

		</details>

	</details>

	<details open>

		<summary>
			Сертификация ЛК производителя
		</summary>

		<details open>

			<summary>
				Заявки
			</summary>

			<ul class="h3">
				<li><a href="/certificates">Текущие заявки</a></li>
				<li><a href="/certificates/review">Рассмотрение заявки</a></li>
				<li><a href="/certificates/canceled">Заявка отклонена</a></li>
				<li><a href="/certificates/agreed">Заявка согласована</a></li>
				<li><a href="/certificates/agreed/not-loaded">Заявка согласована | Анализ не загружен</a></li>
				<li><a href="/certificates/info">Информация о заявке</a></li>
				<li><a href="/certificates/history">История по заявке (не готовы модалки)</a></li>
			</ul>

		</details>

		<details>

			<summary>
				Заключение договора без запроса договора
			</summary>

			<ul class="h3">
				<li><a href="/contract/without/">Заключение договора без запроса договора | Не оплачено</a></li>
				<li><a href="/contract/without/checked">Заключение договора без запроса договора | Проверяется</a></li>
				<li><a href="/contract/without/paid">Заключение договора без запроса договора | Оплачено</a></li>
			</ul>

		</details>

		<details>

			<summary>
				Заключение договора если пользователь запросил договор
			</summary>

			<ul class="h3">
				<li><a href="/contract">Договор не заключен</a></li>
				<li><a data-modal="contract-prompt">Запросить договор</a></li>
				<li><a href="/contract/prompt">Договор Запрошено</a></li>
				<li><a href="/contract/signature">Договор На подпись</a></li>
				<li><a data-modal="contract-post">Подпись договора в бумажном виде</a></li>
				<li><a href="/contract/signature/checked">Подпись договора в бумажном виде | Проверяется</a></li>
				<li><a href="/contract/signature/signed">Подпись договора | Подписан</a></li>
				<li><a href="/contract/signature/payment/checked">Заключение договора | Проверяется оплата</a></li>
				<li><a href="/contract/signature/payment/paid">Заключение договора | Оплачено</a></li>
			</ul>

		</details>

		<details open>

			<summary>
				Камеральная экспертиза
			</summary>

			<ul class="h3">
				<li><a href="/certification/">Проведение сертификации</a></li>
				<li><a href="/certification/disabled/">Проведение сертификации (не активный)</a></li>
				<li><a href="/certification/departure/">Выезд на площадку (Если пользователь подтверждает предложенную дату и время) - чаты, календарь, подтвердить</a></li>
				<li><a href="/certification/departure/done">Выезд на площадку (Подтверждено)</a></li>
				<li><a href="/certification/departure/done/comments">Выезд на площадку (Комментарии)</a></li>
				<li><a href="/certification/departure/done/repeat">Выезд на площадку (Необходим повторный аудит)</a></li>
				<li><a href="/certification/departure/confirm">Выбранные дата и время недоступны</a></li>
				<li><a href="/certification/departure/confirm">Выезд на площадку (Ожидается подтверждение)</a></li>
			</ul>

		</details>

	</details>

	<details>

		<summary>
			ЛК менеджера
		</summary>

	</details>


	<hr>

	<h2>
		Формы
	</h2>

	<div class="flex flex--wrap">

		<div class="item w100p">

			<input class="input" placeholder=".input">

		</div>

		<div class="item">

			<label class="input-box">

				<span class="input-box__label">
					label:
				</span>

				<input class="input" placeholder="placeholder">

			</label>

		</div>

	</div>

	<h3>
		Кнопки
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<button class="btn btn--add">
				add
			</button>

		</div>

		<div class="item">

			<button class="btn btn--silver">
				silver
			</button>

		</div>

		<div class="item">

			<button class="btn btn--blue">
				blue
			</button>

		</div>

		<div class="item">

			<button class="btn btn--blue" disabled="disabled">
				blue [disabled]
			</button>

		</div>

		<div class="item">

			<button class="btn btn--disabled">
				disabled
			</button>

		</div>

		<div class="item">

			<button class="btn btn--light">
				light
			</button>

		</div>

		<div class="item">

			<button class="btn btn--white">
				white
			</button>

		</div>

	</div>

	<h3>
		radio-group
	</h3>

	<span class="radio-group">

		<span class="radio-group__item">

			<label class="radio-input">

				<input class="radio-input__input" type="radio" name="sex" checked="checked">

				<span class="radio-input__label">
					Да
				</span>

			</label>

		</span>

		<span class="radio-group__item">

			<label class="radio-input">

				<input class="radio-input__input" type="radio" name="sex">

				<span class="radio-input__label">
					Нет
				</span>

			</label>

		</span>

	</span>

	<div class="flex">

		<div class="item">

			<div>

				<h3>
					file-input
				</h3>

				<label class="file-input">

					<input type="file">

					<span class="file-input__btn btn btn--silver">
						Выберите файл
					</span>

				</label>

			</div>

		</div>

		<div class="item">

			<div>

				<h3>
					file-input-group
				</h3>

				<div class="file-input-group">

					<label class="file-input">

						<input type="file" name="file">

						<span class="file-input__btn btn btn--silver">
							Выберите файл
						</span>

					</label>

				</div>

			</div>

		</div>

	</div>

	<h3>
		Select
	</h3>

	<div class="flex flex--wrap">

		<p class="w100p">
			у .select возможные модификаторы: scroll, right, list-w360 <br>
			выпадающий value="none" в списке не отображается, <br>
			если value="none" [selected], то select принимает default стиль
		</p>

		<div class="item">

			<div class="select select--scroll">

				<select>
					<option value="none">Выбрать</option>
					<option value="1">Рассмотрение заявки</option>
					<option value="2">Заявка согласована</option>
					<option value="3">Заявка отклонена</option>
					<option value="4">Заключение договора</option>
					<option value="5">Договор заключен</option>
					<option value="6">Договор отклонен</option>
					<option value="7">Проведенеие сертификации</option>
					<option value="8">Выдан сертификат</option>
					<option value="9">Сертификация не пройдена</option>
					<option value="0">Все статусы</option>
				</select>

			</div>

		</div>

		<div class="item">

			<div class="select select--right select--list-w360">

				<select>
					<option value="1">Рассмотрение заявки</option>
					<option value="2">Заявка согласована</option>
					<option value="3">Заявка отклонена</option>
					<option value="4">Заключение договора</option>
					<option value="5">Договор заключен</option>
					<option value="6">Договор отклонен</option>
					<option value="7">Проведенеие сертификации</option>
					<option value="8">Выдан сертификат</option>
					<option value="9">Сертификация не пройдена</option>
					<option value="0" selected="selected">Все статусы</option>
				</select>

			</div>

		</div>

		<div class="item">

			<div class="select select--snow">

				<select>
					<option value="1">Рассмотрение заявки</option>
					<option value="2">Заявка согласована</option>
					<option value="3">Заявка отклонена</option>
					<option value="4">Заключение договора</option>
					<option value="5">Договор заключен</option>
					<option value="6">Договор отклонен</option>
					<option value="7">Проведенеие сертификации</option>
					<option value="8">Выдан сертификат</option>
					<option value="9">Сертификация не пройдена</option>
					<option value="0" selected="selected">Все статусы</option>
				</select>

			</div>

		</div>

	</div>

	<h3>
		DatePicker
	</h3>

	<div class="flex">

		<div class="item">

			<div class="input-date">

				<input type="tel" class="input inputmask inputmask--date input-date__input" value="10/10/2020" placeholder="дд/мм/гггг">

				<button class="button input-date__btn" type="button" aria-label="Открыть календарь">
					<svg width="24" height="24" viewBox="0 0 24 24">
						<path d="M5 5h14a2 2 0 012 2v12a2 2 0 01-2 2H5a2 2 0 01-2-2V7c0-1.1.9-2 2-2zm0 4v9a1 1 0 001 1h12a1 1 0 001-1V9H5zm1-5a1 1 0 012 0v1H6V4zm10 0a1 1 0 012 0v1h-2V4zm-9 9v-2h2v2H7zm8 0v-2h2v2h-2zm-4 0v-2h2v2h-2zm-4 4v-2h2v2H7zm4 0v-2h2v2h-2zm4 0v-2h2v2h-2z"/>
					</svg>
				</button>

			</div>

		</div>

	</div>

	<h3>
		Time
	</h3>

	<div class="flex">

		<div class="item">

			<div class="input-time">

				<input type="tel" class="input inputmask inputmask--time input-time__input" value="10:00" placeholder="мм:чч">

				<button class="button input-time__btn" type="button" aria-label="Открыть список">
					<svg width="24" height="24" viewBox="0 0 24 24">
						<path d="M12 19a7 7 0 100-14 7 7 0 000 14zm0 2a9 9 0 110-18 9 9 0 010 18z"/>
						<path d="M11.07 12.38a1 1 0 00.22.33l2.67 2.66a1 1 0 001.41-1.41L13 11.59V8a1 1 0 00-2 0v4a1 1 0 00.08.39v-.01zm6.55-6.07zM4 12zm2.38 5.7zm11.33-.1zM4 12zm16 0z"/>
					</svg>
				</button>

				<div class="select select--right input-time__select">

					<select>
						<option value="09:00">9:00</option>
						<option value="10:00" selected="selected">10:00</option>
						<option value="11:00">11:00</option>
						<option value="12:00">12:00</option>
						<option value="13:00">13:00</option>
						<option value="14:00">14:00</option>
						<option value="15:00">15:00</option>
						<option value="16:00">16:00</option>
						<option value="17:00">17:00</option>
					</select>

				</div>

			</div>

		</div>

	</div>

	<hr>

	<h2>
		tooltip
	</h2>

	<h3>
		tooltip-title
	</h3>

{% include "_include/tooltip-group.html" %}

	<h3>
		tooltip-help
	</h3>

	<details class="tooltip-help">

		<summary class="tooltip-help__btn">
			Подсказка
		</summary>

		<p class="tooltip-help__inner">
			Законадательством данные  закреплены и регулируются ст.433 и 438 Гражданского кодекса РФ. По результатам исполнения услуги оформляют акты об оказании услуг, которые мы можем подписать электронно или традиционным способом
		</p>

	</details>

	<hr>

	<h2>
		Статусы
	</h2>

	<div class="flex flex--wrap">

		<div class="item">

			<span class="status status--green">
				green
			</span>

		</div>

		<div class="item">

			<span class="status status--red">
				red
			</span>

		</div>

		<div class="item">

			<span class="status status--yellow">
				yellow
			</span>

		</div>

	</div>

	<h3>
		С иконками
	</h3>

	<div class="flex flex--wrap">

		<div class="item">

			<span class="status-ico status-ico--red">
				red
			</span>

		</div>

		<div class="item">

			<span class="status-ico status-ico--grey">
				grey
			</span>

		</div>

		<div class="item">

			<span class="status-ico status-ico--green">
				green
			</span>

		</div>

	</div>

	<hr>

	<h2>
		Модалки
	</h2>

	<div class="flex flex--wrap">

		<div class="item w100p">

			<p>
				модальное окно можно вызвать и js:
			</p>

			<code>

				const eventModalShow = new CustomEvent("modalShow", {
					detail: {
						selector: "company"
					}
				});

				window.modal.dispatchEvent(eventModalShow);

			</code>

			<p>
				где `company` модификатор модального окна
			</p>

		</div>

		<div class="item">

			<button class="btn btn--blue" type="button" data-modal="company">
				Спасибо за регистрацию!
			</button>

		</div>

	</div>

{% endblock %}