					<dl class="key-value key-value--column">

{% include "manager/certificates/info-head.html" %}

{% set list = [

	{
		key   : "Категория",
		value : "Насосное оборудование (Цетробежные)"
	},
	{
		key   : "Продукт",
		value : "Насосы однокорпусные питательные"
	},
	{
		key   : "Орган сертификации",
		value : "Ассоциация «СЦ НАСТХОЛ»"
	},
	{
		key   : "Стандарт",
		value : "ASME"
	},
	{
		key   : "Производственная площадка",
		value : "ООО “Волгограднефтемаш”, г. Волгоград"
	}

]%}

{% include "_include/key-value__item.html" %}

						<div class="key-value__item">

							<dt class="key-value__key">
								Документация по системе <br>качества:
							</dt>

							<dd class="key-value__value">
								<a class="btn btn-download" href="/favicon.png" download="Документация_ТехноОПТ.doc">
									<span class="btn-download__text">
										Документация_ТехноОПТ.doc
									</span>
								</a>
							</dd>

						</div>

					</dl>