{% for item in list %}

						<div class="content__box">

							<div class="certificates__item">

								<div class="certificates__head">

									<div class="flex flex--align-center">

										<a href="/manager/certificates/new/{{ item.url }}/" class="certificates__number h3">
											Заявка №{{ item.number }}
										</a>

{% if item.status %}

										<p class="certificates__status">
											<span class="status status--{{ item.status.mod }}">
												{{ item.status.text }}
											</span>
										</p>

{% endif %}


{% if item.alarm %}

										<a class="certificates__alarm tooltip-title tooltip-title--alarm" title="{{ item.alarm }}" href="/manager/certificates/new/{{ item.url }}/">
											<svg width="24" height="24" viewBox="0 0 24 24">
												<path fill-rule="evenodd" clip-rule="evenodd" d="M11.06 4.97c.52-.98 1.36-.98 1.88 0l7.12 13.46c.52.97.05 1.77-1.05 1.77H5c-1.1 0-1.58-.8-1.06-1.77l7.12-13.46zm.23 9.74A1 1 0 0013 14V9a1 1 0 00-2 0v5c0 .27.1.52.3.7zm0 3a1 1 0 101.42-1.42 1 1 0 00-1.42 1.42z" fill="#F44336"/>
											</svg>
										</a>

{% endif %}


{% if item.date %}

										<p class="certificates__date">
											{{ item.date }}
										</p>
{% endif %}

									</div>

{% include "_include/tooltip-group-manager.html" %}

								</div>

								<dl class="key-value">

									<div class="key-value__item">

										<dt class="key-value__key">
											Компания:
										</dt>

										<dd class="key-value__value key-value__value--bold">
											{{ item.company }}
										</dd>

									</div>

									<div class="key-value__item">

										<dt class="key-value__key">
											Категория:
										</dt>

										<dd class="key-value__value">
											{{ item.category }}
										</dd>

									</div>

									<div class="key-value__item">

										<dt class="key-value__key">
											Продукт:
										</dt>

										<dd class="key-value__value">
											{{ item.product }}
										</dd>

									</div>

								</dl>

							</div>

						</div>

{% endfor %}