{% set title = "В работе" %}
{% set folder = "manager/certificates/new/operation" %}
{% set user = "manager" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body content__body--indent">

{% include "certificates/head--history-back.html" %}

				<div class="content__box indent">

					<div class="indent__head">

						<div class="indent__head-left">

							<p class="indent__number h2">
								Заявка №567890
							</p>

{% include "_include/tooltip-group-manager.html" %}

						</div>

						<div class="indent__head-right">

							<p class="indent__head-right-item indent__head-date">
								13.10.2020 в 15:34
							</p>

							<p class="indent__head-right-item indent__head-status">
								<span class="status status--green">
									В работе
								</span>
							</p>

						</div>

					</div>

{% set chat = "true" %}
{% include "manager/certificates/info.html" %}

					<div class="content__foot">

						<button class="btn btn--white" type="button" data-modal="manager-certificates-canceled">
							Отклонить заявку
						</button>

						<button class="btn btn--blue" type="button" data-modal="manager-certificates-agreed">
							Согласовать заявку
						</button>

					</div>

				</div>

			</div>

		</div>

	</div>

{% endblock %}