{% set title = "Верификация результатов | Выдано отрицательное заключение" %}
{% set folder = "certification/verification/canceled" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/certification/verification/canceled/" class="content__box indent">

{% include "certification/verification/step-4.html" %}

					<dl class="key-value key-value--table w100p">

						<div class="key-value__item">

							<dt class="key-value__key">

								Ответственный менеджер:

							</dt>

							<dd class="key-value__value key-value__value--bold">

								Гилемханов Р.А.

{% include "_include/tooltip-help-chat.html" %}

							</dd>

						</div>

{% set expertGroupChat = "true" %}
{% include "_include/expert-group.html" %}

						<div class="key-value__item">

							<dt class="key-value__key">

								Заключение:

							</dt>

							<dd class="key-value__value">

								<span class="status-ico status-ico--red">
									Выдано отрицательное заключение
								</span>

							</dd>

						</div>

						<div class="key-value__item">

							<dt class="key-value__key">

								Скачать отчет по итогам проведения сертификации:

							</dt>

							<dd class="key-value__value">

								<a class="btn btn--silver" href="/favicon.png" download="Отчет по сертифик_1234.doc" title="Скачать Отчет по сертифик_1234">

									<span class="btn__inner">

										Отчет по сертифик_1234.doc

{% include "_include/ico-download.html" %}

									</span>

								</a>

							</dd>

						</div>

					</dl>

					<div class="content__foot">

						<button class="btn btn--white" type="button">
							Подать аппеляцию
						</button>

						<button class="btn btn--blue">
							Подтвердить
						</button>

					</div>

				</form>

			</div>

		</div>

	</div>

{% endblock %}