{% set title = "Выезд на площадку" %}
{% set folder = "manager/certification/step-2" %}

{% extends "template/base.html" %}

{% block content %}

	<div class="content">

		<div class="content__block">

			<div class="content__body">

{% include "certification/head.html" %}

				<form action="/{{ folder }}/wait/" class="content__box indent">

{% set status = "alarm" %}
{% include "manager/certification/head.html" %}

{% set step = 2 %}
{% include "certification/steps.html" %}

					<dl class="key-value key-value--column">

{% include "manager/certification/info.html" %}

{% include "manager/certification/step-2/programm.html" %}

{% include "manager/certification/step-2/date-time.html" %}

					</dl>

{% include "manager/certification/step-2/desc.html" %}
{% include "manager/certification/foot.html" %}

				</form>

			</div>

		</div>

	</div>

{% endblock %}